%aside.nav-sidebar{ class: ("sidebar-collapsed-desktop" if collapsed_sidebar?), **sidebar_tracking_attributes_by_object(current_user), 'aria-label': _('Dashboard navigation') }
  .nav-sidebar-inner-scroll
    .context-header
      = link_to @project, title: _('Dashboard'), class: 'has-tooltip', data: { container: 'body', placement: 'right' } do
        %span{ class: ['avatar-container', 'settings-avatar', 's32'] }
          = project_icon(@project, alt: @project.full_name, class: 'avatar project-avatar avatar-tile', width: 32, height: 32)
        %span.sidebar-context-title= @project.namespace.full_name
    %ul.sidebar-top-level-items

      = nav_link(path: 'projects#show') do
        = link_to @project do
          .nav-icon-container
            = sprite_icon('home')
          %span.nav-item-name
            = _('Dashboard')

        %ul.sidebar-sub-level-items.is-fly-out-only
          = nav_link(path: 'projects#show') do
            = link_to @project do
              %strong.fly-out-top-item-name
                = _('Dashboard')

      = nav_link(path: 'projects/environments#index') do
        = link_to project_environments_path(@project) do
          .nav-icon-container
            = sprite_icon('package')
          %span.nav-item-name
            = _('Environments')

        %ul.sidebar-sub-level-items.is-fly-out-only
          = nav_link(path: 'projects/environments#index') do
            = link_to project_environments_path(@project) do
              %strong.fly-out-top-item-name
                = _('Environments')

      = nav_link(path: 'projects/deployments#show') do
        = link_to project_deployments_path(@project) do
          .nav-icon-container
            = sprite_icon('chart')
          %span.nav-item-name
            = _('Deployments')

        %ul.sidebar-sub-level-items.is-fly-out-only
          = nav_link(path: 'projects/deployments#show') do
            = link_to project_deployments_path(@project) do
              %strong.fly-out-top-item-name
                = _('Deployments')

      - if @project
        = nav_link(path: 'projects/tree#show') do
          = link_to project_tree_path(@project) do
            .nav-icon-container
              = sprite_icon('branch')
            %span.nav-item-name
              = _('Repository')

          %ul.sidebar-sub-level-items.is-fly-out-only
            = nav_link(path: 'projects/tree#show') do
              = link_to project_tree_path(@project) do
                %strong.fly-out-top-item-name
                  = _('Repository')

        - if can?(current_user, :admin_project, @project)
          = nav_link(path: 'projects#edit') do
            = link_to edit_project_path(@project, anchor: 'js-general-project-settings') do
              .nav-icon-container
                = sprite_icon('settings')
              %span.nav-item-name.qa-settings-item#js-onboarding-settings-link
                = _('Settings')

            %ul.sidebar-sub-level-items.is-fly-out-only
              = nav_link(path: 'projects#edit') do
                = link_to edit_project_path(@project, anchor: 'js-general-project-settings') do
                  %strong.fly-out-top-item-name
                    = _('Settings')

    = render 'shared/sidebar_toggle_button'
