-# %aside.nav-sidebar.uf-help-sidebar{ class: ("sidebar-collapsed-desktop" if collapsed_sidebar?), **sidebar_tracking_attributes_by_object(current_user), 'aria-label': _("Help") }
%aside.nav-sidebar.uf-help-sidebar{ 'aria-label': _("Help") }
  .nav-sidebar-inner-scroll
    .context-header
      = link_to help_path, title: _('Help'), class: 'has-tooltip uf-help-sidebar-header', data: { container: 'body', placement: 'right' } do
        -# %span.gl-mr-3
        -#   = image_tag "unfurl-box-default.svg"
        %span.sidebar-context-title
          %strong= _("Help")
        %hr
    %ul.sidebar-top-level-items

      = nav_link(path: 'help#introduction') do
        = link_to help_path(:anchor => "introduction") do
          %strong.nav-item-name
            = _('Introduction')

        %ul.uf-sidebar-subsection
          = nav_link(path: 'help#what-is-unfurl-cloud') do
            = link_to help_path(:anchor => "what-is-unfurl-cloud") do
              %span
                = _('What is Unfurl Cloud?')

        %ul.uf-sidebar-subsection
          = nav_link(path: 'help#benefits-of-using-unfurl-cloud') do
            = link_to help_path(:anchor => "benefits-of-using-unfurl-cloud") do
              %span
                = _('Benefits of Unfurl Cloud')

      = nav_link(path: 'help#user-guides') do
        = link_to help_path(:anchor => "user-guides") do
          %strong.nav-item-name
            = _('User Guides')

        %ul.uf-sidebar-subsection
          = nav_link(path: 'help/guides/getting_started_aws') do
            = link_to help_page_path("guides/getting_started_aws") do
              %span
                = _('Getting Started: AWS')

        %ul.uf-sidebar-subsection
          = nav_link(path: 'help/guides/getting_started_gcp') do
            = link_to help_page_path("guides/getting_started_gcp") do
              %span
                = _('Getting Started: Google')

        -# Commenting this out until we have the UI and guide for local development done - John G (May 2022)
        -# %ul.uf-sidebar-subsection
        -#   = nav_link(path: 'help/guides/getting_started_local') do
        -#     = link_to help_page_path("guides/getting_started_local") do
        -#       %span
        -#         = _('Getting Started: Local Dev')

      = nav_link(path: 'help#developer-guide') do
        = link_to help_path(:anchor => "developer-guide") do
          %strong.nav-item-name
            = _('Developer Guide')

    -# = render 'shared/sidebar_toggle_button'
