-# OC Change -- show custom message for testbed dashboard group

.row.gl-align-items-center.gl-justify-content-center
  .order-md-2
    = custom_icon("icon_cloud_testbeds")

  .text-content.order-md-1{ class: 'gl-m-0!' }
    - if request.path == '/onecommons/testbeds'
      %h4= s_("Want to help build the Free and Open Cloud?")
      %p
        - link_url = current_user ? user_path(current_user) : new_session_path(:user, redirect_to_referer: 'yes')
        - link_start = '<a href="%{url}" rel="noopener noreferrer">'.html_safe % { url: link_url }
        = html_escape(_('%{link_start}Become a developer%{link_end} to gain access and start deploying!')) % { link_start: link_start, link_end: '</a>'.html_safe }

    - else
      %h4= s_("GroupsEmptyState|A group is a collection of several projects.")
      %p= s_("GroupsEmptyState|If you organize your projects under a group, it works like a folder.")
      %p= s_("GroupsEmptyState|You can manage your group member’s permissions and access to each project in the group.")
