-# OC Change #1000 -- Indicate regular/developer user on profile page + dev mode request link
.gl-text-gray-900.m-2
  = render 'middle_dot_divider' do
    = _("User level: ")
    .bold.inline
      = user_level_text
  - if @user == current_user
    = render 'middle_dot_divider' do
      = link_to profile_account_path(anchor: 'user-mode') do
        = _('Switch User Level')
