<svg fill="none" height="69" viewBox="0 0 214 69" width="214" xmlns="http://www.w3.org/2000/svg">
<path fill="#fff" stroke="#00d2d9" stroke-miterlimit="10" d="m200.56 2.56995h-137.65c-3.5623 0-6.45 2.88776-6.45 6.45v47.14995c0 3.5623 2.8877 6.45 6.45 6.45h137.65c3.562 0 6.45-2.8877 6.45-6.45v-47.14995c0-3.56224-2.888-6.45-6.45-6.45z"/>
<path fill="#00d2d9" d="m63.0801 2.09998h-8.94v61.04002h8.94z"/>
<path fill="#00d2d9" d="m55.3801 63.14h-45.42996c-4.31 0-7.81-3.49-7.81-7.81v-45.44004c0-4.31 3.49-7.81 7.81-7.81h45.42996"/>
<path fill="#fff" d="m46.6301 38.66c-1.66 1.87-4.06 3.27-6.26 2.4-.8-.33-1-1.07-.93-1.87.07-1.07.27-2.13.47-3.2l2.66-13.99h-5.06l-2.2 12.46c-.33 1.47-.93 2.73-2.06 3.73-1.07 1-2.4 1.53-4.06 1.53-2 0-2.93-.93-2.93-2.67 0-.33.07-.87.2-1.47l2.6-13.73h-5.13l-2.6 13.93c-.13.93-.2 1.6-.2 2.2 0 1.87.47 3.4 1.53 4.4 1.07 1 2.53 1.53 4.39 1.53 2.8 0 4.99-.67 6.79-2 0 0 .27 2.8 5.06 3.33 1.4.13 3.13.13 5.33-.2 1.66-.33 3.06-1 4.39-1.87 4.06-2.73 5.92-7.66 5.59-12.39-.27-4.26-1.86-8.4-4.46-11.73-2.53-3.33-6.06-5.86-10.05-7.2-2.26-.8-4.66-1.2-6.99-1.2h-.13c-5.72 0-11.18 2.33-15.24 6.4-4.06 4.13-6.26 9.53-6.26 15.26.07 11.86 9.72 21.52 21.57 21.52h.13c4.33 0 8.52-1.27 12.05-3.6 2.6-1.73 4.33-3.93 5.59-5.73-2.8 2-6.26 3.13-9.52 3.13-.8 0-1.53-.07-2.33-.2-1.4.47-3.53 1-5.86 1h-.13c-8.99 0-16.04-7.06-16.11-16.13.07-9.06 7.12-16.19 16.18-16.26h.13c6.46 0 12.45 3.93 14.84 9.93 1.2 2.93 1.8 6.46.87 9.53-.33 1-1 2.13-1.86 3.13z"/>
<g fill="#00d2d9">
<path d="m93.0201 21.56c0 2.12-.6 3.74-1.81 4.86s-2.94 1.69-5.22 1.69h-3.64v-12.85h4.03c2.1 0 3.73.55 4.89 1.66s1.74 2.65 1.74 4.64zm-2.83.07c0-2.76-1.22-4.14-3.66-4.14h-1.45v8.37h1.17c2.62 0 3.94-1.41 3.94-4.23z"/>
<path d="m99.9201 28.2901c-1.58 0-2.82-.44-3.71-1.31s-1.34-2.11-1.34-3.71.41-2.92 1.23-3.82 1.96-1.35 3.42-1.35c1.4599 0 2.4699.4 3.2399 1.19s1.16 1.88 1.16 3.28v1.3h-6.3399c.03.76.25 1.36.68 1.78s1.01.64 1.7799.64c.59 0 1.15-.06 1.68-.18s1.08-.32 1.65-.59v2.07c-.47.23-.97.41-1.5.52-.53.12-1.18.17-1.9499.17zm-.38-8.28c-.57 0-1.01.18-1.34.54-.32.36-.51.87-.55 1.53h3.7599c-.01-.66-.18-1.17-.52-1.53-.33-.36-.79-.54-1.3499-.54z"/>
<path d="m111.51 28.2901c-1.15 0-2.06-.42-2.72-1.26h-.14c.09.82.14 1.29.14 1.42v3.98h-2.68v-14.15h2.18l.38 1.27h.12c.63-.97 1.56-1.46 2.79-1.46 1.16 0 2.07.45 2.72 1.34s.98 2.14.98 3.74c0 1.05-.15 1.96-.46 2.73s-.75 1.36-1.31 1.77-1.24.61-2 .61zm-.79-8.04c-.66 0-1.15.2-1.45.61s-.46 1.08-.47 2.02v.29c0 1.05.16 1.81.47 2.27s.81.69 1.49.69c1.2 0 1.8-.99 1.8-2.97 0-.97-.15-1.69-.44-2.17-.3-.48-.76-.73-1.39-.73z"/>
<path d="m120.18 28.1101h-2.68v-13.68h2.68z"/>
<path d="m131.92 23.1801c0 1.6-.42 2.85-1.27 3.75s-2.02 1.35-3.52 1.35c-.94 0-1.78-.21-2.5-.62s-1.27-1.01-1.66-1.78-.58-1.68-.58-2.71c0-1.61.42-2.85 1.26-3.74s2.02-1.34 3.53-1.34c.94 0 1.78.21 2.5.62s1.27 1 1.66 1.77.58 1.67.58 2.7zm-6.79 0c0 .97.16 1.71.48 2.21s.84.75 1.56.75 1.23-.25 1.54-.74.47-1.23.47-2.21-.16-1.7-.47-2.19-.83-.73-1.56-.73-1.23.24-1.55.73c-.32.48-.47 1.21-.47 2.19z"/>
<path d="m132.73 18.28h2.94l1.85 5.53c.16.48.27 1.05.33 1.71h.05c.06-.6.19-1.17.38-1.71l1.82-5.53h2.87l-4.16 11.08c-.38 1.03-.92 1.79-1.63 2.3s-1.53.76-2.47.76c-.46 0-.92-.05-1.36-.15v-2.13c.32.08.67.11 1.05.11.47 0 .89-.14 1.24-.44.35-.29.63-.73.83-1.31l.16-.48-3.9-9.76z"/>
<path d="m157.13 28.11-.76-3.44-1.02-4.34h-.06l-1.79 7.78h-2.88l-2.79-9.83h2.67l1.13 4.35c.18.78.37 1.85.55 3.23h.05c.02-.45.13-1.15.31-2.12l.14-.75 1.21-4.71h2.95l1.15 4.71c.02.13.06.32.11.57s.1.52.15.8c.05.29.09.56.13.84.04.27.06.49.07.65h.05c.05-.42.15-1 .28-1.74.13-.73.23-1.23.29-1.49l1.18-4.35h2.63l-2.83 9.83h-2.92z"/>
<path d="m164.35 15.7401c0-.87.49-1.31 1.46-1.31s1.46.44 1.46 1.31c0 .42-.12.74-.36.97s-.61.35-1.09.35c-.97 0-1.46-.44-1.46-1.32zm2.79 12.37h-2.68v-9.83h2.68z"/>
<path d="m174.09 26.1501c.47 0 1.03-.1 1.69-.31v2c-.67.3-1.49.45-2.46.45-1.07 0-1.85-.27-2.34-.81s-.73-1.36-.73-2.44v-4.74h-1.28v-1.13l1.48-.9.77-2.07h1.71v2.09h2.75v2.01h-2.75v4.74c0 .38.11.66.32.84s.5.27.85.27z"/>
<path d="m186.84 28.1101h-2.68v-5.74c0-1.42-.53-2.13-1.58-2.13-.75 0-1.29.25-1.63.76s-.5 1.34-.5 2.48v4.62h-2.68v-13.67h2.68v2.79c0 .22-.02.73-.06 1.53l-.06.79h.14c.6-.96 1.55-1.44 2.85-1.44 1.15 0 2.03.31 2.63.93s.9 1.51.9 2.67v6.41z"/>
<path d="m92.82 36.8601v8.31c0 .95-.21 1.78-.64 2.5s-1.04 1.26-1.84 1.64-1.75.57-2.85.57c-1.65 0-2.94-.42-3.85-1.27s-1.37-2.01-1.37-3.48v-8.28h2.72v7.87c0 .99.2 1.72.6 2.18s1.06.69 1.98.69 1.54-.23 1.94-.7c.4-.46.6-1.2.6-2.19v-7.85h2.72z"/>
<path d="m104.83 49.7101h-2.68v-5.74c0-.71-.13-1.24-.38-1.59s-.65-.53-1.2-.53c-.7497 0-1.2897.25-1.6297.75-.33.5-.5 1.33-.5 2.49v4.62h-2.68v-9.83h2.0499l.36 1.26h.1501c.3-.47.71-.83 1.23-1.08.5197-.24 1.1197-.36 1.7897-.36 1.14 0 2.01.31 2.6.93s.89 1.51.89 2.68v6.41z"/>
<path d="m113.02 41.9001h-2.32v7.81h-2.68v-7.81h-1.48v-1.29l1.48-.72v-.72c0-1.12.28-1.94.83-2.45s1.43-.77 2.65-.77c.93 0 1.75.14 2.47.41l-.69 1.97c-.54-.17-1.04-.25-1.49-.25-.38 0-.66.11-.83.34s-.25.51-.25.87v.62h2.32v2.01z"/>
<path d="m121.52 49.71-.36-1.26h-.14c-.29.46-.69.81-1.22 1.06s-1.13.37-1.8.37c-1.15 0-2.02-.31-2.61-.93s-.88-1.51-.88-2.67v-6.41h2.68v5.74c0 .71.13 1.24.38 1.59.25.36.65.53 1.2.53.75 0 1.29-.25 1.63-.75.33-.5.5-1.33.5-2.49v-4.62h2.68v9.83h-2.06z"/>
<path d="m131.87 39.7001c.36 0 .67.03.91.08l-.2 2.51c-.22-.06-.48-.09-.79-.09-.86 0-1.52.22-2 .66s-.72 1.05-.72 1.85v5h-2.68v-9.83h2.03l.4 1.65h.13c.3-.55.72-.99 1.23-1.33.52-.34 1.08-.5 1.69-.5z"/>
<path d="m137.24 49.71h-2.68v-13.68h2.68z"/>
<path d="m150.4 38.9401c-1.03 0-1.82.39-2.38 1.16s-.84 1.84-.84 3.22c0 2.87 1.08 4.3 3.23 4.3.9 0 2-.23 3.28-.68v2.29c-1.05.44-2.23.66-3.53.66-1.87 0-3.3-.57-4.29-1.7s-1.49-2.76-1.49-4.88c0-1.34.24-2.51.73-3.51s1.18-1.78 2.1-2.31c.91-.54 1.98-.8 3.2-.8s2.5.3 3.76.91l-.88 2.21c-.48-.23-.96-.43-1.45-.6s-.96-.25-1.43-.25z"/>
<path d="m158.88 49.71h-2.68v-13.68h2.68z"/>
<path d="m170.62 44.7801c0 1.6-.42 2.85-1.27 3.75s-2.02 1.35-3.52 1.35c-.94 0-1.78-.21-2.5-.62s-1.27-1.01-1.66-1.78-.58-1.68-.58-2.71c0-1.61.42-2.85 1.26-3.74s2.02-1.34 3.53-1.34c.94 0 1.78.21 2.5.62s1.27 1 1.66 1.77.58 1.67.58 2.7zm-6.79 0c0 .97.16 1.71.48 2.21s.84.75 1.56.75 1.23-.25 1.54-.74.47-1.23.47-2.21-.16-1.7-.47-2.19-.83-.73-1.56-.73-1.23.24-1.55.73c-.32.48-.47 1.21-.47 2.19z"/>
<path d="m179.8 49.71-.36-1.26h-.14c-.29.46-.69.81-1.22 1.06s-1.13.37-1.8.37c-1.15 0-2.02-.31-2.61-.93s-.88-1.51-.88-2.67v-6.41h2.68v5.74c0 .71.13 1.24.38 1.59.25.36.65.53 1.2.53.75 0 1.29-.25 1.63-.75.33-.5.5-1.33.5-2.49v-4.62h2.68v9.83h-2.06z"/>
<path d="m187.78 49.89c-1.15 0-2.06-.45-2.72-1.34-.66-.9-.99-2.14-.99-3.73s.33-2.87 1.01-3.77c.67-.9 1.6-1.35 2.77-1.35 1.24 0 2.18.48 2.83 1.44h.09c-.13-.73-.2-1.39-.2-1.96v-3.15h2.69v13.68h-2.06l-.52-1.27h-.11c-.61.97-1.54 1.45-2.79 1.45zm.94-2.14c.69 0 1.19-.2 1.51-.6s.49-1.08.52-2.03v-.29c0-1.05-.16-1.81-.49-2.27-.32-.46-.85-.69-1.59-.69-.6 0-1.06.25-1.39.76s-.5 1.24-.5 2.21.17 1.69.5 2.17.81.73 1.43.73z"/>
</g>
</svg>
