- avatar = true unless local_assigns[:avatar] == false
- stars = true unless local_assigns[:stars] == false
- forks = true unless local_assigns[:forks] == false
- merge_requests = true unless local_assigns[:merge_requests] == false
- issues = true unless local_assigns[:issues] == false
- pipeline_status = true unless local_assigns[:pipeline_status] == false
- skip_namespace = false unless local_assigns[:skip_namespace] == true
- access = max_project_member_access(project)
- compact_mode = false unless local_assigns[:compact_mode] == true
- show_last_commit_as_description = false unless local_assigns[:show_last_commit_as_description] == true && can_show_last_commit_in_list?(project)
- css_class = '' unless local_assigns[:css_class]
- css_class += " no-description" if project.description.blank? && !show_last_commit_as_description
- cache_key = project_list_cache_key(project, pipeline_status: pipeline_status)
- updated_tooltip = time_ago_with_tooltip(project.last_activity_date)
- show_pipeline_status_icon = pipeline_status && can?(current_user, :read_cross_project) && project.pipeline_status.has_status? && can?(current_user, :read_build, project)
- last_pipeline = project.last_pipeline if show_pipeline_status_icon
- css_controls_class = compact_mode ? [] : ["flex-lg-row", "justify-content-lg-between"]
- css_controls_class << "with-pipeline-status" if show_pipeline_status_icon && last_pipeline.present?
- avatar_container_class = project.creator && use_creator_avatar ? '' : 'rect-avatar'
- deployment_count = project.lookup_deployment_count(root_url) if project.unfurl_blueprint?
- star_name = current_user && current_user.starred?(project) ? 'Unstar' : 'Star'
- star_icon = current_user && current_user.starred?(project) ? 'star' : 'star-o'

%li.project-row{ class: css_class }
  = cache(cache_key) do
    - if avatar
      .avatar-container.flex-grow-0.flex-shrink-0{ class: avatar_container_class }
        = link_to project, class: dom_class(project) do
          - if project.creator && use_creator_avatar
            = image_tag avatar_icon_for_user(project.creator, 300), class: "avatar", alt:''
          - else
            = project_icon(project, alt: '', class: 'avatar project-avatar', width: 300, height: 300)
            -# - else
            -#   .box-unfurl-default
            -#     = image_tag 'unfurl-box-default.svg'
            -#     -# = image_path('unfurl-box-default.svg'),
      .project-details.uf-project-detail
        .row.mb-2
          .gl-display-flex.gl-justify-content-space-between.gl-flex-wrap.gl-mt-2
            .gl-display-flex{ class: current_page?('/explore/blueprints')? '': 'uf-explore-tight-header'}
              = link_to project, title: project.full_name, class: 'uf-no-link' do
                - unless current_page?('/explore/blueprints') # don't show namespace name for verified blueprints page
                  %h5.gl-m-0.uf-truncate
                    = project.namespace.full_name + " /"
                %h4.gl-my-1
                  = project.name

        .row.mb-2
          - if project.unfurl_blueprint?
            .gl-display-flex.gl-justify-content-md-end.gl-flex-wrap.gl-flex-direction-column.gl-align-items-end.button-wrapper
              .count-badge.align-item-stretch.gl-mr-3.btn-group.uf-badge-height.d-inline-flex
                = link_to project, title: n_(s_('ProjectOverview|Deploys'), s_('ProjectOverview|Deploys'), deployment_count), class: 'deploy-display' do
                  = sprite_icon('upload', css_class: 'icon gl-mr-1')
                  = deployment_count
                  %span.starred= s_('ProjectOverview|Deploys')
            .flex-fill

          .gl-display-flex.gl-justify-content-md-end.gl-flex-wrap.gl-flex-direction-column.gl-align-items-end.button-wrapper
            .count-badge.align-item-stretch.gl-mr-3.btn-group.uf-badge-height
              = link_to project_starrers_path(project), class: 'gl-button btn btn-default btn-sm uf-button star-btn toggle-star' do
                - if current_user && current_user.starred?(project)
                  = sprite_icon('star', css_class: 'icon')
                  %span.starred= s_('ProjectOverview|Starred')
                - else
                  = sprite_icon('star-o', css_class: 'icon')
                  %span= s_('ProjectOverview|Stars')
              = link_to project_starrers_path(project), title: n_(s_('ProjectOverview|Starrer'), s_('ProjectOverview|Starrers'), project.star_count), class: 'gl-button btn btn-default btn-sm uf-button star-count count' do
                = project.star_count

            -# Issue #457
            -# - else
            -#   .count-badge.align-item-stretch.gl-mr-3.btn-group.uf-badge-height
            -#     = link_to new_user_session_path, class: 'gl-button btn btn-default btn-sm uf-button has-tooltip star-btn', title: s_('ProjectOverview|You must sign in to star a project') do
            -#       = sprite_icon('star-o', css_class: 'icon')
            -#       %span= s_('ProjectOverview|Star')
            -#     = link_to project_starrers_path(project), title: n_(s_('ProjectOverview|Starrer'), s_('ProjectOverview|Starrers'), project.star_count), class: 'gl-button btn btn-default btn-sm uf-button star-count count' do
            -#       = project.star_count

          -# show forks for non-blueprints -- previously disabled #127
          - unless project.unfurl_blueprint?
            .gl-display-flex.gl-justify-content-md-end.gl-flex-wrap.gl-flex-direction-column.gl-align-items-end.button-wrapper
              -# if current_user && current_user.advanced
              - unless project.empty_repo?
                - if current_user && can?(current_user, :fork_project, project)
                  .count-badge.align-item-stretch.gl-mr-3.btn-group.uf-badge-height
                    - if current_user.already_forked?(project) && current_user.forkable_namespaces.size < 2
                      = link_to namespace_project_path(current_user, current_user.fork_of(project)), title: s_('ProjectOverview|Go to your fork'), class: 'gl-button btn btn-default btn-sm has-tooltip fork-btn' do
                        = sprite_icon('fork', css_class: 'icon')
                        %span= s_('ProjectOverview|Fork')
                    - else
                      - can_create_fork = current_user.can?(:create_fork)
                      - disabled_fork_tooltip = s_('ProjectOverview|You have reached your project limit')
                      %span.btn-group.has-tooltip{ title: (disabled_fork_tooltip unless can_create_fork) }
                        = link_to new_project_fork_path(project), class: "gl-button btn btn-default btn-sm fork-btn #{' disabled' unless can_create_fork }", 'aria-label' => (disabled_fork_tooltip unless can_create_fork) do
                          = sprite_icon('fork', css_class: 'icon')
                          %span= s_('ProjectOverview|Fork')
                        = link_to project_forks_path(project), title: n_(s_('ProjectOverview|Forks'), s_('ProjectOverview|Forks'), project.forks_count), class: 'gl-button btn btn-default btn-sm count has-tooltip' do
                          = project.forks_count

        .row{ class: current_page?('/explore/blueprints')? 'mb-2': 'mb-1' }
          .description.uf-description.gl-mr-3.uf-truncate{
            style: '--line-clamp: 3;',
            tabindex: 0,
            data: { toggle: 'popover', html: 'true', triggers: 'hover', placement: 'top', title: "Description", content: project.description  }
          }
            = project.description

        - if project.topics.any?
          .row.uf-topics
            = render "shared/projects/topics", project: project.present(current_user: current_user)
