- cache_enabled = false unless local_assigns[:cache_enabled] == true
- project_topics_classes = "badge badge-pill badge-secondary"

- if project.topics.present?
  = cache_if(cache_enabled, [project, :topic_list], expires_in: 1.day) do
    .uf-prevent-wrap.w-100
      %span.w-100.gl-display-inline-flex.gl-font-base.gl-font-weight-normal.gl-align-items-center.justify-content-between.position-relative{ 'data-testid': 'project_topic_list' }
        - project.topics_to_show.each do |topic|
          - explore_project_topic_path = explore_projects_path(topic: topic[:name])
          %a{ class: "#{project_topics_classes} str-truncated-30 has-tooltip", data: { container: "body" }, title: topic[:title], href: explore_project_topic_path, itemprop: 'keywords' }
            = topic[:title]
        .uf-prevent-wrap.w-20.gl-mt-1.extra-topics-count
          - if project.has_extra_topics?
            - title = _('More topics')
            - content = capture do
              %span.gl-display-inline-flex.gl-flex-wrap.w-100
                - project.topics_not_shown.each do |topic|
                  - explore_project_topic_path = explore_projects_path(topic: topic[:name])
                  %a{ class: "#{ project_topics_classes } gl-mb-3 mw-100", href: explore_project_topic_path, itemprop: 'keywords' }
                    = topic[:title]
            .text-nowrap{ role: 'button', tabindex: 0, data: { toggle: 'popover', triggers: 'hover', html: 'true', placement: 'top', title: title, content: content } }
              = _("+%{count}") % { count: project.count_of_extra_topics_not_shown }
