<OpenSearchDescription xmlns="http://a9.com/-/spec/opensearch/1.1/"
                       xmlns:moz="http://www.mozilla.org/2006/browser/search/">
  <ShortName>Unfurl Cloud</ShortName>
  <!-- OC Change - rebrand -->
  <Description>Search Unfurl Cloud</Description>
  <InputEncoding>UTF-8</InputEncoding>
  <Image width="16" height="16" type="image/x-icon"><%= root_url %>favicon.ico</Image>
  <Url type="text/html" method="get" template="<%= search_url %>?search={searchTerms}"/>
  <moz:SearchForm><%= search_url %></moz:SearchForm>
</OpenSearchDescription>
