- return unless Gitlab.com?

.gl-mb-3.js-email-opt-in.hidden
  .gl-font-weight-bold.gl-mb-3
    = _('Email updates (optional)')
  = f.check_box :email_opted_in
  = f.gitlab_ui_checkbox_component :email_opted_in, _("I'd like to receive updates about Unfurl Cloud via email")
