%hr.footer-fixed
.container.footer-container.gl-display-flex.gl-justify-content-space-between
  .footer-links
    %div.d-flex.justify-content-center
      -# oc change:
      -# %div.col-md-3.col-sm-4.footer-logo.gl-mb-4.gl-mt-4
      -#   = link_to brand_header_logo, "https://onecommons.org/unfurl-cloud"
      %div.footer-slogan.gl-px-0.gl-mr-4
        = _('A free and open source project by')
      %div.footer-logo.unfurl-logo.gl-mt-3.gl-px-0
      - if user_application_theme == 'gl-dark'
        = link_to render(partial: 'shared/logo_oc_white', formats: :svg), "https://www.onecommons.org/"
      - else
        = link_to render(partial: 'shared/logo_oc', formats: :svg), "https://www.onecommons.org/"
    -# - unless public_visibility_restricted?
    -#   = link_to _("Explore"), explore_root_path
    -#   = link_to _("Help"), help_path
    -# = link_to _("About GitLab"), "https://#{ApplicationHelper.promo_host}"
    -# = link_to _("Community forum"), ApplicationHelper.community_forum, target: '_blank', class: 'text-nowrap', rel: 'noopener noreferrer'
  -# = render 'devise/shared/language_switcher'
= footer_message
