- hide_remember_me = local_assigns.fetch(:hide_remember_me, false)
- restyle_login_page_enabled = Feature.enabled?(:restyle_login_page, @project)
-# OC Change - don't center this text
%div{ class: restyle_login_page_enabled ? 'omniauth-container gl-mt-5 gl-p-5 gl-w-90p gl-ml-auto gl-mr-auto' : 'omniauth-container gl-mt-5 gl-p-5' }
  %label{ class: restyle_login_page_enabled ? 'gl-font-weight-normal' : 'gl-font-weight-bold' }
    = _('Sign in with')
  - providers = enabled_button_based_providers
  .gl-display-flex.gl-flex-wrap{ class: restyle_login_page_enabled ? 'gl-justify-content-center' : 'gl-justify-content-between' }
    - providers.each do |provider|
      - has_icon = provider_has_icon?(provider)
      = button_to omniauth_authorize_path(:user, provider), id: "oauth-login-#{provider}", data: { qa_selector: "#{qa_selector_for_provider(provider)}" }, class: "btn gl-button btn-default gl-ml-2 gl-mr-2 gl-mb-2 js-oauth-login #{'gl-w-full' unless restyle_login_page_enabled}", form: { class: restyle_login_page_enabled ? 'gl-mb-3' : 'gl-w-full gl-mb-3' } do
        - if has_icon
          = provider_image_tag(provider)
        %span.gl-button-text
          = label_for_provider(provider)
  - unless hide_remember_me
    = render Pajamas::CheckboxTagComponent.new(name: 'remember_me_omniauth', value: nil) do |c|
      = c.label do
        = _('Remember me')
