- view_model = top_nav_view_model(project: @project, group: @group)
-# OC Change - hide hamburger for non-admin
- if current_user && !current_user.external?
  %ul.list-unstyled.nav.navbar-sub-nav#js-top-nav{ data: { view_model: view_model.to_json } }
    %li
      %a.top-nav-toggle{ href: '#', type: 'button', data: { toggle: "dropdown" } }
        = sprite_icon('hamburger')
        - if view_model[:menuTitle]
          .gl-ml-3= view_model[:menuTitle]

.hidden
  - view_model[:shortcuts].each do |shortcut|
    = link_to shortcut[:href], class: shortcut[:css_class] do
      = shortcut[:title]
