- admin = local_assigns.fetch(:admin, false)

- if builds.blank?
  - if @project
    .row.empty-state
      .col-12
        .svg-content.svg-250
          = image_tag('jobs-empty-state.svg')
      .col-12
        .text-content.gl-text-center
          %h4
            = s_('Jobs|Use jobs to automate your tasks')
          %p
            -# OC Changes - issue #537  Remove "GitLab" from text block
            = s_('Jobs|Jobs are the building blocks of a CI/CD pipeline. Each job has a specific task, like testing code. To set up jobs in a CI/CD pipeline, add a CI/CD configuration file to your project.')
          = link_to s_('Jobs|Create CI/CD configuration file'), project_ci_pipeline_editor_path(project), class: 'btn gl-button btn-confirm js-empty-state-button'
  - else
    .nothing-here-block= s_('Jobs|No jobs to show')
- else
  .table-holder
    %table.table.ci-table.builds-page
      %thead
        %tr
          %th= _('Status')
          %th= _('Name')
          %th= _('Job')
          %th= _('Pipeline')
          - if admin
            %th= _('Project')
            %th= _('Runner')
          -# OC Change #902 -- hide stage and coverage columns
          -# %th= _('Stage')
          %th= _('Duration')
          -# %th= _('Coverage')
          %th

      = render partial: "projects/ci/builds/build", collection: builds, as: :build, locals: { commit_sha: true, ref: true, pipeline_link: true, stage: true, allow_retry: true, admin: admin }

  = paginate_collection(builds)
