- page_title _("Jobs")
- add_page_specific_style 'page_bundles/ci_status'
- admin = local_assigns.fetch(:admin, false)

-# OC Change -- show flash for param filtering notice
- if @vars.present?
  %p
    .gl-alert.gl-alert-info{ role: 'information' }
      = sprite_icon('information-o', css_class: 'gl-icon gl-alert-icon gl-alert-icon-no-title')
      .gl-alert-body
        = "Filtering jobs by #{@vars.keys.to_sentence}"
      .gl-alert-actions
        = button_to _('Clear'), namespace_project_jobs_url, method: :get, class: 'gl-button btn'

#js-jobs-table{ data: { admin: admin, full_path: @project.full_path, job_statuses: job_statuses.to_json, pipeline_editor_path: project_ci_pipeline_editor_path(@project), empty_state_svg_path: image_path('jobs-empty-state.svg') } }
