.md-container
  .md
    %h2 Help Center
    #version
    %b= _("Current Version: ")
    %span= "#{Gitlab.revision}"
  %br
  .documentation-index.md
    = markdown(@help_index)
  %br
  .uf-cards
    = link_to help_page_path("guides/getting_started_gcp") do
      .main
        .card-text
          %strong= _("Deploy your first app:")
          %p= _("Google Cloud Platform")
        .unfurl-logo
          %img{ :alt => "Google Cloud Platform logo", :src => image_path('/oc/assets/images/google-cloud-logo.png') }
    = link_to help_page_path("guides/getting_started_aws") do
      .main
        .card-text.sm
          %strong= _("Deploy your first app:")
          %p= _("Amazon Web Services")
        .unfurl-logo
          %img{ :alt => "Amazon Web Services", :src => image_path('/oc/assets/images/aws_logo.svg') }
    -# = link_to help_page_path("guides/getting_started_self-hosted") do
    -#   .main
    -#     .card-text
    -#       %strong= _("Deploy your first app:")
    -#       %p= _("Local Development")
    -#     .unfurl-logo
    -#       %img{ :alt => "Unfurl Icon", :src => image_path('unfurl-box-default.svg') }

  .documentation-index.md
    = markdown(@developer_guide)
  
  %hr

