- page_title _('SSH Keys')
- add_page_specific_style 'page_bundles/profile'

.row.gl-mt-3.js-search-settings-section
  .col-lg-4.profile-settings-sidebar
    %h4.gl-mt-0
      = page_title
    -# OC Change - issue #184
    %p
      = _('SSH keys allow you to establish a secure connection between your computer and Unfurl Cloud.')
    %br
    %h4.gl-mt-0
      = _('SSH Fingerprints')
    %p
      - config_link_start = '<a href="%{url}" target="_blank" rel="noopener noreferrer">'.html_safe % { url: help_instance_configuration_url }
      = html_escape(s_('SSH fingerprints verify that the client is connecting to the correct host. Check the %{config_link_start}current instance configuration%{config_link_end}.')) % { config_link_start: config_link_start, config_link_end: '</a>'.html_safe }
  .col-lg-8
    %h5.gl-mt-0
      = _('Add an SSH key')
    %p.profile-settings-content
      - help_link_start = '<a href="%{url}" target="_blank" rel="noopener noreferrer">'.html_safe % { url: help_page_path('user/ssh.md') }
      = _('Add an SSH key for secure access to Unfurl Cloud. %{help_link_start}Learn more.%{help_link_end}').html_safe % {help_link_start: help_link_start, help_link_end: '</a>'.html_safe }
    = render 'form'
    %hr
    %h5
      = _('Your SSH keys (%{count})') % { count: @keys.count }
    .gl-mb-3
      = render 'key_table'
