- is_your_projects_path = current_page?(dashboard_projects_path) || current_page?(root_path)

= gl_tabs_nav({ class: 'scrolling-tabs nav-links gl-display-flex gl-flex-grow-1 gl-w-full nav gl-tabs-nav' }) do
  = gl_tab_link_to dashboard_projects_path, { item_active: is_your_projects_path, class: 'shortcuts-activity', data: { placement: 'right' } } do
    = s_("Your Projects")
    = gl_tab_counter_badge(limited_counter_with_delimiter(@all_user_projects))
  = gl_tab_link_to dashboards_dashboard_projects_path, { data: { placement: 'right' } } do
    = s_("Your Dashboards")
    = gl_tab_counter_badge(limited_counter_with_delimiter(@all_dashboard_projects))
  = gl_tab_link_to blueprints_dashboard_projects_path, { data: { placement: 'right' } } do
    = s_("Your Blueprints")
    = gl_tab_counter_badge(limited_counter_with_delimiter(@all_blueprint_projects))
  = render_if_exists "dashboard/removed_projects_tab"
