- @html_class = "subscriptions-layout-html"
- page_title _('Your profile')
- add_page_specific_style 'page_bundles/signup'
- gitlab_experience_text = _('To personalize your Unfurl Cloud experience, we\'d like to know a bit more about you')
- content_for :page_specific_javascripts do
  = render "layouts/google_tag_manager_head"
  = render "layouts/one_trust"
  = render "layouts/bizible"
= render "layouts/google_tag_manager_body"

-# OC Change issue 127
- unfurl_experience_text = _('To personalize your experience, choose how you\'d like to use Unfurl Cloud.')

-# OC Change #1301 -- normal/advanced developer selection
- user_types = [ ["I want to deploy applications (Simple UI)", "other"], ["I want to develop applications (Advanced UI)", "software_developer"]]
- invite_code = cookies[:invite_code] || ''
- is_dev_code = invite_code.match?(/dev/i)

.row.gl-flex-grow-1
  .d-flex.gl-flex-direction-column.gl-align-items-center.gl-w-full.gl-px-5.gl-pb-5
    .edit-profile.login-page.d-flex.flex-column.gl-align-items-center
      = render_if_exists "registrations/welcome/progress_bar"
      %h2.gl-text-center= html_escape(_('Welcome to Unfurl Cloud,%{br_tag}%{name}!')) % { name: html_escape(current_user.first_name), br_tag: '<br/>'.html_safe }
      - if Gitlab.com?
        %p.gl-text-center= html_escape(_('%{unfurl_experience_text}. We won\'t share this information with anyone.')) % { unfurl_experience_text: unfurl_experience_text }
      - else
        %p.gl-text-center= html_escape(_(unfurl_experience_text))
      = gitlab_ui_form_for(current_user, url: users_sign_up_welcome_path, html: { class: 'card gl-w-full! gl-p-5 js-users-signup-welcome', 'aria-live' => 'assertive' }) do |f|
        .devise-errors
          = render 'devise/shared/error_messages', resource: current_user
        .row
          .form-group.col-sm-12
            -# OC Change #1301 -- normal/advanced developer selection
            = f.label :role, _('Choose User Interface'), class: 'label-bold'
            = f.select :role, user_types, (is_dev_code ? {selected: "other"} : {}), class: 'form-control js-user-role-dropdown', autofocus: true
        = render_if_exists "registrations/welcome/jobs_to_be_done", f: f
        = render_if_exists "registrations/welcome/setup_for_company", f: f
        = render_if_exists "registrations/welcome/joining_project"
        = render 'devise/shared/email_opted_in', f: f
        = render_if_exists "registrations/welcome/jobs_to_be_done", f: f
        .row.hidden
          .form-group.col-sm-12
            = f.label :invite_code,  _('Invite Code (optional)'), class: 'label-bold'
            = f.text_field :invite_code, value: invite_code, placeholder: 'UC-EXAMPLE', class: 'form-control gl-form-input top js-block-emoji'

        .row
          .form-group.col-sm-12.gl-mb-0
            - if partial_exists? "registrations/welcome/button"
              = render "registrations/welcome/button"
            - else
              = f.submit _('Get started!'), class: 'btn-confirm gl-button btn btn-block gl-mb-0 gl-p-3', data: { qa_selector: 'get_started_button' }

-# OC Change
= javascript_tag do
  :plain
    document.addEventListener("DOMContentLoaded", function(event) {
      let searchParams = new URLSearchParams(window.location.search);
      if (searchParams.has('invite_code')) {
        let invitecode = searchParams.get('invite_code');
        Cookies.set('invite_code', invitecode);
      }
      window.setInviteCodeSignup = (() => {
        const invitecode = Cookies.get('invite_code');
        if (invitecode) {
          $('.js-set-invite-code-cookie').val(invitecode);
        }
      });
    });
