<script>
export default {
  props: {
    darkMode: Boolean
  },
  data() {
    return {pressed: false}
  },
  methods: {
    onClick() {
      this.pressed = true
      this.$emit('click')
    }
  }
}
</script>
<template>
  <div tabindex="0" role="button" aria-pressed="false" class="auth-button" @click="onClick" @blur="pressed = false" :class="{'gl-dark': darkMode, pressed}"/>
</template>
<style>
.auth-button {
  font-size: 1.5rem;
  height: 2.02em;
  min-width: 8.36em;
  width: 8.36em;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  cursor: pointer;
  background-image: url('/oc/assets/images/gcp-sign-in/2x/btn_google_signin_light_normal_web@2x.png');
}

.auth-button:focus {
  background-image: url('/oc/assets/images/gcp-sign-in/2x/btn_google_signin_light_focus_web@2x.png');
}

.auth-button.pressed {
  background-image: url('/oc/assets/images/gcp-sign-in/2x/btn_google_signin_light_pressed_web@2x.png');
}

.auth-button.gl-dark {
  background-image: url('/oc/assets/images/gcp-sign-in/2x/btn_google_signin_dark_normal_web@2x.png');
}

.auth-button.gl-dark:focus {
  background-image: url('/oc/assets/images/gcp-sign-in/2x/btn_google_signin_dark_focus_web@2x.png');
}

.auth-button.gl-dark.pressed {
  background-image: url('/oc/assets/images/gcp-sign-in/2x/btn_google_signin_dark_pressed_web@2x.png');
}


</style>
