<script>
import { GlLoadingIcon } from '@gitlab/ui';
import DropdownButton from '~/vue_shared/components/dropdown/dropdown_button.vue';
import DropdownHiddenInput from '~/vue_shared/components/dropdown/dropdown_hidden_input.vue';
import DropdownSearchInput from '~/vue_shared/components/dropdown/dropdown_search_input.vue';

import { sprintf, s__ } from '~/locale';
import {ZONES} from '~/create_cluster/gke_cluster/constants'

export default {
  name: 'GkeZoneDropdown',
  components: {
    DropdownButton,
    DropdownSearchInput,
    DropdownHiddenInput,
    GlLoadingIcon,
  },
  props: {
    value: String
  },
  data() {
    return {
      searchQuery: '',
      ZONES
    }
  },
  computed: {
    toggleText() {
      if (this.value) {
        return this.value;
      }

      return !this.projectHasBillingEnabled
        ? s__('ClusterIntegration|Select project to choose zone')
        : s__('ClusterIntegration|Select zone');
    },
    errorMessage() {
      return sprintf(
        s__('ClusterIntegration|An error occurred while trying to fetch project zones: %{error}'),
        { error: this.gapiError },
      );
    },
    filteredZones() {
      return ZONES.filter(zone => zone.name.includes(this.searchQuery))
    },
  },
};
</script>

<template>
  <div>
    <dropdown-hidden-input name="zone" :value="value" />
    <dropdown-button
      :toggle-text="toggleText"
    />
    <div class="dropdown-menu dropdown-select">
      <dropdown-search-input
        v-model="searchQuery"
        :placeholder-text="s__('ClusterIntegration|Search zones')"
      />
      <div class="dropdown-content">
        <ul>
          <li v-show="!ZONES.length">
            <span class="menu-item">
              {{ s__('ClusterIntegration|No zones matched your search') }}
            </span>
          </li>
          <li v-for="result in filteredZones" :key="result.id">
            <button type="button" @click.prevent="$emit('input', result && result.name)">{{ result.name }}</button>
          </li>
        </ul>
      </div>
      <div class="dropdown-loading"><gl-loading-icon size="sm" /></div>
    </div>
  </div>
</template>
