- hidden_topics_field_id = 'project_topic_list_field'
= gitlab_ui_form_for [@project], html: { multipart: true, class: "edit-project js-general-settings-form" }, authenticity_token: true do |f|
  %input{ name: 'update_section', type: 'hidden', value: 'js-general-settings' }

  %fieldset
    .row
      .form-group.col-md-5
        = f.label :name, class: 'label-bold', for: 'project_name_edit' do
          = _('Project name')

        -# OC Change - issue #183
        - if is_dashboard_project?
          = f.text_field :name, class: 'form-control gl-form-input', id: "project_name_edit", data: { qa_selector: 'project_name_field' }, readonly: true
        - else
          = f.text_field :name, class: 'form-control gl-form-input', id: "project_name_edit", data: { qa_selector: 'project_name_field' }

      .form-group.col-md-7
        = f.label :id, class: 'label-bold' do
          = _('Project ID')
        = f.text_field :id, class: 'form-control gl-form-input w-auto', readonly: true

    -# OC Change - issues #183 & #537
    - if !is_dashboard_project? || current_user.admin?
      .row
        .form-group.col-md-9
          .js-topics-selector{ data: { hidden_input_id: hidden_topics_field_id } }
          = f.hidden_field :topics, value: @project.topic_list.join(', '), id: hidden_topics_field_id

    .row
      .form-group.col-md-9
        = f.label :description, _('Project description (optional)'), class: 'label-bold'
        = f.text_area :description, class: 'form-control gl-form-input', rows: 3

  .row= render_if_exists 'projects/classification_policy_settings', f: f

  = render 'shared/repository_size_limit_setting_registration_features_cta', form: f
  = render_if_exists 'shared/repository_size_limit_setting', form: f, type: :project

  - if !is_dashboard_project? || !current_user.external?
    .form-group.gl-mt-3.gl-mb-3
      = render Pajamas::AvatarComponent.new(@project, size: 96, alt: '', class: 'gl-float-left gl-mr-5')
      = f.label :avatar, _('Project avatar'), class: 'label-bold d-block'
      = render 'shared/choose_avatar_button', f: f
      - if @project.avatar?
        %hr
        = link_to _('Remove avatar'), project_avatar_path(@project), aria: { label: _('Remove avatar') }, data: { confirm: _('Avatar will be removed. Are you sure?'), 'confirm-btn-variant': 'danger' }, method: :delete, class: 'gl-button btn btn-danger-secondary'

  = f.submit _('Save changes'), pajamas_button: true, class: "gl-mt-6", data: { qa_selector: 'save_naming_topics_avatar_button' }
