- # OC Change #906 -- pull mirroring indication
- # this view component replaces the project > repo > mirror settings
- # with a single checkbox to enable/disable the pull mirroring webhook
- expanded = expanded_by_default?
- protocols = ::Gitlab::UrlSanitizer::ALLOWED_SCHEMES.join('|')
- mirror_settings_enabled = can?(current_user, :admin_remote_mirror, @project)
- mirror_settings_class = "#{'expanded' if expanded} #{'js-mirror-settings-oc' if mirror_settings_enabled}".strip

- upstream_url_no_git = @project.sanitized_import_url.delete_suffix('.git')

%section.settings.project-mirror-settings.no-animate#js-push-remote-settings{ class: mirror_settings_class, data: { qa_selector: 'mirroring_repositories_settings_content' } }
  .settings-header
    %h4.settings-title.js-settings-toggle.js-settings-toggle-trigger-only= _('Mirroring repositories')
    %button.btn.gl-button.btn-default.js-settings-toggle
      = expanded ? _('Collapse') : _('Expand')
    %p
      = _('Set up your project to automatically push and/or pull changes to/from another repository. Branches, tags, and commits will be synced automatically.')
      = link_to _('How do I mirror repositories?'), help_page_path('user/project/repository/mirror/index.md'), target: '_blank', rel: 'noopener noreferrer'

  .settings-content

    - if @project.mirror?
      -# OC Change #1128 -- manual sync on settings page
      = render Pajamas::AlertComponent.new(variant: :info,
          dismissible: false,
          title: _('Upstream Info'),
          alert_options: {class: 'gl-mb-5' },
        ) do |c|
        = c.body do
          .gl-alert-body
            = _('This repository is configured as a mirror of')
            = succeed '.' do
              = link_to upstream_url_no_git, upstream_url_no_git, target: '_blank', rel: 'noopener noreferrer'
          .gl-alert-actions
            = link_to _('Sync Manually'), update_now_project_mirror_path(@project), method: :post, class: 'alert-link btn gl-button btn-confirm'
            %p.gl-text-center.gl-mx-4.gl-my-2
              = _("This will trigger a pipeline on the default branch, if it was updated.")

      = form_for @project, url: project_mirror_path(@project), html: { class: 'gl-show-field-errors js-mirror-form', data: { mirror_enabled: @project.mirror_enabled? } } do |f|
        .panel.panel-default
          .panel-body
            %div= form_errors(@project)

            %label.label-bold
              = _('Mirror Settings')

            .form-check.gl-mb-3
              -# = check_box_tag :mirror_enabled?, '1', false, class: 'js-mirror-protected form-check-input'
              -# = label_tag :mirror_enabled?, _('Enable continuous mirroring'), class: 'form-check-label'
              = f.check_box :mirror_enabled?, class: 'js-mirror-protected form-check-input'
              = f.label :mirror_enabled?, _('Enable continuous mirroring'), class: 'form-check-label'
              .form-text.text-muted
                = _('If enabled, this repo will automatically fetch all changes pushed to the upstream repo.')

          .panel-footer
            = f.submit _('Save changes'), class: 'gl-button btn btn-confirm js-mirror-submit qa-mirror-repository-button', name: :update_remote_mirror

    - else
      %p
        = _('This repository is not configured as a mirror.')

    -# - else
    -#   .gl-alert.gl-alert-info{ role: 'alert' }
    -#     = sprite_icon('information-o', css_class: 'gl-icon gl-alert-icon gl-alert-icon-no-title')
    -#     .gl-alert-body
    -#       = _('This repository is not configured as a mirror.')
