-# OC Change #906 -- show Github archived repo-esque banner for mirrored projects

- if project.mirror?
  - upstream_url_no_git = project.sanitized_import_url.delete_suffix('.git')

  -# = render 'shared/global_alert',
  -#   variant: :info,
  -#   dismissible: false do
  -#   .gl-alert-body.gl-text-center
  -#     -# = sprite_icon('warning', css_class: 'gl-icon gl-alert-icon gl-alert-icon-no-title')
  -#     = _('This repository is a mirror of')
  -#     = link_to upstream_url_no_git, upstream_url_no_git, target: '_blank', rel: 'noopener noreferrer'
  -#     = _('. Direct pushes to this repo will be discarded.')
  -#   -# .gl-alert-actions
  -#   -#   = link_to _('Mirroring Settings'), project_settings_repository_path(project, anchor: 'js-push-remote-settings'), class: 'alert-link btn gl-button btn-confirm'

  .gl-alert.gl-alert-info.gl-p-4
    -# = sprite_icon('information-o', size: 16, css_class: 'gl-icon gl-alert-icon gl-alert-icon-no-title')
    .gl-alert-body.gl-text-center
      = _('This repository is a mirror of')
      = succeed '.' do
        = link_to upstream_url_no_git, upstream_url_no_git, target: '_blank', rel: 'noopener noreferrer'
      = _('Direct pushes to this repo will be discarded.')
