- ref = local_assigns.fetch(:ref) { current_ref }
- project = local_assigns.fetch(:project) { @project }
- button_class = "btn-clipboard btn-transparent btn-no-padding gl-font-base gl-font-weight-normal gl-line-height-normal home-panel-metadata"
- button_text = s_('ProjectPage|Project ID: %{project_id}') % { project_id: @project.id }
- if current_user
    - if current_user.starred?(@project)
        - icon_name = s_('ProjectPage|star')
        - star_button_text = s_('ProjectPage|Unstar')
    - else
        - icon_name = s_('ProjectPage|star-o')
        - star_button_text = s_('ProjectPage|Star')

    - if current_user.already_forked?(@project) && current_user.forkable_namespaces.size < 2
        - fork_link = namespace_project_path(current_user, current_user.fork_of(@project))
    - else
        - fork_link = new_project_fork_path(@project)
-else
    - star_button_text = s_('ProjectPage|Star')
    - icon_name = s_('ProjectPage|star-o')
- link_starred = project_starrers_path(@project)
- link_forked = project_forks_path(@project)
- link_deployment = project_environments_path(@project) + '/folders/review'
- deployment_count = project.lookup_deployment_count(root_url)
- cloudmap = ::Ci::InstanceVariable::find_by(key: "UNFURL_CLOUDMAP_JSON")&.value


#oc-project-overview-icon{ style: "display: none;" }
    != project_icon(@project, alt: @project.name, class: 'avatar avatar-tile', width: 300, height: 300, itemprop: 'image')

#js-oc-project-overview{ data: {
    deployment_count: deployment_count,
    project_path: project.full_path,
    tree_path: project_tree_path(@project),
    live_preview: @deployment_url,
    ref: ref,
    project_description: @project.description,
    # this is no longer in use  project_icon: project_icon(@project, alt: @project.name, class: 'avatar avatar-tile s48', width: 48, height: 48, itemprop: 'image'),
    project_id: @project.id,
    project_name: @project.name,
    project_visibility: @project.visibility,
    button_star: {
        text: star_button_text,
        link: link_starred,
        icon: icon_name,
        count: @project.star_count,
        endpoint: toggle_star_project_path(@project, :json)
    },
    link_deployment: link_deployment,
    button_fork: {
        path: fork_link,
        link: link_forked,
        count: @project.forks_count
    },
    button_id: clipboard_button(title: s_('ProjectPage|Copy project ID'),
        text: @project.id,
        hide_button_icon: true,
        button_text: button_text,
        class: button_class,
        qa_selector: 'project_id_content',
        itemprop: 'identifier'),
    readme: @readme_contents,
    badge_settings: render('projects/deployment_status/settings'),
    cloudmap: cloudmap
    }
}
