%head
  :css
    @import url(https://fonts.googleapis.com/css2?family=Open+Sans:wght@500;600;700;800&display=swap);

    :root {
      --unfurl-blue: #00d2d9;
      --border-radius: 8px;
    }

    body {
      margin: 0px;
      background: transparent;
    }

  -# -# random colors for conversion clarity
  -# :css
  -#   :root {
  -#     --border-color: red;
  -#     --logo-color: orange;
  -#     --logo-bg: var(--unfurl-blue);
  -#     --text-color: yellow;
  -#     --text-bg: green;
  -#     --text-leftpad: 15px;
  -#     --count-color: blue;
  -#     --count-bg: purple;
  -#   }

  - case @type
  - when 'default'
    :css
      :root {
        --border-color: transparent;

        --logo-color: #fff;
        --logo-bg: var(--unfurl-blue);

        --text-leftpad: 0;
        --text-color: #fff;
        --text-bg: var(--unfurl-blue);

        --count-color: #4a5053;
        --count-bg: #e0e0e0;
      }

  - when 'white'
    :css
      :root {
        --border-color: var(--unfurl-blue);

        --logo-color: #fff;
        --logo-bg: var(--unfurl-blue);

        --text-leftpad: 15px;
        --text-color: var(--unfurl-blue);
        --text-bg: #fff;

        --count-color: #4a5053;
        --count-bg: #fff;
      }

  - when 'monochrome'
    :css
      :root {
        --border-color: black;

        --logo-color: black;
        --logo-bg: white;

        --text-leftpad: 0;
        --text-color: black;
        --text-bg: white;

        --count-color: black;
        --count-bg: white;
      }

  - when 'mono_inverse'
    :css
      :root {
        --border-color: white;

        --logo-color: white;
        --logo-bg: black;

        --text-leftpad: 0;
        --text-color: white;
        --text-bg: black;

        --count-color: white;
        --count-bg: black;
      }

  - when 'mono_system'
    :css
      :root {
        --border-color: black;

        --logo-color: black;
        --logo-bg: white;

        --text-leftpad: 0;
        --text-color: black;
        --text-bg: white;

        --count-color: black;
        --count-bg: white;
      }

      @media (prefers-color-scheme: dark) {
        :root {
          --border-color: white;

          --logo-color: white;
          --logo-bg: black;

          --text-leftpad: 0;
          --text-color: white;
          --text-bg: black;

          --count-color: white;
          --count-bg: black;
        }
      }

  :css
    /* LAYOUT */
    .badge {
      width: min-content;
      height: 64px;

      display: flex;
      align-items: center;
      /* column-gap: 16px; */
      /* padding: 11px; */

      box-sizing: border-box;

      border-radius: calc(var(--border-radius) + 3px);
    }

    .item {
      /* margin: 11px; */
      height: 100%;

      box-sizing: border-box;

      padding: 8px 15px;

      /* vertically center inside each box */
      display: flex;
      flex-direction: column;
      justify-content: space-around;

      font-family: 'Open Sans', 'Noto Sans', sans-serif;
      font-weight: 700;
    }

    /* borders */
    .item {
      border-top: 2px solid var(--border-color);
      border-bottom: 2px solid var(--border-color);
    }

    .item:first-child {
      border-left: 2px solid var(--border-color);
      border-top-left-radius: var(--border-radius);
      border-bottom-left-radius: var(--border-radius);
    }

    .item:last-child {
      border-top-right-radius: var(--border-radius);
      border-bottom-right-radius: var(--border-radius);
      border-right: 2px solid var(--border-color);
    }

    .text {
      width: 130px;
      white-space: nowrap;

      font-size: 18px;

      padding-left: var(--text-leftpad);
    }

    .cloud {
      /* width: 100px; */
      padding-top: 20px;
      padding-bottom: 20px;
      padding-left: 5px;
      height: 100%;
      /* height: fit-content; */
    }

    .count {
      width: min-content;
      padding-left: 15px;

      font-size: 28px;
    }

    /* Default colors */
    .logo {
      background-color: var(--logo-bg);
      fill: var(--logo-color);
    }

    .text {
      background-color: var(--text-bg);
      color: var(--text-color);
    }

    .cloud {
      background-color: var(--text-bg);
      fill: var(--text-color);
    }

    .count {
      background-color: var(--count-bg);
      color: var(--count-color);
      border-left: 2px solid var(--border-color);
    }

%body
  .badge
    %svg.item.logo{ xmlns: "http://www.w3.org/2000/svg", viewBox: "12.05 10.62 43.22 43.23" }
      %path{ d: "M47.6301 38.66C45.9701 40.53 43.5701 41.93 41.3701 41.06C40.5701 40.73 40.3701 39.99 40.4401 39.19C40.5101 38.12 40.7101 37.06 40.9101 35.99L43.5701 22H38.5101L36.3101 34.46C35.9801 35.93 35.3801 37.19 34.2501 38.19C33.1801 39.19 31.8501 39.72 30.1901 39.72C28.1901 39.72 27.2601 38.79 27.2601 37.05C27.2601 36.72 27.3301 36.18 27.4601 35.58L30.0601 21.85H24.9301L22.3301 35.78C22.2001 36.71 22.1301 37.38 22.1301 37.98C22.1301 39.85 22.6001 41.38 23.6601 42.38C24.7301 43.38 26.1901 43.91 28.0501 43.91C30.8501 43.91 33.0401 43.24 34.8401 41.91C34.8401 41.91 35.1101 44.71 39.9001 45.24C41.3001 45.37 43.0301 45.37 45.2301 45.04C46.8901 44.71 48.2901 44.04 49.6201 43.17C53.6801 40.44 55.5401 35.51 55.2101 30.78C54.9401 26.52 53.3501 22.38 50.7501 19.05C48.2201 15.72 44.6901 13.19 40.7001 11.85C38.4401 11.05 36.0401 10.65 33.7101 10.65H33.5801C27.8601 10.65 22.4001 12.98 18.3401 17.05C14.2801 21.18 12.0801 26.58 12.0801 32.31C12.1501 44.17 21.8001 53.83 33.6501 53.83H33.7801C38.1101 53.83 42.3001 52.56 45.8301 50.23C48.4301 48.5 50.1601 46.3 51.4201 44.5C48.6201 46.5 45.1601 47.63 41.9001 47.63C41.1001 47.63 40.3701 47.56 39.5701 47.43C38.1701 47.9 36.0401 48.43 33.7101 48.43H33.5801C24.5901 48.43 17.5401 41.37 17.4701 32.3C17.5401 23.24 24.5901 16.11 33.6501 16.04H33.7801C40.2401 16.04 46.2301 19.97 48.6201 25.97C49.8201 28.9 50.4201 32.43 49.4901 35.5C49.1601 36.5 48.4901 37.63 47.6301 38.63V38.66Z" }

    .item.text
      = "Deploy with"
      %br
      = "Unfurl Cloud"

    - if @template_flags[:cloud]
      %svg.item.cloud{ xmlns: "http://www.w3.org/2000/svg", viewBox: "200.18 24.27 76.92 17.98" }
        %path{d: "m214.93 40.97h-8.85c-.7 0-1.4-.14-2.11-.42-.42-.14-.98-.42-1.26-.71.84-.85 1.68-1.7 2.53-2.4.28.14.7.14.98.14h8.42c1.26 0 2.11-1.27 1.97-2.4-.14-.99-.84-1.55-1.83-1.84h-.28v-.28c0-.85-.14-1.55-.56-2.26-.28-.57-.56-.99-.98-1.27 0-.0933.047-.14.14-.14.7-.71 1.55-1.55 2.25-2.26h.14c1.12.99 1.83 2.12 2.25 3.53 0 .0933.047.14.14.14 1.83 1.41 2.67 3.25 2.25 5.51-.42 2.12-2.11 3.96-4.35 4.38-.42.14-.7.14-.84.28z" }
        %path{d: "m202.3 39.42c-.7-.57-1.12-1.13-1.55-1.84-1.12-2.4-.56-5.37 1.69-7.07.093-.0933.14-.1866.14-.28.14-.42.42-.99.7-1.55 1.12-2.12 2.95-3.39 5.34-3.82 2.25-.42 4.35.28 6.18 1.7l.14.14c-.7.71-1.4 1.55-2.25 2.26 0 0-.14 0-.14.14 0 0-.14 0-.14-.14-1.69-1.27-4.07-1.13-5.62.42l-.14.14h.14c1.4.42 2.39.99 3.23 1.98v.28c-.84.71-1.55 1.41-2.25 2.26 0 0 0 .14-.14.14-.42-.85-.98-1.27-1.69-1.27-1.4-.14-2.53 1.13-2.25 2.4.14.71.56 1.27 1.26 1.7-.98.71-1.83 1.55-2.67 2.4z" }
        %path{d: "m248.39 26.92h.42c.28 0 .7.14.98.28.14 0 .14.14.28.14.28.14.28.28.28.57v.42c0 .14-.14.28-.28.14-.14 0-.42-.14-.56-.14-.7-.28-1.26-.28-1.97-.14-.093 0-.187.0467-.28.14-.7.14-.7 1.13-.14 1.41.14.14.42.28.84.42.56.14.98.28 1.54.57s.98.57 1.26 1.27c.28.85 0 1.84-.98 2.4-.42.28-.84.42-1.41.42-.84.14-1.68 0-2.53-.28-.14 0-.28-.14-.28-.14-.28-.14-.28-.28-.42-.57v-.42c0-.28.14-.28.28-.28.28.14.42.14.7.28.7.28 1.41.28 2.11.14.28 0 .56-.14.7-.28.42-.28.42-1.13-.14-1.41-.28-.14-.56-.28-.98-.42s-.84-.28-1.4-.42c-.7-.28-1.12-.71-1.26-1.41-.14-.85 0-1.55.7-1.98.7-.42 1.26-.57 1.83-.71h.7z" }
        %path{d: "m241.79 33.1401c.14-.28.14-.57.28-.85.42-1.55.84-3.11 1.26-4.66-.14-.42 0-.42.42-.42h.7c.14 0 .28 0 .28.28 0 .14-.14.28-.14.42-.7 2.12-1.26 4.1-1.97 6.22-.093.28-.28.42-.56.42h-.56c-.28 0-.42-.14-.42-.42-.14-.71-.42-1.55-.56-2.26-.28-.99-.56-2.12-.7-3.11-.14.57-.28 1.13-.42 1.7-.28 1.27-.56 2.4-.84 3.68-.28.28-.56.42-.84.42h-.84c-.14 0-.28-.14-.28-.28-.14-.28-.14-.57-.28-.85-.56-1.98-1.12-3.82-1.69-5.8v-.28c0-.14 0-.28.14-.28h.84c.14 0 .28.14.28.28.14.28.14.57.28.85.42 1.55.84 3.11 1.26 4.81 0-.14.14-.28.14-.42.42-1.7.84-3.39 1.12-5.09.14-.28.28-.28.56-.28h.7c.28 0 .42.14.42.28.14.42.14.71.28 1.13.28 1.55.7 2.97 1.12 4.52-.093 0-.093 0 0 0z" }
        %path{d: "m239.4 42.05c-1.83 0-3.37-.14-4.91-.57-2.25-.57-4.35-1.55-6.32-2.97-.42-.28-.84-.71-1.4-1.13-.14-.14-.14-.28 0-.28 0-.14.14-.14.28 0 .28.14.42.28.7.42 1.4.71 2.81 1.27 4.35 1.84.98.28 1.97.57 2.95.71.84.14 1.83.28 2.67.28s1.55.14 2.39 0c.84 0 1.54-.14 2.39-.14 1.55-.14 3.23-.57 4.77-1.13.56-.14 1.12-.42 1.69-.71.14 0 .28-.14.42 0s.28.28.14.57l-.14.14c-1.26.99-2.81 1.7-4.21 2.12-1.12.42-2.25.57-3.37.71-.98 0-1.83.14-2.39.14z" }
        %path{d: "m232.52 33.71c-.14.28-.42.42-.56.57-.84.57-1.83.71-2.81.42-.84-.28-1.26-.85-1.4-1.7-.14-.57 0-.99.28-1.55.28-.57.84-.99 1.55-1.13.56-.14 1.12-.14 1.69-.14.42 0 .7.14 1.12.14h.14v-1.27c-.14-.57-.42-.99-1.12-.99-.7-.14-1.4 0-2.25.28-.14 0-.28.14-.56.14-.186.0933-.28.0933-.28 0v-.57c0-.14.14-.28.28-.28.28-.28.56-.42.98-.42.84-.28 1.69-.28 2.53 0 .98.28 1.55.85 1.69 1.84v4.1c0 .28.14.57.28.71.094.1867.047.3267-.14.42-.14.14-.28.28-.42.28-.14.14-.28.14-.56 0-.14-.28-.28-.42-.42-.71v-.14zm-.14-1.98v-.28c0-.0933-.046-.14-.14-.14-.28 0-.42-.14-.7-.14-.42 0-.84-.14-1.4 0-.42.28-.7.42-.84.99v.57c0 .57.42.85.84.99.56.14.98 0 1.55-.28.42-.28.7-.57.7-.99v-.71z" }
        %path{d: "m249.93 36.4c.42 0 .84 0 1.26.14s.42.14.42.57c0 .71-.14 1.27-.42 1.84-.28.71-.56 1.27-1.12 1.84-.093.0934-.187.14-.28.14-.14 0-.14.14-.28 0-.14 0 0-.14 0-.28.28-.57.42-1.13.56-1.7.14-.28.14-.57.14-.99v-.28c0-.28-.14-.42-.28-.42-.28-.14-.42-.14-.7-.14-.7 0-1.4 0-2.11.14h-.14c-.14 0-.14-.14-.14-.14 0-.14.14-.14.14-.14.56-.28 1.12-.57 1.69-.71.56.14.98.14 1.26.14z" }
        %path{d: "m267.9 42.1h-3.37c-.28 0-.56-.14-.84-.28l-.14-.14c-1.4-1.84-2.81-3.5299-4.21-5.3699-.14-.14-.14-.2801-.28-.4201-.14-.28-.14-.5699 0-.8499.56-2.26.98-4.3801 1.54-6.6401.14-.42.28-.71.7-.99 1.97-.85 3.79-1.84 5.76-2.83.14-.14.28-.14.42-.28.28.14.7.14 1.12.28.7.42 1.54.71 2.25 1.13 1.26.57 2.53 1.27 3.93 1.84.28.14.42.2801.56.5701 0 .14.14.28.14.42.28 1.41.56 2.6899.98 4.0999.14.85.42 1.7.56 2.54 0 .28.14.42 0 .71 0 .14-.14.2801-.14.4201-.14.28-.42.5699-.7.8499-1.26 1.55-2.39 3.11-3.65 4.52-.14.14-.28.28-.42.42-.28.14-.42.1401-.7.1401h-.28c-1.12-.14-2.11-.1401-3.23-.1401zm-.14-13.9899c0 .0933 0 .0933 0 0v.2799s-.14.1401 0 .1401c0 0 0 .1399-.14.1399h-.14c-.56.14-1.26.28-1.69.57-.42.28-.7.42-.98.85h-.56c-.093-.0933-.187-.1866-.28-.28-.14-.14-.28-.28-.42-.42s-.14-.14-.28-.14c-.28 0-.42.14-.42.42 0 .14.14.2801.28.2801-.093.0933-.093.1399 0 .1399.14.14.42.28.56.42l.14.14s0 .1401.14.1401v.1399c0 .14-.14.14-.14.28-.42.85-.7 1.7001-.56 2.6901v.2799c0 .0934-.047.14-.14.14h-.14c0 .14-.14.14-.28.14-.28 0-.42.14-.7.14-.14 0-.28.0001-.42.1401s-.28.2799-.14.4199c0 .14.28.28.42.28s.28 0 .42-.14c.28-.14.42-.1399.7-.2799h.42c.28.71.56 1.27.98 1.7.28.28.7.5699.98.8499.093 0 .093.0467 0 .14v.2801c0 .14-.14.28-.14.28-.14.14-.14.2799-.28.4199 0 .14-.14.1401-.14.2801 0 .28.14.4199.42.4199.14 0 .28-.14.28-.14 0-.14.14-.2799.14-.2799.14-.28.14-.4201.28-.7101l.14-.14s.14 0 .14-.14h.14c.42.14.7.28 1.12.28h1.26c.28 0 .7-.14.98-.28h.14s0 .14.14.14.14.14.14.14c0 .14.14.28.14.42s.14.28.14.42.14.1401.14.2801c.14.14.28.14.42.14s.28-.14.28-.28 0-.1401-.14-.2801c0-.14-.14-.28-.14-.28-.14-.14-.28-.4199-.28-.5699v-.57c.28-.14.56-.42.84-.71.56-.57.98-1.1301 1.26-1.9801 0-.0933.047-.14.14-.14h.42c.14 0 .28 0 .28.14.14 0 .28.1401.42.1401s.28.14.42.14.28-.1401.28-.2801v-.42c-.093-.0933-.187-.1399-.28-.1399h-.42c-.14 0-.42 0-.56-.14-.093 0-.14-.0467-.14-.1401l-.14-.14s-.14 0-.14-.14c0-.57 0-1.13-.14-1.7s-.28-.99-.7-1.55v-.14s0-.1399.14-.1399c0 0 0-.1401.14-.1401l.14-.14c0 .28.14.14.28.14s.14-.14.28-.14l.14-.1399c.14-.28-.14-.42-.42-.42-.093 0-.187.0466-.28.1399-.093.0934-.187.1867-.28.2801-.14.14-.28.28-.42.42 0-.14-.14-.1401-.14-.1401h-.28c0-.14-.14-.14-.28-.14-.84-.71-1.69-1.13-2.81-1.27 0 0-.14 0-.14-.14v-.1399l-.14-.1401c0-.28 0-.57.14-.85v-.28c0-.14-.14-.28-.28-.28-.28-.14-.42 0-.56.28v.4201c.14.14.28.4199.28.5699z" }
        %path{d: "m265.23 30.8s.14 0 0 0c.7-.57 1.26-.99 2.11-1.13.093 0 .14.0467.14.14v1.84c0 .28-.28.42-.56.28-.14-.14-.42-.28-.56-.42-.28-.14-.56-.42-1.12-.71.093 0 .093 0 0 0z" }
        %path{d: "m271.27 31.5c.42.71.7 1.55.56 2.4h-.14c-.56-.14-1.12-.28-1.83-.57h-.14c-.28-.14-.28-.42-.14-.57.14-.14.28-.28.42-.28.56-.28.84-.57 1.26-.99z" }
        %path{d: "m270.14 36.87c-.28-.71-.56-1.27-.7-1.84v-.28c0-.14.14-.28.28-.14.14 0 .42 0 .56.14.42 0 .84.14 1.26.14h.14c-.28.85-.84 1.55-1.55 1.98z" }
        %path{d: "m264.67 31.5c.14.14.28.28.42.28.42.28.7.71 1.12.99.093.0933.14.1867.14.28 0 .14-.14.28-.28.28s-.28.14-.42.14c-.42.14-.98.28-1.4.42h-.14c-.14-.85.14-1.55.56-2.4z" }
        %path{d: "m268.46 29.66c.84.14 1.55.42 2.25 1.13-.56.42-1.12.71-1.54 1.13-.14.14-.28.14-.28 0-.14 0-.14-.14-.14-.28 0-.57 0-1.13-.14-1.7-.093-.0933-.14-.1866-.14-.28z" }
        %path{d: "m266.77 37.3001c.28-.57.7-1.13.98-1.7.14-.14.28-.28.42-.14.14 0 .14.14.14.14.28.42.42.85.7 1.27 0 .14.14.28.28.42-.84.28-1.69.28-2.53 0z" }
        %path{d: "m265.93 36.8701c-.7-.42-1.26-1.13-1.54-1.98.14 0 .28 0 .42-.14.56-.14.98-.14 1.54-.28.28 0 .56.14.42.42-.28.42-.42.71-.42.99-.14.28-.28.57-.42.99z" }
        %path{d: "m268.04 32.92h.42c.14.14.14.28.28.42v.14c0 .14-.14.28-.14.42v.14c-.14 0-.28.14-.42.28h-.14c-.14 0-.28-.14-.42-.14v-.14c0-.14-.14-.28-.14-.42v-.14c.14-.14.14-.28.28-.42h.14c0-.0933.047-.14.14-.14z" }

    - if @template_flags[:count]
      .item.count
        = @deployment_count
