<script>
import { mapState } from 'vuex';
//import EksClusterConfigurationForm from './eks_cluster_configuration_form.vue'; oc change
import ServiceCredentialsForm from './service_credentials_form.vue';

export default {
  components: {
    ServiceCredentialsForm,
  },
  props: {
    gitlabManagedClusterHelpPath: {
      type: String,
      required: true,
    },
    namespacePerEnvironmentHelpPath: {
      type: String,
      required: true,
    },
    kubernetesIntegrationHelpPath: {
      type: String,
      required: true,
    },
    accountAndExternalIdsHelpPath: {
      type: String,
      required: true,
    },
    createRoleArnHelpPath: {
      type: String,
      required: true,
    },
    externalLinkIcon: {
      type: String,
      required: true,
    },
  },
  computed: {
    ...mapState(['hasCredentials']),
  },
};
</script>
<template>
  <div class="js-create-eks-cluster">
    <!-- oc change (remove eks-cluster-configuration-form) -->
    <service-credentials-form
      :create-role-arn-help-path="createRoleArnHelpPath"
      :account-and-external-ids-help-path="accountAndExternalIdsHelpPath"
      :external-link-icon="externalLinkIcon"
    />
  </div>
</template>
