<script>
import { GlButton, GlFormGroup, GlDropdown, GlDropdownItem, GlFormInput, GlIcon, GlLink, GlSprintf, GlAlert, GlFormRadioGroup, GlFormRadio } from '@gitlab/ui';
import { mapState, mapMutations, mapActions } from 'vuex';
import { s__, __ } from '~/locale';
import _ from 'lodash'
import ClipboardButton from '~/vue_shared/components/clipboard_button.vue';
import { DEFAULT_REGION } from '../constants';
import {patchEnv} from 'oc_vue_shared/client_utils/envvars'
import {deleteEnvironmentByName, postGitlabEnvironmentForm, initUnfurlEnvironment} from 'oc_vue_shared/client_utils/environments'
import {lookupCloudProviderAlias} from 'oc_vue_shared/util'
import { createAlert, VARIANT_DANGER } from '~/alert'
import csrf from '~/lib/utils/csrf'

// this file is full of oc changes and is likely incompatible with the original

const CREATE_ROLE_ERROR = 'CREATE_ROLE_ERROR'

const VALID_ROLE_ARN = /^\s*arn:aws:iam::\w{12}:role\/[a-zA-Z0-9\-]+\s*$/
const AWS_REGIONS = [
  'us-east-1',
  'us-east-2',
  'us-west-1',
  'us-west-2',
  'af-south-1',
  'ap-east-1',
  'ap-south-1',
  'ap-southeast-1',
  'ap-northeast-2',
  'ap-northeast-3',
  'ap-northeast-1',
  'ap-southeast-2',
  'ap-southeast-3',
  'ca-central-1',
  'eu-central-1',
  'eu-west-1',
  'eu-west-2',
  'eu-west-3',
  'eu-south-1',
  'eu-north-1',
  'me-south-1',
  'sa-east-1',
]
const AUTHENTICATION_OPTIONS = {
  '': 'Select',
  'access-key': 'Enter your AWS Access Key',
  'arn-stack': 'Create a Role ARN using AWS stack',
  'arn-manual': 'Create a Role ARN manually'
}

export default {
  AWS_REGIONS,
  AUTHENTICATION_OPTIONS,
  components: {
    GlFormRadio,
    GlFormRadioGroup,
    GlButton,
    GlFormGroup,
    GlFormInput,
    GlIcon,
    GlLink,
    GlSprintf,
    ClipboardButton,
    GlAlert,
    GlDropdown, GlDropdownItem
  },
  props: {
    accountAndExternalIdsHelpPath: {
      type: String,
      required: true,
    },
    createRoleArnHelpPath: {
      type: String,
      required: true,
    },
    externalLinkIcon: {
      type: String,
      required: true,
    },
  },
  i18n: {
    regionInputLabel: s__('ClusterIntegration|Select your Region:'),
    regionHelpPath: 'https://aws.amazon.com/about-aws/global-infrastructure/regions_az/',
    regionHelpText: s__(
      'ClusterIntegration|Select the default region you want to use. Make sure you have access to this region for your role to be able to authenticate.  Learn more about %{linkStart}Regions%{linkEnd}.',
    ),
    accountAndExternalIdsHelpText: s__(
      'ClusterIntegration|The Amazon Resource Name (ARN) associated with your role. If you do not have a provisioned role, first create one on %{awsLinkStart}Amazon Web Services %{awsLinkEnd} using the above account and external IDs.'
    ),
    createRoleHelpText:s__(
          'ClusterIntegration|You must grant access to your organization’s AWS resources. Click %{awsLinkStart}here %{awsLinkEnd} to automatically create the role in your AWS console.'),
    regionHelpTextDefaultRegion: DEFAULT_REGION,
  },
  data() {
    const search = decodeURIComponent(window.location.search)
    const ocEnvironmentName = search.match(/[\?&](env)=(?<env>[a-z0-9\-]+)+/i)?.groups?.env
    const arnFromQuery = search.match(/[\?&](arn)=(?<arn>\s*arn:aws:iam::\w{12}:role\/[a-zA-Z0-9\-]+\s*)+/i)?.groups?.arn

    return {
      roleArn: arnFromQuery || this.$store.state.roleArn,
      selectedRegion: this.$store.state.selectedRegion || DEFAULT_REGION,

      arnFromQuery,
      flashes: {},
      selectedMethod: '',
      accessKey: '',
      secretKey: '',
      roleName: 'UnfurlDeployRole',
      glDark: document.querySelector('body.gl-dark'),
      ocToken: csrf.token,
      ocEnvironmentName,
    };
  },
  computed: {
    ...mapState([
      'accountId', 'externalId', 'isCreatingRole', 'createRoleError',

      'hasCredentials', 'createClusterPath'
    ]),
    submitButtonDisabled() {
      return this.isCreatingRole || (!this.arnIsValid(this.roleArn) && !(this.accessKey && this.secretKey));
    },
    submitButtonLabel() {
      return this.isCreatingRole
        ? __('Authenticating')
        : s__('ClusterIntegration|Authenticate with AWS');
    },
    awsHelpLink() {
      return 'https://console.aws.amazon.com/iam/home?#roles';
    },

    awsCloudFormationLink() {
      return `https://${this.selectedRegion}.console.aws.amazon.com/cloudformation/home?region=${this.selectedRegion}#/stacks/quickcreate?templateURL=https://s3.amazonaws.com/unfurl.run-root/assets/provision-role.cloudformation.template&stackName=${this.roleName}&param_ExternalId=${this.externalId}&param_RoleName=${this.roleName}`
    },

    awsAccountId() {
      // arn:aws:iam::284355325122:role/UnfurlDeployRole
      // if (this.roleArn) { return this.roleArn.match(arn:aws:iam::/($1)/:role).group(1) }
      return '';
    },

    awsRoleConsoleLink() {
      return `https://console.aws.amazon.com/iamv2/home#/roles/details/${this.roleName}`
    },
    trimmedArn() {
      return this.roleArn?.trim()
    },
    projectPath() {
      // TODO this seems unreliable
      return window.location.pathname.split('/-/')[0].slice(1)
    },
    cancelHref() {
      return `/${this.projectPath}/-/environments/handle_redirect`
    }
},

  methods: {
    ...mapActions(['createRole']),
    ...mapMutations(['SET_ARN_VALIDITY']),
    goBack() {
      window.location.href = sessionStorage['cancelTo']
    },
    async onSave() {
      try {
        if(this.selectedMethod == 'access-key') {
          const self = this
          async function updateGitlab() {
            await postGitlabEnvironmentForm()
            await patchEnv({
              AWS_ACCESS_KEY_ID: self.accessKey,
              AWS_SECRET_ACCESS_KEY: self.secretKey,
              AWS_DEFAULT_REGION: self.selectedRegion
            }, self.ocEnvironmentName, self.projectPath)

          }
          await Promise.all([updateGitlab(), this.initUnfurlAWS()])
          sessionStorage['instantiate_env'] = this.ocEnvironmentName
          sessionStorage['instantiate_provider'] = 'aws'
          window.location.href = this.cancelHref
        }
        else {
          await this.createCluster()
        }
      } catch(e) {
        console.error(e)
        createAlert({message: e.message, type: VARIANT_DANGER})
        await deleteEnvironmentByName(this.projectPath, this.ocEnvironmentName)
      }
    },
    async createCluster() {
      const {trimmedArn, selectedRegion, externalId} = this
      await this.createRole({ roleArn: trimmedArn, selectedRegion, externalId })
      if(! this.createRoleError) {
        await Promise.all([postGitlabEnvironmentForm(), this.initUnfurlAWS()])
        if(this.hasCredentials) this.$refs.clusterSubmission.submit()
      }
    },
    arnIsValid(arn) {
      return !!arn?.match(VALID_ROLE_ARN)
    },
    async initUnfurlAWS() {
      const primary_provider = {
        name: 'primary_provider',
        type: lookupCloudProviderAlias('aws'),
        __typename: 'ResourceTemplate'
      }

      const result = await initUnfurlEnvironment(
        this.projectPath,
        {
          name: this.ocEnvironmentName,
          primary_provider,
        }
      )
      return result
    },
  },
  watch: {
    createRoleError(val) {
      if(this.flashes[CREATE_ROLE_ERROR]) {
        // hideFlash(this.flashes[CREATE_ROLE_ERROR])
        delete this.flashes[CREATE_ROLE_ERROR]
      }
      if(val) {
        this.flashes[CREATE_ROLE_ERROR] = createFlash({message: val})
      }
    },
    roleArn: _.debounce(
      function(currentValue) {
        if(currentValue?.trim()) {
          this.SET_ARN_VALIDITY({isValid: this.arnIsValid(currentValue)})
        }
      },
      3000
    ),
    roleName(value) {
      if(! /^[a-zA-Z0-9\-]+$/.test(value)) {
        this.$nextTick(() => {
          this.roleName = value.replace(/[^a-zA-Z0-9\-]/g, '')
        })
      }
    }
  },
  mounted() {
    if(!sessionStorage['environmentFormEntries']) {
      sessionStorage['environmentFormEntries'] = JSON.stringify([
        ['authenticity_token', csrf.token],
        ['provider', 'aws'],
        ['environment[name]', this.ocEnvironmentName]
      ])
      sessionStorage['environmentFormAction'] = `${window.origin}/${this.projectPath}/-/environments`
    }
  }
};
</script>
<template>
  <div :class="{'gl-dark': glDark}">
    <form class="d-none" ref="clusterSubmission" method="POST" :action="createClusterPath">
      <input name="authenticity_token" :value="ocToken">
      <input name="cluster[name]" :value="ocEnvironmentName">
      <input name="cluster[environment_scope]" :value="ocEnvironmentName">
      <input name="cluster[platform_type]" value="unfurl">
      <input name="cluster[provider_aws_attributes][region]" :value="selectedRegion">
      <input name="cluster[provider_aws_attributes][role_arn]" :value="trimmedArn">
      <input name="cluster[provider_aws_attributes][key_name]" value="placeholder">
      <input name="cluster[provider_aws_attributes][security_group_id]" value="placeholder">
      <input name="cluster[provider_aws_attributes][subnet_ids][]" value="placeholder">
      <input name="cluster[provider_aws_attributes][vpc_id]" value="placeholder">
    </form>

    <form name="service-credentials-form">
      <h3 class="" >{{ s__('ClusterIntegration|Authenticate your AWS Account') }}</h3>
      <!--
      <gl-alert
        v-if="createRoleError"
        class="js-invalid-credentials gl-mb-5"
        variant="danger"
        :dismissible="false"
      >
        {{ createRoleError }}
      </gl-alert>
      -->
      <aside>
        <gl-form-group class="col-12">
          <h4 class="mb-1">{{$options.i18n.regionInputLabel}}</h4>
          <div class="form-row mb-2">
            <!--gl-form-input id="eks-region" v-model="selectedRegion" type="text" /-->
            <gl-dropdown class="g-0 col-sm-12 col-10 " :text="selectedRegion">
              <gl-dropdown-item v-for="region in $options.AWS_REGIONS" :key="region" @click="() => selectedRegion = region">
                {{region}}
              </gl-dropdown-item>
            </gl-dropdown>
          </div>

          <template #description>
            <gl-sprintf class="g-0 col-sm-12 col-10":message="$options.i18n.regionHelpText">
              <template #code>
                <code>{{ $options.i18n.regionHelpTextDefaultRegion }}</code>
              </template>

              <template #link="{ content }">
                <gl-link :href="$options.i18n.regionHelpPath" target="_blank">
                  {{ content }}
                  <gl-icon name="external-link" />
                </gl-link>
              </template>
            </gl-sprintf>
          </template>
        </gl-form-group>
      </aside>

      <section v-if="!arnFromQuery">
        <gl-form-group class="col-12">
          <h4 class="mb-1">Select an authentication method:</h4>
          <gl-dropdown :text="$options.AUTHENTICATION_OPTIONS[selectedMethod]" class="p-0 g-0 col-sm-12 col-10">
            <gl-dropdown-item v-for="option in Object.entries($options.AUTHENTICATION_OPTIONS).slice(1)" :key="option" @click="() => selectedMethod = option[0]">
              {{option[1]}}
            </gl-dropdown-item>
          </gl-dropdown>
        </gl-form-group>
      </section>
      <section v-else>
        <gl-form-group class="col-12">
          <h4 class="mb-1">Enter your Role ARN:</h4>
          <gl-form-input style="width: 30em" class="d-inline" id="eks-provision-role-arn" v-model="roleArn" placeholder="arn:aws:iam::xxxxxxxxxxxx:role/UnfurlDeployRole"/>
        </gl-form-group>
      </section>


      <section v-if="selectedMethod == 'access-key'">
        <gl-form-group class="col-12">
          <h4 class="mb-1">1. AWS Access key ID:</h4>
          <gl-form-input v-model="accessKey" />
        </gl-form-group>
        <gl-form-group class="col-12">
          <h4 class="mb-1">2. AWS Secret access key:</h4>
          <gl-form-input type="password" v-model="secretKey" />
        </gl-form-group>
      </section>


      <section v-if="selectedMethod == 'arn-manual'">
        <gl-form-group class="col-12">
          <h4 class="mb-1">Account ID:</h4>
          <div class="input-group">
            <gl-form-input id="gitlab-account-id" type="text" readonly :value="accountId" />
            <div class="input-group-append">
              <clipboard-button
                :text="accountId"
                :title="__('Copy Account ID to clipboard')"
                class="input-group-text js-copy-account-id-button"
                />
            </div>
          </div>

        </gl-form-group>
        <gl-form-group class="col-12">
          <h4 class="mb-1">External ID:</h4>
          <div class="input-group">
            <gl-form-input id="eks-external-id" type="text" readonly :value="externalId" />
            <div class="input-group-append">
              <clipboard-button
                :text="externalId"
                :title="__('Copy External ID to clipboard')"
                class="input-group-text js-copy-external-id-button"
              />
            </div>
          </div>

        </gl-form-group>
        <p class="col-12">
          Use your Account ID and External ID above to create a Role ARN manually in AWS. Then copy/paste your Role ARN below.
          <a href="/help/user/project/clusters/add_eks_clusters.md#create-another-eks-iam-role-for-gitlab-authentication-with-amazon">Learn More</a>.
        </p>
        <gl-form-group class="col-12">
          <h4 class="mb-1">Enter your Role ARN:</h4>
          <gl-form-input style="width: 30em" class="d-inline" id="eks-provision-role-arn" v-model="roleArn" placeholder="arn:aws:iam::xxxxxxxxxxxx:role/UnfurlDeployRole"/>
        </gl-form-group>

      </section>

      <section v-if="selectedMethod == 'arn-stack'">
        <h4 class="col"> 1. Create a Role ARN using AWS stack:</h4>
        <gl-form-group class="col-12">
          <h4 class="mb-1">Role Name:</h4>
          <gl-form-input v-model="roleName" />
        </gl-form-group>
        <div class="row m-0 mt-2 mb-2">
          <div class="col-12">
            <gl-button class="float-right" :disabled="!selectedRegion || !roleName":href="awsCloudFormationLink" target="_blank" rel="noopener noreferrer" variant="confirm">Create Stack</gl-button>
          </div>
        </div>
        <p class="col-12">
          Click the blue “Create Stack” button above. This will take you to your AWS console. In AWS, scroll down and click the acknowledgement check box in the blue area at the bottom, and then click the orange button “Create Stack”.
        </p>
        <img style="max-width: 100%;" src="/oc/assets/images/eks-create-stack.jpg">

        <h4 class="mt-6 col">2. Paste your Role ARN from AWS:</h4>
        <gl-form-group class="col-12">
          <gl-form-input style="width: 30em" class="d-inline" id="eks-provision-role-arn" v-model="roleArn" placeholder="arn:aws:iam::xxxxxxxxxxxx:role/UnfurlDeployRole"/>
        </gl-form-group>
        <p class="col-12">
          Once your stack has been created in AWS, click on the “Outputs” tab and copy/paste the value of your Role ARN (outlined in red below).
        </p>
        <img style="max-width: 100%;" src="/oc/assets/images/eks-select-deploy-role.jpg">
      </section>

      <div style="max-width: 700px;" class="col-12 mt-5 form-actions d-flex justify-content-end">

        <gl-button
            variant="confirm"
            type="submit"
            :disabled="submitButtonDisabled"
            :loading="isCreatingRole"
            @click.prevent="onSave"
            >
            <gl-icon name="disk" />
            {{ __('Save') }}
        </gl-button>

        <gl-button class="ml-2" @click="goBack">
            {{ __('Cancel') }}
        </gl-button>

      </div>

    </form>
  </div>
</template>
<style scoped>
.numbering {
  line-height: 1.3;
  font-size: 1.5em;
  border-style: solid;
  border-radius: 50%;
  display: inline-block;
  width: 1.5em;
  height: 1.5em;
  padding-bottom: 0.5em;
  text-align: center;
  border-width: 2.5px;
  position: relative;
  right: -20px;
  color: #555; border-color: #666;
}

.radio-selector >>> .gl-form-radio {
  font-size: 1.2em;
  margin-bottom: 1em;
}
aside , section{
  padding: 1.5em;
  border-width: 1px;
  max-width: 700px;
}
aside {
  background-color: #FAF9FA;
  border-style: solid;
  border-color: #DBDBDB;
}
.gl-dark aside{
  background-color: #2F3030;
  border-color: #626464;
}

h4 { font-size: 1.15rem}
section >>> .dropdown-menu {
  width: unset !important;
}

.js-invalid-credentials {
  position: sticky;
  top: 60px;

}
</style>
