!!! XML
%urlset{:xmlns => "http://www.sitemaps.org/schemas/sitemap/0.9"}
  - @projects.each do |project|
    %url
      %loc=loc(project)
      %lastmod=lastmod(project)
  %url
    %loc=explore_blueprints_loc
    %lastmod=explore_blueprints_lastmod
  %url
    %loc=URI.join(Gitlab.config.gitlab.url, help_path)
  %url
    %loc=URI.join(Gitlab.config.gitlab.url, public_cloud_path)
    %lastmod=cloud_lastmod
  - if @std
    %url
      %loc=loc(@std)
      %lastmod=lastmod(@std)
    %url
      %loc=@std.pages_url
      %lastmod=lastmod(@std)
  - if @cloudmap
    %url
      %loc=loc(@cloudmap)
      %lastmod=lastmod(@cloudmap)
