- env = params[:env]
- if not env
  = render_ce "clusters/clusters/gcp/new"
- else
  - if true #@valid_gcp_token
    - external_link_icon = sprite_icon('external-link')
    - zones_link_url = 'https://cloud.google.com/compute/docs/regions-zones/regions-zones'
    - machine_type_link_url = 'https://cloud.google.com/compute/docs/machine-types'
    - pricing_link_url = 'https://cloud.google.com/compute/pricing#machinetype'
    - help_link_start = '<a href="%{url}" target="_blank" rel="noopener noreferrer">'.html_safe
    - help_link_end = ' %{external_link_icon}</a>'.html_safe % { external_link_icon: external_link_icon }
    - handle_redirect = "#{project_environments_path(@project)}/handle_redirect"

    //%p= link_to('Select a different Google account', @authorize_url)
    #gcp-icon.d-none= provider_image_tag('google_oauth2')

    = gitlab_ui_form_for @gcp_cluster, html: { style: "min-width: 436px; display: inline-flex; flex-direction: column;", id: 'cluster-form', class: 'd-none gl-show-field-errors js-gke-cluster-creation prepend-top-20',
      data: { token: token_in_session } }, url: clusterable.create_gcp_clusters_path, as: :cluster do |field|

      = field.hidden_field :name, value: env

      = field.hidden_field :environment_scope, value: env

      = field.hidden_field :platform_type, value: 'unfurl'

      = field.fields_for :provider_gcp, @gcp_cluster.provider_gcp do |provider_gcp_field|
        .form-group
          = provider_gcp_field.label :gcp_project_id, s_('ClusterIntegration|Google Cloud Platform project'),
            class: 'label-bold'
          .js-gcp-project-id-dropdown-entry-point{ data: { docsUrl: 'https://console.cloud.google.com/home/dashboard' } }
            = provider_gcp_field.hidden_field :gcp_project_id
            .dropdown
              %button.dropdown-menu-toggle.dropdown-menu-full-width{ type: 'button', disabled: true }
                %span.dropdown-toggle-text
                  = _('Select project')
                = sprite_icon('chevron-down', css_class: 'dropdown-menu-toggle-icon gl-top-3')
            %span.form-text.text-muted &nbsp;

        .form-group
          = provider_gcp_field.label :zone, s_('ClusterIntegration|Zone'), class: 'label-bold'
          .js-gcp-zone-dropdown-entry-point
            = provider_gcp_field.hidden_field :zone
            .dropdown
              %button.dropdown-menu-toggle.dropdown-menu-full-width{ type: 'button', disabled: true }
                %span.dropdown-toggle-text
                  = _('Select project to choose zone')
                = sprite_icon('chevron-down', css_class: 'dropdown-menu-toggle-icon gl-top-3')
          %p.form-text.text-muted
            = s_('ClusterIntegration|Learn more about %{help_link_start}zones%{help_link_end}.').html_safe % { help_link_start: help_link_start % { url: zones_link_url }, help_link_end: help_link_end }


    #js-oc-gcp-authentication{ data: {token: token_in_session, authorize_url: @authorize_url, handle_redirect: handle_redirect} }
  - else
    = render 'clusters/clusters/gcp/gcp_not_configured'
