- return unless google_tag_manager_enabled?

-# OC Change: hardcode google tag manager until we upgrade to 14.9
<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=#{gitlab_config.host == 'unfurl.cloud' ? 'GTM-KVN8B2B' : extra_config.google_tag_manager_id}"
height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
