- if google_tag_manager_enabled?
  = javascript_tag do
    :plain
      (function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
      new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
      j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
      'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
      })(window,document,'script','dataLayer','#{gitlab_config.host == 'unfurl.cloud' ? 'GTM-KVN8B2B' : extra_config.google_tag_manager_id}');
-# OC Change:                                 ^ hardcode google tag manager until we upgrade to 14.9
