%br
%div{ :style => "width: 455px; margin-left: auto; margin-right: auto;" }
  Questions? Please contact us at
  = mail_to "support@unfurl.cloud"
  %br
  Or visit us on 
  = link_to "https://discord.gg/jtZnZ6hZMn" do
    %img{ :alt => "Discord", :src => image_path('/oc/assets/images/discord.svg') }
%br
.uf-help-footer-logo
  = brand_header_logo
%br