- @breadcrumb_title = _("Help")
- page_title    _("Help")
- header_title  _("Help"), help_path
- sidebar       "help"
- nav           "help"
- @left_sidebar = true

= render template: "layouts/application"
= render "layouts/help_footer"
