- page_title    _("Home")
- header_title  _("Home"), root_path unless header_title
- sidebar       "dashboard"
- nav           "dashboard"
- @left_sidebar = true
- @hide_breadcrumbs = true

= render template: "layouts/application"
