<svg fill="white" height="69" viewBox="0 0 415 69" width="415" xmlns="http://www.w3.org/2000/svg">
<path d="m8.78979 2.40997h305.46021c3.05 0 5.51 2.24 5.51 5v51.00003c0 2.76-2.47 5-5.51 5h-305.46021c-3.05 0-5.51-2.24-5.51-5v-51.00003c0-2.76 2.47-5 5.51-5z" stroke="black" stroke-miterlimit="10"/>
<g fill="black">
<path d="m52.03 38.66c-1.66 1.87-4.06 3.27-6.26 2.4-.8-.33-1-1.07-.93-1.87.07-1.07.27-2.13.47-3.2l2.66-13.99h-5.06l-2.2 12.46c-.33 1.47-.93 2.73-2.06 3.73-1.07 1-2.4 1.53-4.06 1.53-2 0-2.93-.93-2.93-2.67 0-.33.07-.87.2-1.47l2.6-13.73h-5.13l-2.6 13.93c-.13.93-.2 1.6-.2 2.2 0 1.87.47 3.4 1.53 4.4 1.07 1 2.53 1.53 4.39 1.53 2.8 0 4.99-.67 6.79-2 0 0 .27 2.8 5.06 3.33 1.4.13 3.13.13 5.33-.2 1.66-.33 3.06-1 4.39-1.87 4.06-2.73 5.92-7.66 5.59-12.39-.27-4.26-1.86-8.4-4.46-11.73-2.53-3.33-6.06-5.86-10.05-7.2-2.26-.8-4.66-1.2-6.99-1.2h-.13c-5.72 0-11.18 2.33-15.24 6.4-4.06 4.13-6.26 9.53-6.26 15.26.07 11.86 9.72 21.52 21.57 21.52h.13c4.33 0 8.52-1.27 12.05-3.6 2.6-1.73 4.33-3.93 5.59-5.73-2.8 2-6.26 3.13-9.52 3.13-.8 0-1.53-.07-2.33-.2-1.4.47-3.53 1-5.86 1h-.13c-8.99 0-16.04-7.06-16.11-16.13.07-9.06 7.12-16.19 16.18-16.26h.13c6.46 0 12.45 3.93 14.84 9.93 1.2 2.93 1.8 6.46.87 9.53-.33 1-1 2.13-1.86 3.13z"/>
<path d="m98.42 21.56c0 2.12-.6 3.74-1.81 4.86s-2.94 1.69-5.22 1.69h-3.64v-12.85h4.03c2.1 0 3.73.55 4.89 1.66s1.74 2.65 1.74 4.64zm-2.83.07c0-2.76-1.22-4.14-3.66-4.14h-1.45v8.37h1.17c2.62 0 3.94-1.41 3.94-4.23z"/>
<path d="m105.32 28.2901c-1.58 0-2.82-.44-3.71-1.31s-1.34-2.11-1.34-3.71.41-2.92 1.24-3.82c.82-.9 1.96-1.35 3.41-1.35s2.47.4 3.24 1.19 1.16 1.88 1.16 3.28v1.3h-6.34c.03.76.25 1.36.68 1.78s1.01.64 1.78.64c.59 0 1.15-.06 1.68-.18s1.08-.32 1.65-.59v2.07c-.47.23-.97.41-1.5.52-.53.12-1.18.17-1.95.17zm-.38-8.28c-.57 0-1.01.18-1.34.54-.32.36-.51.87-.55 1.53h3.76c-.01-.66-.18-1.17-.52-1.53-.33-.36-.79-.54-1.35-.54z"/>
<path d="m116.91 28.2901c-1.15 0-2.06-.42-2.72-1.26h-.14c.09.82.14 1.29.14 1.42v3.98h-2.68v-14.15h2.18l.38 1.27h.12c.63-.97 1.56-1.46 2.79-1.46 1.16 0 2.07.45 2.72 1.34s.98 2.14.98 3.74c0 1.05-.15 1.96-.46 2.73s-.75 1.36-1.31 1.77-1.24.61-2 .61zm-.79-8.04c-.66 0-1.15.2-1.45.61s-.46 1.08-.47 2.02v.29c0 1.05.16 1.81.47 2.27s.81.69 1.49.69c1.2 0 1.8-.99 1.8-2.97 0-.97-.15-1.69-.44-2.17-.3-.48-.76-.73-1.39-.73z"/>
<path d="m125.58 28.1101h-2.68v-13.68h2.68z"/>
<path d="m137.32 23.1801c0 1.6-.42 2.85-1.27 3.75s-2.02 1.35-3.52 1.35c-.94 0-1.78-.21-2.5-.62s-1.27-1.01-1.66-1.78-.58-1.68-.58-2.71c0-1.61.42-2.85 1.26-3.74s2.02-1.34 3.53-1.34c.94 0 1.78.21 2.5.62s1.27 1 1.66 1.77.58 1.67.58 2.7zm-6.79 0c0 .97.16 1.71.48 2.21s.84.75 1.56.75 1.23-.25 1.54-.74.47-1.23.47-2.21-.16-1.7-.47-2.19-.83-.73-1.56-.73-1.23.24-1.55.73c-.32.48-.47 1.21-.47 2.19z"/>
<path d="m138.13 18.28h2.94l1.85 5.53c.16.48.27 1.05.33 1.71h.05c.06-.6.19-1.17.38-1.71l1.82-5.53h2.87l-4.16 11.08c-.38 1.03-.92 1.79-1.63 2.3s-1.53.76-2.47.76c-.46 0-.92-.05-1.36-.15v-2.13c.32.08.67.11 1.05.11.47 0 .89-.14 1.24-.44.35-.29.63-.73.83-1.31l.16-.48-3.9-9.76z"/>
<path d="m162.53 28.11-.76-3.44-1.02-4.34h-.06l-1.79 7.78h-2.88l-2.79-9.83h2.67l1.13 4.35c.18.78.37 1.85.55 3.23h.05c.02-.45.13-1.15.31-2.12l.14-.75 1.21-4.71h2.95l1.15 4.71c.02.13.06.32.11.57s.1.52.15.8c.05.29.09.56.13.84.04.27.06.49.07.65h.05c.05-.42.15-1 .28-1.74.13-.73.23-1.23.29-1.49l1.18-4.35h2.63l-2.83 9.83h-2.92z"/>
<path d="m169.75 15.7401c0-.87.49-1.31 1.46-1.31s1.46.44 1.46 1.31c0 .42-.12.74-.36.97s-.61.35-1.09.35c-.97 0-1.46-.44-1.46-1.32zm2.79 12.37h-2.68v-9.83h2.68z"/>
<path d="m179.49 26.1501c.47 0 1.03-.1 1.69-.31v2c-.67.3-1.49.45-2.46.45-1.07 0-1.85-.27-2.34-.81s-.73-1.36-.73-2.44v-4.74h-1.28v-1.13l1.48-.9.77-2.07h1.71v2.09h2.75v2.01h-2.75v4.74c0 .38.11.66.32.84s.5.27.85.27z"/>
<path d="m192.24 28.1101h-2.68v-5.74c0-1.42-.53-2.13-1.58-2.13-.75 0-1.29.25-1.63.76s-.5 1.34-.5 2.48v4.62h-2.68v-13.67h2.68v2.79c0 .22-.02.73-.06 1.53l-.06.79h.14c.6-.96 1.55-1.44 2.85-1.44 1.15 0 2.03.31 2.63.93s.9 1.51.9 2.67v6.41z"/>
<path d="m98.2199 36.8601v8.31c0 .95-.21 1.78-.64 2.5s-1.04 1.26-1.84 1.64-1.75.57-2.85.57c-1.65 0-2.94-.42-3.85-1.27s-1.37-2.01-1.37-3.48v-8.28h2.72v7.87c0 .99.2 1.72.6 2.18s1.06.69 1.98.69 1.54-.23 1.94-.7c.4-.46.6-1.2.6-2.19v-7.85h2.72z"/>
<path d="m110.23 49.7101h-2.68v-5.74c0-.71-.13-1.24-.38-1.59s-.65-.53-1.2-.53c-.75 0-1.29.25-1.63.75-.33.5-.5 1.33-.5 2.49v4.62h-2.68v-9.83h2.05l.36 1.26h.15c.3-.47.71-.83 1.24-1.08.52-.24 1.12-.36 1.79-.36 1.14 0 2.01.31 2.6.93s.89 1.51.89 2.68v6.41z"/>
<path d="m118.42 41.9001h-2.32v7.81h-2.68v-7.81h-1.48v-1.29l1.48-.72v-.72c0-1.12.28-1.94.83-2.45s1.43-.77 2.65-.77c.93 0 1.75.14 2.47.41l-.69 1.97c-.54-.17-1.04-.25-1.49-.25-.38 0-.66.11-.83.34s-.25.51-.25.87v.62h2.32v2.01z"/>
<path d="m126.92 49.71-.36-1.26h-.14c-.29.46-.69.81-1.22 1.06s-1.13.37-1.8.37c-1.15 0-2.02-.31-2.61-.93s-.88-1.51-.88-2.67v-6.41h2.68v5.74c0 .71.13 1.24.38 1.59.25.36.65.53 1.2.53.75 0 1.29-.25 1.63-.75.33-.5.5-1.33.5-2.49v-4.62h2.68v9.83h-2.06z"/>
<path d="m137.27 39.7001c.36 0 .67.03.91.08l-.2 2.51c-.22-.06-.48-.09-.79-.09-.86 0-1.52.22-2 .66s-.72 1.05-.72 1.85v5h-2.68v-9.83h2.03l.4 1.65h.13c.3-.55.72-.99 1.24-1.33s1.08-.5 1.69-.5z"/>
<path d="m142.64 49.71h-2.68v-13.68h2.68z"/>
<path d="m155.8 38.9401c-1.03 0-1.82.39-2.38 1.16s-.84 1.84-.84 3.22c0 2.87 1.08 4.3 3.23 4.3.9 0 2-.23 3.28-.68v2.29c-1.05.44-2.23.66-3.53.66-1.87 0-3.3-.57-4.29-1.7s-1.49-2.76-1.49-4.88c0-1.34.24-2.51.73-3.51s1.18-1.78 2.1-2.31c.91-.54 1.98-.8 3.2-.8s2.5.3 3.76.91l-.88 2.21c-.48-.23-.96-.43-1.45-.6s-.96-.25-1.43-.25z"/>
<path d="m164.28 49.71h-2.68v-13.68h2.68z"/>
<path d="m176.02 44.7801c0 1.6-.42 2.85-1.27 3.75s-2.02 1.35-3.52 1.35c-.94 0-1.78-.21-2.5-.62s-1.27-1.01-1.66-1.78-.58-1.68-.58-2.71c0-1.61.42-2.85 1.26-3.74s2.02-1.34 3.53-1.34c.94 0 1.78.21 2.5.62s1.27 1 1.66 1.77.58 1.67.58 2.7zm-6.79 0c0 .97.16 1.71.48 2.21s.84.75 1.56.75 1.23-.25 1.54-.74.47-1.23.47-2.21-.16-1.7-.47-2.19-.83-.73-1.56-.73-1.23.24-1.55.73c-.32.48-.47 1.21-.47 2.19z"/>
<path d="m185.2 49.71-.36-1.26h-.14c-.29.46-.69.81-1.22 1.06s-1.13.37-1.8.37c-1.15 0-2.02-.31-2.61-.93s-.88-1.51-.88-2.67v-6.41h2.68v5.74c0 .71.13 1.24.38 1.59.25.36.65.53 1.2.53.75 0 1.29-.25 1.63-.75.33-.5.5-1.33.5-2.49v-4.62h2.68v9.83h-2.06z"/>
<path d="m193.18 49.89c-1.15 0-2.06-.45-2.72-1.34-.66-.9-.99-2.14-.99-3.73s.33-2.87 1.01-3.77c.67-.9 1.6-1.35 2.77-1.35 1.24 0 2.18.48 2.83 1.44h.09c-.13-.73-.2-1.39-.2-1.96v-3.15h2.69v13.68h-2.06l-.52-1.27h-.11c-.61.97-1.54 1.45-2.79 1.45zm.94-2.14c.69 0 1.19-.2 1.51-.6s.49-1.08.52-2.03v-.29c0-1.05-.16-1.81-.49-2.27-.32-.46-.85-.69-1.59-.69-.6 0-1.06.25-1.39.76s-.5 1.24-.5 2.21.17 1.69.5 2.17.81.73 1.43.73z"/>
<path d="m233.68 39.79h-8.85c-.7 0-1.4-.1401-2.11-.4201-.42-.14-.98-.4199-1.26-.7099.84-.85 1.68-1.7001 2.53-2.4001.28.14.7.1401.98.1401h8.42c1.26 0 2.11-1.27 1.97-2.4-.14-.99-.84-1.55-1.83-1.84h-.28v-.2801c0-.85-.14-1.5499-.56-2.2599-.28-.57-.56-.99-.98-1.27 0-.0934.047-.1401.14-.1401.7-.71 1.55-1.5499 2.25-2.2599h.14c1.12.99 1.83 2.1199 2.25 3.5299 0 .0934.047.1401.14.1401 1.83 1.41 2.67 3.25 2.25 5.51-.42 2.12-2.11 3.9599-4.35 4.3799-.42.14-.7.1401-.84.2801z"/>
<path d="m221.05 38.24c-.7-.57-1.12-1.13-1.55-1.84-1.12-2.4-.56-5.37 1.69-7.07.093-.0933.14-.1867.14-.28.14-.42.42-.99.7-1.55 1.12-2.12 2.95-3.39 5.34-3.82 2.25-.42 4.35.28 6.18 1.7l.14.14c-.7.71-1.4 1.55-2.25 2.26 0 0-.14 0-.14.14 0 0-.14 0-.14-.14-1.69-1.27-4.07-1.13-5.62.42l-.14.14h.14c1.4.42 2.39.99 3.23 1.98v.28c-.84.71-1.55 1.41-2.25 2.26 0 0 0 .14-.14.14-.42-.85-.98-1.27-1.69-1.27-1.4-.14-2.53 1.13-2.25 2.4.14.71.56 1.27 1.26 1.7-.98.71-1.83 1.55-2.67 2.4z"/>
<path d="m267.14 25.75h.42c.28 0 .7.14.98.28.14 0 .14.14.28.14.28.14.28.28.28.57v.42c0 .14-.14.28-.28.14-.14 0-.42-.14-.56-.14-.7-.28-1.26-.28-1.97-.14-.093 0-.187.0467-.28.14-.7.14-.7 1.13-.14 1.41.14.14.42.28.84.42.56.14.98.28 1.54.57s.98.57 1.26 1.27c.28.85 0 1.84-.98 2.4-.42.28-.84.42-1.41.42-.84.14-1.68 0-2.53-.28-.14 0-.28-.14-.28-.14-.28-.14-.28-.28-.42-.57v-.42c0-.28.14-.28.28-.28.28.14.42.14.7.28.7.28 1.41.28 2.11.14.28 0 .56-.14.7-.28.42-.28.42-1.13-.14-1.41-.28-.14-.56-.28-.98-.42s-.84-.28-1.4-.42c-.7-.28-1.12-.71-1.26-1.41-.14-.85 0-1.55.7-1.98.7-.42 1.26-.57 1.83-.71h.7z"/>
<path d="m260.54 31.97c.14-.28.14-.57.28-.85.42-1.55.84-3.11 1.26-4.66-.14-.42 0-.42.42-.42h.7c.14 0 .28 0 .28.28 0 .14-.14.28-.14.42-.7 2.12-1.26 4.1-1.97 6.22-.093.28-.28.42-.56.42h-.56c-.28 0-.42-.14-.42-.42-.14-.71-.42-1.55-.56-2.26-.28-.99-.56-2.12-.7-3.11-.14.57-.28 1.13-.42 1.7-.28 1.27-.56 2.4-.84 3.68-.28.28-.56.42-.84.42h-.84c-.14 0-.28-.14-.28-.28-.14-.28-.14-.57-.28-.85-.56-1.98-1.12-3.82-1.69-5.8v-.28c0-.14 0-.28.14-.28h.84c.14 0 .28.14.28.28.14.28.14.57.28.85.42 1.55.84 3.11 1.26 4.81 0-.14.14-.28.14-.42.42-1.7.84-3.39 1.12-5.09.14-.28.28-.28.56-.28h.7c.28 0 .42.14.42.28.14.42.14.71.28 1.13.28 1.55.7 2.97 1.12 4.52-.093 0-.093 0 0 0z"/>
<path d="m258.15 40.8699c-1.83 0-3.37-.14-4.91-.57-2.25-.57-4.35-1.55-6.32-2.97-.42-.28-.84-.71-1.4-1.13-.14-.14-.14-.28 0-.28 0-.14.14-.14.28 0 .28.14.42.28.7.42 1.4.71 2.81 1.27 4.35 1.84.98.28 1.97.57 2.95.71.84.14 1.83.28 2.67.28s1.55.14 2.39 0c.84 0 1.54-.14 2.39-.14 1.55-.14 3.23-.57 4.77-1.13.56-.14 1.12-.42 1.69-.71.14 0 .28-.14.42 0s.28.28.14.57l-.14.14c-1.26.99-2.81 1.7-4.21 2.12-1.12.42-2.25.57-3.37.71-.98 0-1.83.14-2.39.14z"/>
<path d="m251.27 32.5299c-.14.28-.42.42-.56.57-.84.57-1.83.71-2.81.42-.84-.28-1.26-.85-1.4-1.7-.14-.57 0-.99.28-1.55.28-.57.84-.99 1.55-1.13.56-.14 1.12-.14 1.69-.14.42 0 .7.14 1.12.14h.14v-1.27c-.14-.57-.42-.99-1.12-.99-.7-.14-1.4 0-2.25.28-.14 0-.28.14-.56.14-.186.0934-.28.0934-.28 0v-.57c0-.14.14-.28.28-.28.28-.28.56-.42.98-.42.84-.28 1.69-.28 2.53 0 .98.28 1.55.85 1.69 1.84v4.1c0 .28.14.57.28.71.094.1867.047.3267-.14.42-.14.14-.28.28-.42.28-.14.14-.28.14-.56 0-.14-.28-.28-.42-.42-.71v-.14zm-.14-1.98v-.28c0-.0933-.046-.14-.14-.14-.28 0-.42-.14-.7-.14-.42 0-.84-.14-1.4 0-.42.28-.7.42-.84.99v.57c0 .57.42.85.84.99.56.14.98 0 1.55-.28.42-.28.7-.57.7-.99v-.71z"/>
<path d="m268.69 35.22c.42 0 .84 0 1.26.14s.42.14.42.57c0 .71-.14 1.27-.42 1.84-.28.71-.56 1.27-1.12 1.84-.093.0933-.187.14-.28.14-.14 0-.14.14-.28 0-.14 0 0-.14 0-.28.28-.57.42-1.13.56-1.7.14-.28.14-.57.14-.99v-.28c0-.28-.14-.42-.28-.42-.28-.14-.42-.14-.7-.14-.7 0-1.4 0-2.11.14h-.14c-.14 0-.14-.14-.14-.14 0-.14.14-.14.14-.14.56-.28 1.12-.57 1.69-.71.56.14.98.14 1.26.14z"/>
<path d="m286.65 40.92h-3.37c-.28 0-.56-.14-.84-.28l-.14-.14c-1.4-1.84-2.81-3.53-4.21-5.37-.14-.14-.14-.28-.28-.42-.14-.28-.14-.57 0-.85.56-2.26.98-4.38 1.54-6.64.14-.42.28-.71.7-.99 1.97-.85 3.79-1.84 5.76-2.83.14-.14.28-.14.42-.28.28.14.7.14 1.12.28.7.42 1.54.71 2.25 1.13 1.26.57 2.53 1.27 3.93 1.84.28.14.42.28.56.57 0 .14.14.28.14.42.28 1.41.56 2.69.98 4.1.14.85.42 1.7.56 2.54 0 .28.14.42 0 .71 0 .14-.14.28-.14.42-.14.28-.42.57-.7.85-1.26 1.55-2.39 3.11-3.65 4.52-.14.14-.28.28-.42.42-.28.14-.42.14-.7.14h-.28c-1.12-.14-2.11-.14-3.23-.14zm-.14-13.99c0 .0933 0 .0933 0 0v.28s-.14.14 0 .14c0 0 0 .14-.14.14h-.14c-.56.14-1.26.28-1.69.57-.42.28-.7.42-.98.85h-.56c-.093-.0933-.187-.1867-.28-.28-.14-.14-.28-.28-.42-.42s-.14-.14-.28-.14c-.28 0-.42.14-.42.42 0 .14.14.28.28.28-.093.0933-.093.14 0 .14.14.14.42.28.56.42l.14.14s0 .14.14.14v.14c0 .14-.14.14-.14.28-.42.85-.7 1.7-.56 2.69v.28c0 .0933-.047.14-.14.14h-.14c0 .14-.14.14-.28.14-.28 0-.42.14-.7.14-.14 0-.28 0-.42.14s-.28.28-.14.42c0 .14.28.28.42.28s.28 0 .42-.14c.28-.14.42-.14.7-.28h.42c.28.71.56 1.27.98 1.7.28.28.7.57.98.85.093 0 .093.0467 0 .14v.28c0 .14-.14.28-.14.28-.14.14-.14.28-.28.42 0 .14-.14.14-.14.28 0 .28.14.42.42.42.14 0 .28-.14.28-.14 0-.14.14-.28.14-.28.14-.28.14-.42.28-.71l.14-.14s.14 0 .14-.14h.14c.42.14.7.28 1.12.28h1.26c.28 0 .7-.14.98-.28h.14s0 .14.14.14.14.14.14.14c0 .14.14.28.14.42s.14.28.14.42.14.14.14.28c.14.14.28.14.42.14s.28-.14.28-.28 0-.14-.14-.28c0-.14-.14-.28-.14-.28-.14-.14-.28-.42-.28-.57v-.57c.28-.14.56-.42.84-.71.56-.57.98-1.13 1.26-1.98 0-.0933.047-.14.14-.14h.42c.14 0 .28 0 .28.14.14 0 .28.14.42.14s.28.14.42.14.28-.14.28-.28v-.42c-.093-.0933-.187-.14-.28-.14h-.42c-.14 0-.42 0-.56-.14-.093 0-.14-.0467-.14-.14l-.14-.14s-.14 0-.14-.14c0-.57 0-1.13-.14-1.7s-.28-.99-.7-1.55v-.14s0-.14.14-.14c0 0 0-.14.14-.14l.14-.14c0 .28.14.14.28.14s.14-.14.28-.14l.14-.14c.14-.28-.14-.42-.42-.42-.093 0-.187.0467-.28.14s-.187.1867-.28.28c-.14.14-.28.28-.42.42 0-.14-.14-.14-.14-.14h-.28c0-.14-.14-.14-.28-.14-.84-.71-1.69-1.13-2.81-1.27 0 0-.14 0-.14-.14v-.14l-.14-.14c0-.28 0-.57.14-.85v-.28c0-.14-.14-.28-.28-.28-.28-.14-.42 0-.56.28v.42c.14.14.28.42.28.57z"/>
<path d="m283.98 29.62s.14 0 0 0c.7-.57 1.26-.99 2.11-1.13.093 0 .14.0467.14.14v1.84c0 .28-.28.42-.56.28-.14-.14-.42-.28-.56-.42-.28-.14-.56-.42-1.12-.71.093 0 .093 0 0 0z"/>
<path d="m290.02 30.3199c.42.71.7 1.55.56 2.4h-.14c-.56-.14-1.12-.28-1.83-.57h-.14c-.28-.14-.28-.42-.14-.57.14-.14.28-.28.42-.28.56-.28.84-.57 1.26-.99z"/>
<path d="m288.89 35.6899c-.28-.71-.56-1.27-.7-1.84v-.28c0-.14.14-.28.28-.14.14 0 .42 0 .56.14.42 0 .84.14 1.26.14h.14c-.28.85-.84 1.55-1.55 1.98z"/>
<path d="m283.42 30.3199c.14.14.28.28.42.28.42.28.7.71 1.12.99.093.0934.14.1867.14.28 0 .14-.14.28-.28.28s-.28.14-.42.14c-.42.14-.98.28-1.4.42h-.14c-.14-.85.14-1.55.56-2.4z"/>
<path d="m287.21 28.49c.84.14 1.55.42 2.25 1.13-.56.42-1.12.71-1.54 1.13-.14.14-.28.14-.28 0-.14 0-.14-.14-.14-.28 0-.57 0-1.13-.14-1.7-.093-.0933-.14-.1867-.14-.28z"/>
<path d="m285.52 36.12c.28-.57.7-1.13.98-1.7.14-.14.28-.28.42-.14.14 0 .14.14.14.14.28.42.42.85.7 1.27 0 .14.14.28.28.42-.84.28-1.69.28-2.53 0z"/>
<path d="m284.68 35.69c-.7-.42-1.26-1.13-1.54-1.98.14 0 .28 0 .42-.14.56-.14.98-.14 1.54-.28.28 0 .56.14.42.42-.28.42-.42.71-.42.99-.14.28-.28.57-.42.99z"/>
<path d="m286.79 31.74h.42c.14.14.14.28.28.42v.14c0 .14-.14.28-.14.42v.14c-.14 0-.28.14-.42.28h-.14c-.14 0-.28-.14-.42-.14v-.14c0-.14-.14-.28-.14-.42v-.14c.14-.14.14-.28.28-.42h.14c0-.0933.047-.14.14-.14z"/>
</g>
</svg>
