<svg fill="white" height="70" viewBox="0 0 305 70" width="305" xmlns="http://www.w3.org/2000/svg">
<path d="m13.4598 8.63h204.8302c2.04 0 3.7 2.24 3.7 5v51c0 2.76-1.66 5-3.7 5h-204.8302c-2.04 0-3.70003-2.24-3.70003-5v-51c0-2.76 1.66003-5 3.70003-5z" stroke="black" stroke-miterlimit="10"/>
<g fill="black">
<path d="m56.8401 44.19c-1.57 1.76-3.82 3.07-5.89 2.26-.75-.31-.94-1-.88-1.76.06-1 .25-2.01.44-3.01l2.51-13.17h-4.76l-2.07 11.73c-.31 1.38-.88 2.57-1.94 3.51-1 .94-2.26 1.44-3.82 1.44-1.88 0-2.76-.88-2.76-2.51 0-.31.06-.82.19-1.38l2.44-12.92h-4.83l-2.44 13.11c-.13.88-.19 1.51-.19 2.07 0 1.76.44 3.2 1.44 4.14s2.38 1.44 4.14 1.44c2.63 0 4.7-.63 6.39-1.88 0 0 .25 2.63 4.76 3.14 1.32.13 2.95.13 5.01-.19 1.57-.31 2.88-.94 4.14-1.76 3.82-2.57 5.58-7.21 5.26-11.67-.25-4.02-1.75-7.9-4.2-11.04-2.38-3.14-5.7-5.52-9.46-6.78-2.13-.75-4.39-1.13-6.58-1.13h-.13c-5.39 0-10.53 2.2-14.35 6.02-3.82 3.89-5.89 8.97-5.89 14.37.06 11.17 9.15 20.26 20.3 20.26h.13c4.07 0 8.02-1.19 11.34-3.39 2.44-1.63 4.07-3.7 5.26-5.4-2.63 1.88-5.89 2.95-8.96 2.95-.75 0-1.44-.06-2.19-.19-1.32.44-3.32.94-5.51.94h-.13c-8.46 0-15.1-6.65-15.16-15.18.06-8.53 6.71-15.24 15.23-15.31h.13c6.08 0 11.72 3.7 13.97 9.35 1.13 2.76 1.69 6.09.81 8.97-.31.94-.94 2.01-1.75 2.95z"/>
<path d="m92.7799 27.16c0 2.12-.6 3.74-1.81 4.86s-2.94 1.69-5.22 1.69h-3.64v-12.85h4.03c2.1 0 3.73.55 4.89 1.66s1.74 2.65 1.74 4.64zm-2.83.07c0-2.76-1.22-4.14-3.66-4.14h-1.45v8.37h1.17c2.62 0 3.94-1.41 3.94-4.23z"/>
<path d="m99.6799 33.8801c-1.58 0-2.82-.44-3.71-1.31s-1.34-2.11-1.34-3.71.41-2.92 1.24-3.82c.82-.9 1.96-1.35 3.41-1.35 1.4501 0 2.4701.4 3.2401 1.19s1.16 1.88 1.16 3.28v1.3h-6.3401c.03.76.25 1.36.68 1.78s1.01.64 1.78.64c.5901 0 1.1501-.06 1.6801-.18s1.08-.32 1.65-.59v2.07c-.47.23-.97.41-1.5.52-.53.12-1.18.17-1.9501.17zm-.38-8.28c-.57 0-1.01.18-1.34.54-.32.36-.51.87-.55 1.53h3.7601c-.01-.66-.18-1.17-.52-1.53-.33-.36-.7901-.54-1.3501-.54z"/>
<path d="m111.27 33.8801c-1.15 0-2.06-.42-2.72-1.26h-.14c.09.82.14 1.29.14 1.42v3.98h-2.68v-14.15h2.18l.38 1.27h.12c.63-.97 1.56-1.46 2.79-1.46 1.16 0 2.07.45 2.72 1.34s.98 2.14.98 3.74c0 1.05-.15 1.96-.46 2.73s-.75 1.36-1.31 1.77-1.24.61-2 .61zm-.79-8.04c-.66 0-1.15.2-1.45.61s-.46 1.08-.47 2.02v.29c0 1.05.16 1.81.47 2.27s.81.69 1.49.69c1.2 0 1.8-.99 1.8-2.97 0-.97-.15-1.69-.44-2.17-.3-.48-.76-.73-1.39-.73z"/>
<path d="m119.94 33.7h-2.68v-13.68h2.68z"/>
<path d="m131.68 28.7701c0 1.6-.42 2.85-1.27 3.75s-2.02 1.35-3.52 1.35c-.94 0-1.78-.21-2.5-.62s-1.27-1.01-1.66-1.78-.58-1.68-.58-2.71c0-1.61.42-2.85 1.26-3.74s2.02-1.34 3.53-1.34c.94 0 1.78.21 2.5.62s1.27 1 1.66 1.77.58 1.67.58 2.7zm-6.79 0c0 .97.16 1.71.48 2.21s.84.75 1.56.75 1.23-.25 1.54-.74.47-1.23.47-2.21-.16-1.7-.47-2.19-.83-.73-1.56-.73-1.23.24-1.55.73c-.32.48-.47 1.21-.47 2.19z"/>
<path d="m132.49 23.88h2.94l1.85 5.53c.16.48.27 1.05.33 1.71h.05c.06-.6.19-1.17.38-1.71l1.82-5.53h2.87l-4.16 11.08c-.38 1.03-.92 1.79-1.63 2.3s-1.53.76-2.47.76c-.46 0-.92-.05-1.36-.15v-2.13c.32.08.67.11 1.05.11.47 0 .89-.14 1.24-.44.35-.29.63-.73.83-1.31l.16-.48-3.9-9.76z"/>
<path d="m156.89 33.7-.76-3.44-1.02-4.34h-.06l-1.79 7.78h-2.88l-2.79-9.83h2.67l1.13 4.35c.18.78.37 1.85.55 3.23h.05c.02-.45.13-1.15.31-2.12l.14-.75 1.21-4.71h2.95l1.15 4.71c.02.13.06.32.11.57s.1.52.15.8c.05.29.09.56.13.84.04.27.06.49.07.65h.05c.05-.42.15-1 .28-1.74.13-.73.23-1.23.29-1.49l1.18-4.35h2.63l-2.83 9.83h-2.92z"/>
<path d="m164.11 21.34c0-.87.49-1.31 1.46-1.31s1.46.44 1.46 1.31c0 .42-.12.74-.36.97s-.61.35-1.09.35c-.97 0-1.46-.44-1.46-1.32zm2.79 12.37h-2.68v-9.83h2.68z"/>
<path d="m173.85 31.74c.47 0 1.03-.1 1.69-.31v2c-.67.3-1.49.45-2.46.45-1.07 0-1.85-.27-2.34-.81s-.73-1.36-.73-2.44v-4.74h-1.28v-1.13l1.48-.9.77-2.07h1.71v2.09h2.75v2.01h-2.75v4.74c0 .38.11.66.32.84s.5.27.85.27z"/>
<path d="m186.6 33.7h-2.68v-5.74c0-1.42-.53-2.13-1.58-2.13-.75 0-1.29.25-1.63.76s-.5 1.34-.5 2.48v4.62h-2.68v-13.68h2.68v2.79c0 .22-.02.73-.06 1.53l-.06.79h.14c.6-.96 1.55-1.44 2.85-1.44 1.15 0 2.03.31 2.63.93s.9 1.51.9 2.67v6.41z"/>
<path d="m92.5798 42.4599v8.3101c0 .95-.21 1.78-.64 2.5s-1.04 1.26-1.84 1.64-1.75.5699-2.85.5699c-1.65 0-2.94-.42-3.85-1.27s-1.37-2.01-1.37-3.48v-8.2799h2.72v7.87c0 .99.2 1.72.6 2.18s1.06.6899 1.98.6899 1.54-.2299 1.94-.6999c.4-.46.6-1.2001.6-2.1901v-7.8499h2.72z"/>
<path d="m104.59 55.3101h-2.68v-5.7401c0-.71-.13-1.24-.38-1.59s-.65-.5299-1.2-.5299c-.75 0-1.29.25-1.63.75-.33.5-.5 1.3299-.5 2.4899v4.6201h-2.68v-9.8301h2.05l.36 1.2601h.15c.3-.47.71-.8301 1.24-1.0801.52-.24 1.12-.36 1.79-.36 1.14 0 2.01.31 2.6.93s.89 1.51.89 2.68v6.41z"/>
<path d="m112.78 47.49h-2.32v7.81h-2.68v-7.81h-1.48v-1.29l1.48-.72v-.72c0-1.12.28-1.94.83-2.45s1.43-.77 2.65-.77c.93 0 1.75.14 2.47.41l-.69 1.97c-.54-.17-1.04-.25-1.49-.25-.38 0-.66.11-.83.34s-.25.51-.25.87v.62h2.32v2.01z"/>
<path d="m121.28 55.31-.36-1.26h-.14c-.29.46-.69.81-1.22 1.06s-1.13.37-1.8.37c-1.15 0-2.02-.31-2.61-.93s-.88-1.51-.88-2.67v-6.41h2.68v5.74c0 .71.13 1.24.38 1.59.25.36.65.53 1.2.53.75 0 1.29-.25 1.63-.75.33-.5.5-1.33.5-2.49v-4.62h2.68v9.83h-2.06z"/>
<path d="m131.63 45.29c.36 0 .67.03.91.08l-.2 2.51c-.22-.06-.48-.09-.79-.09-.86 0-1.52.22-2 .66s-.72 1.05-.72 1.85v5h-2.68v-9.83h2.03l.4 1.65h.13c.3-.55.72-.99 1.24-1.33s1.08-.5 1.69-.5z"/>
<path d="m137 55.31h-2.68v-13.68h2.68z"/>
<path d="m150.16 44.54c-1.03 0-1.82.39-2.38 1.16s-.84 1.84-.84 3.22c0 2.87 1.08 4.3 3.23 4.3.9 0 2-.23 3.28-.68v2.29c-1.05.44-2.23.66-3.53.66-1.87 0-3.3-.57-4.29-1.7s-1.49-2.76-1.49-4.88c0-1.34.24-2.51.73-3.51s1.18-1.78 2.1-2.31c.91-.54 1.98-.8 3.2-.8s2.5.3 3.76.91l-.88 2.21c-.48-.23-.96-.43-1.45-.6s-.96-.25-1.43-.25z"/>
<path d="m158.64 55.31h-2.68v-13.68h2.68z"/>
<path d="m170.38 50.37c0 1.6-.42 2.85-1.27 3.75s-2.02 1.35-3.52 1.35c-.94 0-1.78-.21-2.5-.62s-1.27-1.01-1.66-1.78-.58-1.68-.58-2.71c0-1.61.42-2.85 1.26-3.74s2.02-1.34 3.53-1.34c.94 0 1.78.21 2.5.62s1.27 1 1.66 1.77.58 1.67.58 2.7zm-6.79 0c0 .97.16 1.71.48 2.21s.84.75 1.56.75 1.23-.25 1.54-.74.47-1.23.47-2.21-.16-1.7-.47-2.19-.83-.73-1.56-.73-1.23.24-1.55.73c-.32.48-.47 1.21-.47 2.19z"/>
<path d="m179.56 55.31-.36-1.26h-.14c-.29.46-.69.81-1.22 1.06s-1.13.37-1.8.37c-1.15 0-2.02-.31-2.61-.93s-.88-1.51-.88-2.67v-6.41h2.68v5.74c0 .71.13 1.24.38 1.59.25.36.65.53 1.2.53.75 0 1.29-.25 1.63-.75.33-.5.5-1.33.5-2.49v-4.62h2.68v9.83h-2.06z"/>
<path d="m187.54 55.48c-1.15 0-2.06-.45-2.72-1.34-.66-.9-.99-2.14-.99-3.73s.33-2.87 1.01-3.77c.67-.9 1.6-1.35 2.77-1.35 1.24 0 2.18.48 2.83 1.44h.09c-.13-.73-.2-1.39-.2-1.96v-3.15h2.69v13.68h-2.06l-.52-1.27h-.11c-.61.97-1.54 1.45-2.79 1.45zm.94-2.14c.69 0 1.19-.2 1.51-.6s.49-1.08.52-2.03v-.29c0-1.05-.16-1.81-.49-2.27-.32-.46-.85-.69-1.59-.69-.6 0-1.06.25-1.39.76s-.5 1.24-.5 2.21.17 1.69.5 2.17.81.73 1.43.73z"/>
</g>
</svg>
