- content_for(:title, 'Auth Error')

.container
  = render partial: "shared/errors/graphic_422", formats: :svg
  %h2
    = _('Sign-in using %{provider} auth failed') % { provider: @provider }
  .gl-mb-5
    = @error
  .gl-mb-5
    = render Pajamas::ButtonComponent.new(variant: :confirm,
      href: new_session_path(:user),
      button_options: { class: 'gl-mr-2' }) do
      = _('Sign in')
    = render Pajamas::ButtonComponent.new(href: new_password_path(:user)) do
      = _('Recover password')
  %div
    = _('If you are unable to sign in or recover your password, try contacting support.')
