- active_tab = local_assigns.fetch(:active_tab, 'create')
- provider = params[:provider]
- env = params[:env]

- if not env
  = render_ce "clusters/clusters/new"
- else
  - breadcrumb_title _("Environments")
  - page_title _("New Environment")
  - @skip_current_level_breadcrumb = true

  = render "clusters/clusters/#{provider}/new"
