- message = local_assigns.fetch(:message, nil)
- content_for(:title, 'Access Denied')

-# OC Change - issue #199

.uf-error-text
  .big
    = s_("403")
  %br
  .med
    = s_("403|You don't have permission to access this page")
  %br
.container
  - if message
    %p
      = message
  %p
    = s_("If you have questions, contact us at")
    = mail_to "support@onecommons.org"
  .action-container.js-go-back{ hidden: true }
    %button{ type: 'button', class: 'gl-button btn btn-success' }
      = _('Go Back')
= render "errors/footer"
.uf-footer-logo
  %img{ :alt => "Unfurl Cloud logo", :src => image_path('uf-logo.svg') }
