- content_for(:title, 'Encoding Error')

-# OC Change - issue #199

.uf-error-text
  .big
    = s_("500")
  %br
  .med
    = s_("Page can't be loaded because of an encoding error.")
  %br
.container
  If this issue persists, contact us at
  = mail_to "support@onecommons.org"
.uf-footer-logo
  %img{ :alt => "Unfurl Cloud logo", :src => image_path('uf-logo.svg') }
