- content_for(:title, 'Git Resource Not Found')

-# OC Change - issue #199

.uf-error-text
  .big
    = s_("404")
  %br
  .med
    = s_("404|Git Resource Not Found")
  %br
.container
  %hr
  %p 
    = s_ ("Application can't get access to some branch or commit in your repository.")
  %p 
    = s_("It may have been moved.")
  = s_("If you have questions, contact us at")
  = mail_to "support@onecommons.org"
.uf-footer-logo
  %img{ :alt => "Unfurl Cloud logo", :src => image_path('uf-logo.svg') }
