- content_for(:title, 'Not Found')

-# OC Change - issue #199

.uf-error-text
  .big
    = s_("404")
  %br
  .med
    = s_('404|Page Not Found')
  %br
.container
  %p
    = s_("404|Make sure the address is correct and the page hasn't moved.")
  %p
    = s_("If this problem persists, please contact us at")
    = mail_to "support@onecommons.org"
  .action-container
    = form_tag search_path, method: :get, class: 'form-inline-flex' do |f|
      .field
        = search_field_tag :search, '', placeholder: _('Search for projects, issues, etc.'), class: 'form-control'
      = button_tag _('Search'), class: 'gl-button btn btn-sm btn-success', name: nil, type: 'submit'
= render 'errors/footer'
.uf-footer-logo
  %img{ :alt => "Unfurl Cloud logo", :src => image_path('uf-logo.svg') }
