- content_for(:title, 'Auth Error')

-# OC Change - issue #199 and #692

.uf-error-text
  .big
    = s_("422")
  %br
  .med
    = s_("422|Sign-in using #{@provider} auth failed")
  %br
.container
  %p.light.subtitle Sign-in failed because #{@error}.

  - if @error.include? "already been taken"
    %p
      You can link your existing account to #{@provider} by visiting your
      = link_to "Account Settings", "/-/profile/account"
      and choose 
      %b #{@provider}
      in the 
      %b Social sign-in
      section.

  %p You'll need to log in using your username or email. If you have forgotten your password, try recovering it.

  = link_to "Sign in", new_session_path(:user), class: 'gl-button btn primary'
  = link_to "Recover password", new_password_path(:user), class: 'gl-button btn secondary'

  %hr
  -# OC Change - issue #199 and #692
  %p.light
    If none of these options work, please contact
    = link_to "support@onecommons.org", "mailto:support@onecommons.org"
  .uf-footer-logo
    %img{ :alt => "Unfurl Cloud logo", :src => image_path('uf-logo.svg') }
