- content_for(:title, 'Encoding Error')

-# OC Change - issue #199
.uf-error-text
  .big
    = s_("412")
  %br
  .med
    = s_("412|Precondition failed")
  %br
.container
  %p Page can't be loaded because of invalid parameters.
  %p.light
    If you have questions, please contact
    = link_to "support@onecommons.org", "mailto:support@onecommons.org"
.uf-footer-logo
  %img{ :alt => "Unfurl Cloud logo", :src => image_path('uf-logo.svg') }
