.top-area
  %ul.nav-links.nav.nav-tabs
    = nav_link(page: [explore_root_path, explore_blueprints_path]) do
      = link_to explore_blueprints_path do
        = _('Verified')
    = nav_link(page: starred_explore_blueprints_path) do
      = link_to starred_explore_blueprints_path do
        = _('Most stars')
    = nav_link(page: all_explore_blueprints_path) do
      = link_to all_explore_blueprints_path do
        = _('All')
    -# OC Change -- disable trending blueprints for now
    -# = nav_link(page: trending_explore_projects_path) do
    -#   = link_to trending_explore_projects_path do
    -#     = _('Trending')

  .nav-controls
    -# filter shouldn't render anything for signed-out users
    = render 'filter'
    = render 'shared/projects/search_form'
