- @hide_top_links = true
- page_title    _("Blueprints")
- header_title  _("Blueprints"), dashboard_projects_path

= render_dashboard_ultimate_trial(current_user)

= render 'explore/head'
= render 'explore/blueprints/nav'

= render 'projects', projects: @projects
