= nav_link(**scope_menu.active_routes, html_options: scope_menu.nav_link_html_options) do
  = link_to scope_menu.link, **scope_menu.container_html_options, data: { qa_selector: 'sidebar_menu_link', qa_menu_item: scope_qa_menu_item(scope_menu.container) } do
    -# OC Change - #458
    - if is_dashboard_project?
      %span{ class: ['avatar-container', 'settings-avatar', 's32'] }
        = project_icon(@project, alt: @project.name, class: 'avatar project-avatar avatar-tile', width: 32, height: 32)
      %span.sidebar-context-title
        = _("Back to Dashboard")
    - else
      %span{ class: scope_avatar_classes(scope_menu.container) }
        = source_icon(scope_menu.container, alt: scope_menu.title, class: ['avatar', 'avatar-tile', 's32'], width: 32, height: 32)
      %span.sidebar-context-title
        = scope_menu.title
