%ul
  - if current_user_menu?(:help)
    -# OC Change
    -# %li
    -#   = render 'layouts/header/gitlab_version'
    -# = render 'layouts/header/whats_new_dropdown_item'
    %li
      = link_to _("Help"), help_path, data: {track_action: 'click_link', track_label: 'help', track_property: 'navigation_top'}
    %li
      = link_to _("Support"), support_url, data: {track_action: 'click_link', track_label: 'support', track_property: 'navigation_top'}
    %li
      = render 'shared/help_dropdown_forum_link'
    %li
      %button.js-shortcuts-modal-trigger{ type: "button", data: {track_action: 'click_button', track_label: 'keyboard_shortcuts_help', track_property: 'navigation_top'} }
        = _("Keyboard shortcuts")
        %kbd.flat.float-right{ "aria-hidden": "true" }= '?'.html_safe
    %li.divider
  %li
    = link_to _("Submit feedback"), "https://onecommons.org", target: '_blank'
  - if current_user_menu?(:help) || current_user_menu?(:settings) || current_user_menu?(:profile)
    %li
      = render 'shared/user_dropdown_contributing_link'
  = render 'shared/user_dropdown_instance_review'
  - if Gitlab.com_but_not_canary?
    %li
      = link_to _("Switch to GitLab Next"), Gitlab::Saas.canary_toggle_com_url, data: {track_action: 'click_link', track_label: 'gitlab_next', track_property: 'navigation_top'}
