- title = has_ci_cd_only_params? ? _('Connect repositories from GitHub') : _('GitHub import')
- page_title title
%h1.page-title.gl-font-size-h-display.mb-0.gl-display-flex
  .gl-display-flex.gl-align-items-center.gl-justify-content-center
    = sprite_icon('github', css_class: 'gl-mr-2')
  = _('Import repositories from GitHub')

- # OC Change -- mirroring by default
= render Pajamas::AlertComponent.new(variant: :info, alert_options: {class: 'gl-mb-5 gl-mt-5'}) do |c|
  = c.body do
    .gl-alert-body
      = _('The imported repository will have a webhook configured for pull mirroring. You can disable this in the project repository settings after import.')

- paginatable = Feature.enabled?(:remove_legacy_github_client)

= render 'import/githubish_status',
  provider: 'github', paginatable: paginatable,
  default_namespace: @namespace,
  cancel_path: cancel_import_github_path,
  details_path: details_import_github_path,
  optional_stages: Gitlab::GithubImport::Settings.stages_array
