-# OC Change
-# it appears @hide_top_links is a GitLab method that has been removed, but is still referenced through the views.
-# Included here because it matches the pattern of other files where it's used (just in case we're overlooking
-# something), but it may be void code that should be removed across gitlab-oc
- @hide_top_links = true
- add_page_specific_style 'page_bundles/build' # OC Change xterm console
- add_page_specific_style 'page_bundles/xterm' # OC Change xterm console
- add_page_specific_style 'page_bundles/ci_status' # OC Change xterm console

- javascript_include_tag 'oc/unfurl_home' # OC change manually include dashboard js

-# The "limit-container-width" is for enforcing the fluid/fixed setting for the user's view. When you comment out that
-# line, the dashboard menu's table gets a lot wider.
- @content_class = "limit-container-width" unless fluid_layout
- @skip_current_level_breadcrumb = true
- page_title _("Unfurl Cloud Home")
- header_title _("Unfurl Cloud Home")
- @dashboard_view = true

%div
  #js-table-component{ data: {
      project_path: @project&.full_path,
      project_id: @project&.id,
      environment_id: @environment&.id,
      greeting_name: current_user&.first_name || current_user&.full_name || current_user&.username || 'Guest',
      open_cloud_publish: ::Ci::InstanceVariable::find_by(key: "UNFURL_OPEN_CLOUD_PUBLISH_REQUEST")&.value,
      readme: @readme_contents,
    }
  }

  - if @project.present? && @environment.present?
    = render "projects/environments/form"
