-# it appears @hide_top_links is a GitLab method that has been removed, but is still referenced through the views.
-# Included here because it matches the pattern of other files where it's used (just in case we're overlooking
-# something), but it may be void code that should be removed across gitlab-oc
- @hide_top_links = true

- page_title _("The Free and Open Cloud")
- header_title _("The Free and Open Cloud")
- cloudmap = ::Ci::InstanceVariable::find_by(key: "UNFURL_CLOUDMAP_JSON")&.value

%div.position-fixed(style="left: 0;  width: 100vw; margin: -20px -16px 0 -16px; overflow: overlay; pointer-events: none; z-index: 0")
  %div.uf-banner.position-relative(style="width: 100vw; height: 100vh; background-position: center top;")

%div#welcome-banner.position-fixed.text-center(style="left: 0; width: 100vw; margin: -20px -16px 0 -16px; overflow: overlay; pointer-events: none; z-index: 2; display: none;")
  %div.pt-4.position-relative(style="margin: auto; max-width: 600px; backdrop-filter: blur(2px); background: radial-gradient(rgba(18, 18, 18, 0.6), rgba(18, 18, 18, 0)); cursor: auto;")
    %h2.uf-banner-title.mt-0= _('Welcome to the Public Cloud!')
    .uf-banner-subheader
      %p(style="opacity: 0.8; margin-left: auto; margin-right: auto;")
        Open source cloud services for you.
    %button.btn.gl-button.btn-default.close.position-absolute{ type: 'button', 'aria-label' => _('Dismiss'), style: "width: 16px; height: 16px; padding: 0; z-index: 1000; right: 0; top: 1.5rem; pointer-events: auto;" }
      = sprite_icon('close', css_class: 'dismiss-icon')

#tooltip
#navbar
%div#chart{
  style: "width: 100vw; position: fixed; left: 0; z-index: 1; overflow: hidden;",
  data: {
    cloudmap: cloudmap
  }
}
  #map-controls
  #cloud-table
