-# - if !Gitlab::CurrentSettings.eks_integration_enabled?
-#   - documentation_link_start = '<a href="%{url}" target="_blank" rel="noopener noreferrer">'.html_safe % { url: help_page_path('user/project/clusters/add_eks_clusters.md',
-#       anchor: 'additional-requirements-for-self-managed-instances') }
-#   = s_('Amazon authentication is not %{link_start}correctly configured%{link_end}. Ask your GitLab administrator if you want to use this service.').html_safe % { link_start: documentation_link_start, link_end: '<a/>'.html_safe }
-# - else
-# OC Change
.js-create-eks-cluster-form-container{ data: { 'gitlab-managed-cluster-help-path' => help_page_path('user/project/clusters/gitlab_managed_clusters.md'),
  'namespace-per-environment-help-path' => help_page_path('user/project/clusters/deploy_to_cluster.md', anchor: 'custom-namespace'),
  'create-role-path' => clusterable.authorize_aws_role_path,
  'create-cluster-path' => clusterable.create_aws_clusters_path,
  'account-id' => Gitlab::CurrentSettings.eks_account_id,
  'external-id' => @aws_role.role_external_id,
  'role-arn' => @aws_role.role_arn,
  'instance-types' => @instance_types,
  'kubernetes-integration-help-path' => help_page_path('user/infrastructure/clusters/index.md'),
  'account-and-external-ids-help-path' => help_page_path('user/project/clusters/add_eks_clusters.md', anchor: 'how-to-create-a-new-cluster-on-eks-through-cluster-certificates-deprecated'),
  'create-role-arn-help-path' => help_page_path('user/project/clusters/add_eks_clusters.md', anchor: 'how-to-create-a-new-cluster-on-eks-through-cluster-certificates-deprecated'),
  'external-link-icon' => sprite_icon('external-link') } }
