- add_to_breadcrumbs _('Kubernetes Clusters'), clusterable.index_path
- breadcrumb_title _('Create a cluster')
- page_title _('Create a Kubernetes cluster')
- docs_mode = true

= render_gcp_signup_offer

.gl-md-display-flex.gl-mt-3
  .gl-w-quarter.gl-xs-w-full.gl-flex-shrink-0.gl-md-mr-5
    = render 'sidebar', docs_mode: docs_mode, is_connect_page: false
  .gl-w-full
    = render 'clusters/clusters/cloud_providers/cloud_provider_selector', docs_mode: docs_mode
