- save_endpoint = project_variables_path(@project)
- is_group = !@group.nil?
- cluster = @project.clusters.find { |c| c.environment_scope == @environment.name }
- variables = @project.variables.filter { |v| v.environment_scope == @environment.name }
- gcp_project_id = cluster&.provider_gcp&.gcp_project_id || variables.find { |v| v.key == 'CLOUDSDK_CORE_PROJECT' }&.value
- gcp_zone = cluster&.provider_gcp&.zone || variables.find { |v| v.key == 'CLOUDSDK_COMPUTE_ZONE' }&.value

#js-oc-ci-variables{ data: { endpoint: save_endpoint,
  project_id: @project&.id || '',
  group: is_group.to_s,
  maskable_regex: ci_variable_maskable_regex,
  protected_by_default: ci_variable_protected_by_default?.to_s,
  aws_logo_svg_path: image_path('aws_logo.svg'),
  aws_tip_deploy_link: help_page_path('ci/cloud_deployment/index.md', anchor: 'deploy-your-application-to-the-aws-elastic-container-service-ecs'),
  aws_tip_commands_link: help_page_path('ci/cloud_deployment/index.md', anchor: 'run-aws-commands-from-gitlab-cicd'),
  aws_tip_learn_link: help_page_path('ci/cloud_deployment/index.md', anchor: 'aws'),
  protected_environment_variables_link: help_page_path('ci/variables/README', anchor: 'protect-a-custom-variable'),
  masked_environment_variables_link: help_page_path('ci/variables/README', anchor: 'mask-a-custom-variable'),
  environment_name: @environment.name,
  primary_provider_gcp_project_id: gcp_project_id,
  primary_provider_gcp_zone: gcp_zone,
  primary_provider_aws_default_region: cluster&.provider_aws&.region,
  primary_provider_aws_role_arn: cluster&.provider_aws&.role_arn
} }

- if (not defined? @dashboard_view)
  .row.gl-mt-3.gl-mb-3
    .col-lg-3
      %h4.gl-mt-0
        = _("Environments")
      %p
        - link_to_read_more = link_to(_("More information"), help_page_path("ci/environments/index.md"))
        = _("Environments allow you to track deployments of your application %{link_to_read_more}.").html_safe % { link_to_read_more: link_to_read_more }

    = form_for [@project, @environment], provider: '', html: { class: 'col-lg-9' } do |f|
      = form_errors(@environment)

      .form-group
        = f.label :name, _('Name'), class: 'label-bold'
        = f.text_field :name, required: true, class: 'form-control'
      .form-group
        = f.label :external_url, _('External URL'), class: 'label-bold'
        = f.url_field :external_url, class: 'form-control'

      .form-group
        = f.label _('Cloud Provider'), class: 'label-bold'
        = select_tag :provider, options_for_select([["AWS", "aws"],["Google Cloud Platform", "gcp"], ["None", '']], ''), class: 'form-control'

      %hr
      %h4.settings-title.js-settings-toggle.js-settings-toggle-trigger-only
        = _('Variables')

      %br
      .form-actions
        = f.submit _('Next'), class: 'gl-button btn btn-confirm'
        = link_to _('Cancel'), project_environments_path(@project), class: 'gl-button btn btn-cancel'
