- if @domain.remove_at
  %p
    Unless you verify your domain by
    %strong= @domain.remove_at.strftime('%F %T,')
    it will be removed from your Unfurl Cloud project.
- else
  %p
    If you no longer wish to use this domain with Unfurl Cloud Pages, please remove it
    from your Unfurl Cloud project and delete any related DNS records.
