Auto DevOps pipeline was disabled for <%= @project.name %>

The Auto DevOps pipeline failed for pipeline <%= @pipeline.iid %> (<%= pipeline_url(@pipeline) %>) and has been disabled for <%= @project.name %>. In order to use the Auto DevOps pipeline with your project, please review the Auto DevOps documentation (https://unfurl.cloud/help/topics/autodevops/index.md), adjust your project accordingly, and turn on the Auto DevOps pipeline within your CI/CD project settings (<%= project_settings_ci_cd_url(@project) %>).

<% if @pipeline.user -%>
  Pipeline #<%= @pipeline.id %> ( <%= pipeline_url(@pipeline) %> ) triggered by <%= sanitize_name(@pipeline.user.name) %> ( <%= user_url(@pipeline.user) %> )
<% else -%>
  Pipeline #<%= @pipeline.id %> ( <%= pipeline_url(@pipeline) %> ) triggered by API
<% end -%>
<% failed = @pipeline.latest_statuses.failed -%>
had <%= failed.size %> failed <%= 'build'.pluralize(failed.size) %>.

<% failed.each do |build| -%>
  <%= render "notify/links/#{build.to_partial_path}", pipeline: @pipeline, build: build %>
  Stage: <%= build.stage_name %>
  Name: <%= build.name %>
<% end -%>
