%tr.alert
  %td{ style: "font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif; padding: 8px 16px; border-radius: 4px; font-size: 14px; line-height: 1.3; text-align: center; overflow: hidden; background-color: #d22f57; color: #ffffff;" }
    %table.img{ border: "0", cellpadding: "0", cellspacing: "0", style: "border-collapse: collapse; margin: 0 auto;" }
      %tbody
        %tr
          %td{ style: "font-family:'Helvetica Neue',Helvetica,Arial,sans-serif; vertical-align: middle; color: #ffffff; text-align: center;" }
            = s_('Notify|Auto DevOps pipeline was disabled for %{project}') % { project: @project.name }

%tr.pre-section
  %td{ style: "font-family:'Helvetica Neue',Helvetica,Arial,sans-serif; color: #333333; font-size: 14px; font-weight: 400; line-height: 1.7; padding: 16px 8px 0;" }
    The Auto DevOps pipeline failed for pipeline
    %a{ href: pipeline_url(@pipeline), style: "color: #1b69b6; text-decoration:none;" }
      = "\##{@pipeline.iid}"
    and has been disabled for
    %a{ href: project_url(@project), style: "color: #1b69b6; text-decoration: none;" }
      = @project.name + "."
    In order to use the Auto DevOps pipeline with your project, please review the Auto DevOps documentation
    %a{ href: help_page_url('topics/autodevops/index'), style: "font-family:'Helvetica Neue',Helvetica,Arial,sans-serif;" }
    adjust your project accordingly, and turn on the Auto DevOps pipeline within your
    %a{ href: project_settings_ci_cd_url(@project), style: "color: #1b69b6; text-decoration: none;" }
      CI/CD project settings.

%tr.pre-section
  %td{ style: 'text-align: center;border-bottom:1px solid #ededed' }
    %a{ href: 'https://unfurl.cloud/help/topics/autodevops/index.md', style: "font-family:'Helvetica Neue',Helvetica,Arial,sans-serif;" }
      %button{ type: 'button', style: 'border-color: #dfdfdf; border-style: solid; border-width: 1px; border-radius: 4px; font-size: 14px; padding: 8px 16px; background-color:#fff; margin: 8px 0; cursor: pointer;' }
        = s_('Notify|Learn more about Auto DevOps')

%tr.pre-section
  %td{ style: "font-family:'Helvetica Neue',Helvetica,Arial,sans-serif; color: #333333; font-size: 14px; font-weight: 400; line-height: 1.4; padding: 16px 8px; text-align: center;" }
    %table.img{ border: "0", cellpadding: "0", cellspacing: "0", style: "border-collapse:collapse;margin:0 auto;" }
      %tbody
        %tr
          - common_style = "font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif;line-height: 1.4;"
          - pipeline_link = link_to("\##{@pipeline.id}", pipeline_url(@pipeline), style: "color: #1b69b6; text-decoration: none;").html_safe
          %td{ style: "#{common_style} font-size:14px;font-weight:500;vertical-align:baseline;" }
            = s_("Notify|Pipeline %{pipeline_link} triggered by").html_safe % { pipeline_link: pipeline_link }
          - if @pipeline.user
            %td{ style: "#{common_style} font-size: 15px; vertical-align: middle; padding-right: 8px; padding-left:8px", width: "24" }
              %img.avatar{ height: "24", src: avatar_icon_for_user(@pipeline.user, 24, only_path: false), style: "display: block; border-radius: 12px; margin: -2px 0;", width: "24", alt: "" }
            %td{ style: "#{common_style} font-size: 14px; font-weight: 500; vertical-align: baseline;" }
              %a.muted{ href: user_url(@pipeline.user), style: "color: #333333; text-decoration: none;" }
                = @pipeline.user.name
          - else
            %td{ style: "font-family: 'Menlo','Liberation Mono','Consolas','DejaVu Sans Mono','Ubuntu Mono','Courier New','andale mono','lucida console',monospace; font-size: 14px; line-height: 1.4; vertical-align: baseline; padding:0 8px;" }
              = _('API')

= render 'notify/failed_builds', pipeline: @pipeline, failed: @pipeline.latest_statuses.failed
