Hi <%= sanitize_name(@user.name) %>!

<% if Gitlab::CurrentSettings.allow_signup? %>
Your account has been created successfully.
<% else %>
The Administrator created an account for you. Now you are a member of Unfurl Cloud.
<% end %>

login.................. <%= @user.email %>

<% if @user.created_by_id %>
Click here to set your password:
<%= edit_password_url(@user, :reset_password_token => @token) %>

This link is valid for <%= password_reset_token_valid_time %>. After it expires, you can request a new one here:
<%= new_user_password_url(user_email: @user.email) %>
<% end %>
