Verification has failed for one of your Unfurl Cloud Pages custom domains!

Project: #{@project.human_name} (#{project_url(@project)})
Domain:  #{@domain.domain} (#{project_pages_domain_url(@project, @domain)})

Unless you take action, it will be disabled on *#{@domain.enabled_until.strftime('%F %T')}*.
Until then, you can view your content at #{@domain.url}

Please visit
= help_page_url('user/project/pages/custom_domains_ssl_tls_certification/index.md', anchor: 'steps')
for more information about custom domain verification.

If you no longer wish to use this domain with Unfurl Cloud Pages, please remove it
from your Unfurl Cloud project and delete any related DNS records.
