Following a verification check, your Unfurl Cloud Pages custom domain has been
**disabled**. This means that your content is no longer visible at #{@domain.url}

Project: #{@project.human_name} (#{project_url(@project)})
Domain:  #{@domain.domain} (#{project_pages_domain_url(@project, @domain)})

If this domain has been disabled in error, please follow these instructions
to verify and re-enable your domain:

= help_page_url('user/project/pages/custom_domains_ssl_tls_certification/index.md', anchor: 'steps')

If you no longer wish to use this domain with Unfurl Cloud Pages, please remove it
from your Unfurl Cloud project and delete any related DNS records.
