Following a verification check, your Unfurl Cloud Pages custom domain has been
enabled. You should now be able to view your content at #{@domain.url}

Project: #{@project.human_name} (#{project_url(@project)})
Domain:  #{@domain.domain} (#{project_pages_domain_url(@project, @domain)})

Please visit
= help_page_url('user/project/pages/custom_domains_ssl_tls_certification/index.md', anchor: 'steps')
for more information about custom domain verification.
