<% source_link = member_source.web_url %>

<%= _('An Unfurl Cloud account has been created for you by your organization:') %>
<%= _('Username: %{username}') % { username: @user.username } %>
<%= _('Email: %{email}') % { email: @user.email } %>
<%= _('Unfurl Cloud group: %{source_link}').html_safe % { source_link: source_link } %>


<%# = _('By authenticating with an account tied to an Enterprise e-mail address, it is understood that this account is an Enterprise User. ') %>
<%= _('To ensure no loss of personal content, this account should only be used for matters related to %{group_name}.') % { group_name: member_source.human_name } %>
<%= _('For individual use, create a separate account under your personal email address, not tied to your organization\'s email domain or group.') %>
<%- unless @user.confirmed? %>
  <%= _('To get started, click the link below to confirm your account.') %>
  <%= confirmation_url(@user, confirmation_token: @user.confirmation_token) %>
<%- end %>
