<%= _('Hello %{name},') % { name: @name } %>

<%= _('Your account has been deactivated. You will not be able to: ') %>
  - <%= _('Access Git repositories or the API.') %>
  - <%= _('Receive any notifications from Unfurl Cloud.') %>
  - <%= _('Use slash commands.') %>

<%= _('To reactivate your account, sign in to Unfurl Cloud at %{gitlab_url}.') % { gitlab_url: root_url } %>

<%= _('Please contact Unfurl Cloud support if you think this is an error.') %>
<%= render 'layouts/mailer/user_deactivated_additional_text' %>
