<%= _('Hello %{name},') % { name: @name } %>

<%= _('Your request to join %{host} has been rejected.') % { host: root_url } %>

<%= _('Please contact Unfurl Cloud support if you think this is an error.') %>

