- confirmation_link = confirmation_url(@resource, confirmation_token: @token)
- if @resource.unconfirmed_email.present? || !@resource.created_recently?
  #content
    = email_default_heading(@email)
    %p= _('Click the link below to confirm your email address.')
    #cta
      = link_to _('Confirm your email address'), confirmation_link
- else
  #content
    - if Gitlab.com?
      = email_default_heading(_('Thanks for signing up to Unfurl Cloud!'))
    - else
      = email_default_heading(_("Welcome, %{name}!") % { name: @resource.name })
    %p= _("To get started, click the link below to confirm your account.")
    #cta
      = link_to _('Confirm your account'), confirmation_link
