= email_default_heading("Hello, #{@resource.name}!")

- if @resource.try(:unconfirmed_email?)
  %p
    We're contacting you to notify you that your email is being changed to #{@resource.reset.unconfirmed_email}.
- else
  %p
    We're contacting you to notify you that your email has been changed to #{@resource.email}.

%p
  If you did not initiate this change, please contact support@onecommons.org
  immediately.
