<%= _('Hello, %{name}!') % { name: @resource.name } %>

<%= _('The password for your Unfurl Cloud account on %{gitlab_url} has successfully been changed.') % { gitlab_url: Gitlab.config.gitlab.url } %>

<%= _('If you did not initiate this change, please contact support@onecommons.org immediately.') %>
