= email_default_heading(_("Hello, %{name}!") % { name: @resource.name })
%p
  = _('Someone, hopefully you, has requested to reset the password for your Unfurl Cloud account on %{link_to_gitlab}.').html_safe % { link_to_gitlab: Gitlab.config.gitlab.url }
%p
  = _('If you did not perform this request, you can safely ignore this email.')
%p
  = _('Otherwise, click the link below to complete the process.')
#cta
  = link_to(_('Reset password'), edit_password_url(@resource, reset_password_token: @token))
