<%= _("Hello, %{name}!") % { name: @resource.name } %>

<%= _("Someone, hopefully you, has requested to reset the password for your Unfurl Cloud account on %{link_to_gitlab}.") % { link_to_gitlab: Gitlab.config.gitlab.url } %>

<%= _("If you did not perform this request, you can safely ignore this email.") %>

<%= _("Otherwise, click the link below to complete the process:") %>

<%= edit_password_url(@resource, reset_password_token: @token) %>
