<%= _('Hello, %{name}!') % { name: @resource.name } %>

<%= _("Your Unfurl Cloud account has been locked due to an excessive number of unsuccessful sign in attempts. You can wait for your account to automatically unlock in %{duration} or you can click the link below to unlock now.") % { duration: distance_of_time_in_words(Devise.unlock_in) } %>

<%= unlock_url(@resource, unlock_token: @token) %>

<%= _('If you did not initiate these sign-in attempts, please reach out to support@onecommons.org or enable two-factor authentication (2FA) on your account.') %>
