<%= say_hi(@resource) %>

<%= _('Your Unfurl Cloud account request has been approved!') %>

<%= _('Your username is %{username}.' % { username: @resource.username }) %>

<%= _('Your sign-in page is %{url}.' % { url: Gitlab.config.gitlab.url }) %>
