- is_explore_blueprints_page = explore_controller?
- is_application_blueprint_page = @blueprint_overview == true

%section.js-uf-welcome-banner.uf-banner.uf-banner-introduction{ data: { uid: 'uf_welcome_banner_dismissed' }, class: is_explore_blueprints_page ? 'explore' : 'app-blueprint' }
  .gl-banner-content.container-fluid.container-limited.limit-container-width.gl-my-auto
    %h2.uf-banner-title= _('Welcome to Unfurl Cloud!')
    - if is_explore_blueprints_page
      = render "shared/banners/unfurl_welcome_banner_ab_text"
    - elsif is_application_blueprint_page
      = render "shared/banners/unfurl_welcome_banner_explore_text"

    %a.uf-welcome-banner-button{ href: help_path, title: _("View Tutorial"), type: 'button' } 
      = "View Tutorial"

  %button.gl-banner-close.close.js-close-session.js-close-callout{ type: 'button', 'aria-label' => _('Dismiss') }
    = sprite_icon('close', size: 16, css_class: 'dismiss-icon')