.uf-banner-subheader
  %p
    Select a blueprint or build your own.
  %p
    <strong>Deploy in minutes</strong> to your own cloud provider.
  %p
    Or run it in our open-source cloud <strong>for free!</strong>

