/*
 * This is a minimal stylesheet, meant to be used for error pages.
 */
 @import 'framework/variables';
 @import 'bootstrap/scss/functions';
 @import 'bootstrap/scss/variables';
 @import 'bootstrap/scss/mixins';
 @import 'bootstrap/scss/reboot';
 @import 'bootstrap/scss/buttons';
 @import 'bootstrap/scss/forms';
 
 $body-color: #666;
 $header-color: #456;
 
 body {
   color: $body-color;
   text-align: center;
   font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
   margin: auto;
   font-size: 0.875rem;
 }
 
 h1 {
   font-size: 56px;
   line-height: 100px;
   font-weight: 400;
   color: $header-color;
 }
 
 h2 {
   font-size: 24px;
   color: $body-color;
   line-height: 1.5em;
 }
 
 h3 {
   color: $header-color;
   font-size: 20px;
   font-weight: 400;
   line-height: 28px;
 }
 
 img {
   max-width: 80vw;
   display: block;
   margin: 25px auto;
 }
 
 a {
   text-decoration: none;
   color: $blue-600;
 }
 
 .page-container {
   margin: auto 20px;
 }
 
 .container {
   margin: auto;
   max-width: 600px;
   border-bottom: 1px solid $border-color;
   padding-bottom: 1em;
 }
 
 .action-container {
   padding: 0.5em 0;
 }
 
 .form-inline-flex {
   display: flex;
   flex-wrap: wrap;
 
   button {
     display: block;
     width: 100%;
   }
 
   .field {
     display: block;
     width: 100%;
     margin-bottom: 1em;
   }
 
   @include media-breakpoint-up(sm) {
     flex-wrap: nowrap;
 
     button {
       width: auto;
     }
 
     .field {
       margin-bottom: 0;
       margin-right: 0.5em;
       flex: 1;
     }
   }
 }
 
 .error-nav {
   padding: $gl-padding 0 0;
   text-align: center;
 
   li {
     display: block;
     padding-bottom: 1em;
   }
 
   @include media-breakpoint-up(sm) {
     li {
       display: inline-block;
       padding-bottom: 0;
 
       &:not(:first-child)::before {
         content: '\00B7';
         display: inline-block;
         padding: 0 1em;
       }
     }
   }
 }

/* OC change - issue #199 */
 .page-container {
  
  .uf-error-text {
    color: #EEEEEE;
    margin-top: 5vw;
    display: inline-block;
    justify-content: center;
  }

  .big {
    font-size: 20vw;
    font-weight: 700;
    margin-top: 4%;
    line-height: 80%;
  }

  .med {
    font-size: 2.5vw;
    line-height: 90%;
    max-width: 60vw;
  }

  .uf-footer-logo {
    max-width: 200px;
    height: auto;
    margin-left: auto;
    margin-right: auto;
  }
}