$header-bg-primary: #E3F7FF;
$header-bg-secondary: #DBDBDB;


/* TODO these should be defined elsewhere? */

$header-bg-primary-dark: #123233;
$header-bg-secondary-dark: #2F3030;

// changes for #665 (global font increase)
body {
  font-size: 100%;
}
.gl-button {
  font-size: 1rem !important;
}
.nav-item-name {
  margin-left: 0.2rem;
}
.gl-breadcrumb-list {
  .gl-avatar-s16 {
    transform: scale(1.75);
    margin-right: 0.5rem;
  }
  .gl-breadcrumb-item {
    font-size: 1rem;
  }
}
.navbar {
  .top-nav-button,
  .nav-item .nav-link,
  .header-help {
    font-size: 90%;
  }
}
[class^='nav-sidebar'] {
  font-size: 100%;
  .s16 {
    transform: scale(1.3);
    margin: 0.2rem 0;
  }
}
// #665 changes end

.btn.btn-confirm {
  background-color: #0099FF;
  border-color: #1F75CB;
  color: white;
}
.btn.btn-confirm.gl-button:not([disabled]) {
  background-color: #0099FF !important;
  color: white !important;
}

.btn.btn-danger.gl-button:not([disabled]) {
  background-color: #DD2B0E !important;
  color: white !important;
}

.btn.btn-success.gl-button:not([disabled]) {
  background-color: #217645 !important;
  color: white !important;
}



.gl-card > .gl-card-header {
  padding: 0.5rem;
  background-color: $header-bg-primary;
}



.oc-table .gl-table th {
  background-color: $header-bg-primary;
}
.gl-card-body .oc-table .gl-table th {
  background-color: $header-bg-secondary;
}

.gl-card-body .gl-card-header {
  background-color: $header-bg-secondary;
  padding: 0.25em 0.5em;
}

.gl-dark {
  .gl-card > .gl-card-header {
    background-color: $header-bg-primary-dark;
  }
  .oc-table .gl-table th {
    background-color: $header-bg-primary-dark;
  }

  .gl-card-body .oc-table .gl-table th {
    background-color: $header-bg-secondary-dark;
  }

  .gl-card-body .gl-card-header {
    background-color: $header-bg-secondary-dark;
  }
}

// OC - help page width override

[data-page^= "help"] .uf-help-sidebar {
  width: 220px !important;
}

 body[data-page^= "help"] .page-with-contextual-sidebar {
   padding-left: 220px;
   @media (max-width: 768px) {
     padding-left: 0px;
   }
 }

// OC - Help Page Markdown Additions

// If we bring back this .col-md-3 for an "On this page" sidebar, we need to nest it in a unique container--it's messing
  // with other places where .col-md-3 is used
// .col-md-3 {
//   height: 2000px;
//   padding-left: 5%;
//   overflow: visible !important;

//   .sticky {
//     top: 115px;
//     // margin-top: 20px;
//     position: -webkit-sticky;
//     position: sticky;
//     height: auto;
//     width: 100%;

//     h1, h2, h3, h4, h5, h6 {
//       color: $uf_darkgrey;
//       font-weight: 700;
//     }

//     h5 {
//       font-size: 16px;
//       border-bottom: 1px solid #eee;
//     }

//     h6 {
//       font-size: 12px;
//     }

//     li {
//       a {
//         color: $uf_darkgrey;
//         font-weight: 700;
//       }
//     }
//   }
// }

.col-md-9 {
  padding-right: 3%;
  margin: 50px 0 2em;
}

.md-container {
  margin: 5% 0px 0px 5% !important;
  max-width: 750px;

  .version {
    color:rgb(172, 172, 172);
    font-size: 16px;
    // font-weight: 700;
  }
}

.md {

  h1, h2, h3, h4 {
    color: $uf_dark_blue;
  }

  h2 {
    font-size: 40px;
    font-weight: 700;
    line-height: 60px;
    border-bottom: none;
  }

  h3 {
    margin: 24px 0 16px;
    font-size: 30px;
    font-weight: 700;
    padding-bottom: 7px;
    border-bottom: 1px solid $uf_dark_blue;
  }

  h4 {
    margin: 24px 0 16px;
    font-size: 1.2em;
  }

  ol {
    li {
      img:not(.emoji) {
        margin: 8px 0 8px;
        border-style: solid;
        border-width: 1px !important;
        border-color: rgb(172, 172, 172) !important;
      }
    }
  }
}

// projects deploy display
.deploy-display {
  margin: 0 4px 0 0;
}
