// OneCommons overrides
@import "./fonts";
@import "./framework_override";
@import "./lineheight_tweaks";

$header-left-padding: calc(min(16%, 80px));

html > * {
  font-family: "Noto Sans";
}

#logo > span.logo-text {
    display: none  !important;
}

.brand-holder {
    width: fit-content;
    min-width: 50%;
    margin: 0 auto;
}

.oc-brand-holder {
    display: flex;
    flex-direction: column;
    width: fit-content;
    color: $uf_darkgrey;
    max-width: 100%;
}

.oc-brand-holder > h2 {
    padding-left: $header-left-padding;
    color: $uf_darkgrey;
    white-space: nowrap;

    &:not(.unfurl-logo) {
        margin-top: 0;
    }
}

.login-page .unfurl-logo  {
    width: 340px;
    height: 68px;
}

.login-page svg.unfurl-logo {
    max-width: 100%;
    max-height: 100%;
}

.login-page .sign_in_text {
    font-family: "Noto Sans";
    font-style: italic;
    font-weight: lighter;
    font-size: 38px;
}

@media (max-width: 768px) {
    .brand-holder {
        margin: 0 3em 3em 3em;
    }
}

@media (max-width: 575.98px)  {
    .brand-holder {
        display: none;
    }
}
// ----------------------------------------


// Sign up Page
// ----------------------------------------
.enter-invite-code {
    border-style: solid solid none;
    background-color: $uf_light_blue;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
}

.bottom-border-rounded-only {
    border-radius: 0 0 4px 4px;
}

.invite-code.form-group {
    margin-bottom: 4px;
}
// ----------------------------------------

.uf-no-breadcrumbs {
    // padding-top: 20px;
}

.navbar-empty {
    background-color: $uf_bg_light;
}

.navbar-empty .unfurl-logo {
    height: 34px;
    width: 175px;
}

// Footer
.footer-logo .unfurl-logo  {
    width: 215px;
    height: 43px;

 /*   @media(max-width: map-get($grid-breakpoints, md)) {
        width: 155px;
    } */
}
.footer-logo.unfurl-logo {
    max-width: 20px;
}
.footer-links {

    @media(max-width: 271px) {
        height: 60px;
        margin-bottom: 0;
    }

    .d-flex.justify-content-center {
        height: inherit;
    }

    .footer-slogan {
        font-size: 18px;
        font-weight: 600;
        line-height: 24px;
        margin-top: 0.4rem;

        @media(max-width: 414px) {
            margin-top: 0.75rem;

            font-size: 1rem;
        }
        @media(max-width: 271px) {
            margin-top: 0;
            font-size: 0.8rem;
        }
    }
}

// #49 add spacing to header and buttons fork, deployments and star
.project-repo-buttons {

    @media(max-width: map-get($grid-breakpoints, md)) {
        margin-top: 1.5rem !important;
    }
}

// #49 Add space among project image and description title
.right-description {
    @media(max-width: map-get($grid-breakpoints, lg)) {
        margin-top: 1.5rem !important;
    }
}

// Project Grid on /explore page
.js-projects-list-holder {
    overflow-x: scroll;
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */

    /* Hide scrollbar for Chrome, Safari and Opera */
    &::-webkit-scrollbar {
        display: none;
    }
}

.project-oc-container {
    @include basic-list;
    overflow-x: auto;
    // column-count: 4
    font-size: .875rem;
    justify-content: center;
    margin: 16px 0px;

    display: grid;
    grid-template-columns: repeat(auto-fit, 275px);
    grid-gap: 32px;
    grid-auto-flow: dense;

    li {
        border-bottom: none !important;
    }

    .project-row {
        display: inline-block;
        background: #e0e0e0;
        width: 275px;
        padding: 0;
        border: 1.5px solid #e0e0e0 !important;
        border-radius: 12px;
        vertical-align: top;
        // box-shadow: $uf-project-tile-box-shadow;
        // -webkit-box-shadow: $uf-project-tile-box-shadow;
        // -moz-box-shadow: $uf-project-tile-box-shadow;

        .avatar-container {
            background: #E0E0E0;
            border-radius: 10.7px 10.7px 0px 0px;
            width: 100%;
            height: 252px;
            display: block !important;
            float: none !important;
            border: none !important;

            .box-unfurl-default {
                margin: 24px 0px 0px 23px;
                width: 50px;
                height: 50px;
                background: white;
                border-radius: 6px;
                box-shadow: 5px 5px 10px 0px rgba(0,0,0,0.63);
                -webkit-box-shadow: 5px 5px 10px 0px rgba(0,0,0,0.63);
                -moz-box-shadow: 5px 5px 10px 0px rgba(0,0,0,0.63);

                img {
                    margin: 8px 0px 0px 7px;
                }

            }
        }
    }
}

.uf-project-detail {
    background: #EEEEEE;
    border-radius: 0px 0px 10.7px 10.7px;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 10px;
    padding-bottom: 15px;
    height: 180px;

    .w-45 {
        width: 45% !important;
    }

    .w-55 {
        width: 55% !important;
    }

    overflow: hidden;
}

.uf-no-link {
    text-decoration: none;

    &:hover,
    &:focus {
        text-decoration: none;
    }
}

.uf-description {
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 20px;
}

.uf-truncate {
    display: -webkit-box;
    -webkit-line-clamp: var(--line-clamp, 1);
    -webkit-box-orient: vertical;
    word-break: var(--word-break, 'none');
    overflow: hidden;
    hyphens: none;
    text-align: var(--align, left);
}

.uf-badge-height {
    height: 24px;
}

.gl-button.btn-sm.uf-button {
    font-size: .75rem;
    padding-left: 0.35rem;
    padding-right: 0.35rem;
}

// List of resources on modals
.uf-faded-row {
    background: white;
    width: 97%;
    height: 65px;
    position: absolute;
    z-index: 9999;
    opacity: .5;
    @media(max-width: map-get($grid-breakpoints, md)) {
        width: 80%;
        height: 230px;
    }
}


.navbar-gitlab {

    // fixes hover appearance for unfurl cloud logo in top navbar
    .header-content .title a {
        margin: 5px 5px 0 -8px;
        padding-right: 5px;
        height: 30px;
    }

    // Sidebar changes color to active and hover ISSUE-62
    .nav {
        >li.dropdown.show {
            >a {
                color: #393939 !important;
                svg {
                    fill: #393939 !important;
                }

                &:active,
                &:hover {
                    color: #393939 !important;
                    svg {
                        fill: #393939 !important;
                    }
                }
            }
        }

        li > a {
            // OC Change
            &.header-help {

                &:focus:not(:focus-visible), &.active:focus:not(:focus-visible) {
                box-shadow: inset 0 0 0 1px rgb(158, 197, 204) !important;
                color: white !important;
                border-color: #00AEB4 !important;
                background-color: #00AEB4 !important;
                }

                &.active, &.header-help:hover {
                background-color: #00D2D9; // this is uf_primary_teal -- including the variable in this mixin was causing bugs when stylesheets include this mixin
                color: white;
                }

                &.active:hover {
                background-color: #3EE3E9 !important;
                border-color: #3EE3E9 !important;
                }
            }
        }
    }
}

.sidebar-top-level-items {
    & > li {
        a {
            color: #4A5053 !important;
        }
        &.active {
            background: #FFFFFF !important;
            &:nth-child(2) {
                background: #FFFFFF !important;
            }

            a {
                color: #393939 !important;
            }
            & > ul > li.active > a {
				color: #000000 !important;
            }
        }
    }
}

.sidebar-sub-level-items {
    & > li {
        a {
            color: #4A5053 !important;
            // font-weight: 600;
        }
    }
}

.nav-sidebar {
    ul:not(.fly-out-list) {
       > li {
            &.active {
                & > a {
                    color: #4A5053 !important;
                    // font-weight: 600;
                }
                &:not(.fly-out-top-item) {
                    & > a {
                        &:not(.has-sub-items) {
                            background-color: #fff !important;
                            color: #00D2D9 !important;
                        }
                    }
                    & > a {
                        &.has-sub-items{
                            color: #00D2D9 !important;
                        }
                    }
                }}
            & > a:hover {
                background-color: #D9F8F9 !important;
            }
        }
    }
}


.navbar-gitlab {
	.nav {
		& > li {
			&.dropdown {
				&.show {
					& > a,
                    & > a:active,
                    & > a:hover {
						color: #FFFFFF !important;
						background-color: #00D2D9 !important;

                        svg {
                            fill: #FFFFFF !important;
                        }
					}
				}
			}
		}
	}
}

.top-nav-menu-item.active, .top-nav-menu-item:hover {
	background-color: #D9F8F9 !important;
}

.top-nav-menu-item {
    color: #000 !important;
}

// sidebar fly out items
.nav-sidebar a:not(.has-sub-items) + .sidebar-sub-level-items .fly-out-top-item a,
.nav-sidebar a:not(.has-sub-items) + .sidebar-sub-level-items .fly-out-top-item a:hover,
.nav-sidebar a:not(.has-sub-items) + .sidebar-sub-level-items .fly-out-top-item.active a,
.nav-sidebar a:not(.has-sub-items) + .sidebar-sub-level-items .fly-out-top-item .fly-out-top-item-container {
    background-color: $uf_bg_light !important;
    &::before {
        border-right-color: $uf_bg_light !important;
    }
}


// top menus fix
.js-top-nav-dropdown-menu {
    a.top-nav-menu-item {
      width: 100% !important;
      justify-content: left;
      padding-left: 12px !important;
      margin-left: 0px !important;
    }
  }

.uf-explore-tight-header {
    h4 {
        font-size: 1.1rem;
    }

    h5 {
        font-size: 0.75rem;
    }
}

.uf-topics {
    display: inline-block;
    width: calc(100% + 15px);
    &.w-80 {
        width: 80% !important;
    }
    &.w-20 {
        width: 20% !important;
    }

    .badge-pill {
        vertical-align: top !important;
        background-color: #fff !important;
        box-sizing: content-box;
    }
}

.extra-topics-count {
    user-select: none;
    position: absolute;
    bottom: -1px;
    right: -20px;
}

.badge-pill {
    vertical-align: top !important;
}

.uf-prevent-wrap {
    display: inline-block;
}

// Welcome Banner
// OC Change - issue-87

.uf-banner {
    @include gl-display-flex;
    @include gl-font-base;
    // @include gl-px-8;
    @include gl-py-6;
    @include gl-rounded-base;
    @include gl-relative;
    background-image: url($uf-welcome-banner-bg-lg);
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center center;
    font-size: 18px;
    padding-bottom: 50px;

    p {
        @include gl-line-height-20;

        strong {
            font-size: 20px;
        }
    }

    @media (max-width: 1000px) {
        background-size: 150% auto;
    }

    @media (max-width: 835px) {
        background-image: url($uf-welcome-banner-bg-md);
        background-size: 100% auto;
    }

    @media (max-width: 700px) {
        background-image: url($uf-welcome-banner-bg-sm);
        background-size: 105% auto;
    }

    @media (max-width: 400px) {
        background-size: 100% auto;
    }

}

.uf-banner.explore {
    padding-left: 25%;
    padding-right: 23% !important;

    @media (max-width: 700px) {
        padding-left: 85px;
        padding-right: 85px !important;
    }

    @media (max-width: 550px) {
        padding-left: 65px;
        padding-right: 65px !important;
    }

}

.uf-banner.app-blueprint {

    @media (max-width: 1700px) {
        background-image: url($uf-welcome-banner-bg-app-bp-lg);
    }

    @media (max-width: 750px) {
        background-image: url($uf-welcome-banner-bg-app-bp-md);
        padding-right: 15%;
    }

    @media (max-width: 450px) {
        background-image: url($uf-welcome-banner-bg-app-bp-sm);
    }

}

.uf-banner-introduction {

    .uf-banner-title {
        color: #00D2D9;
        font-size: 32px;
        margin: 15px auto 20px;
    }

    .uf-banner-subheader {
        line-height: 24px;
        margin-bottom: 35px;
    }

    .uf-welcome-banner-button {
        background-color: #00D2D9;
        color: white;
        font-size: 16px;
        border-radius: 3px;
        padding: 5px 20px;

        &:hover {
        text-decoration: none;
        background-color: #70e5e9;
        }
    }
}

// Unfurl Help Pages Sidebar
.uf-help-sidebar {
    background-color: white;
    border-right: solid 1px #EEEEEE;

    &> .nav-sidebar-inner-scroll > .context-header {
        margin-top: .35rem;
    }

    .uf-sidebar-subsection {
        margin-left: 10px;
    }
}

.uf-help-sidebar-header {
    padding-left: 0.75rem !important;

    .js-lazy-loaded {
        height: 25px;
        width: 25px;
    }
}


// Unfurl Help Pages

.documentation.md {

    // This "div" styling is a temporary solution to make "On this page" look at least semi-decent - John G
    div {
        padding: 15px 25px 0px 15px;
        border: solid 1px black;
        border-radius: 10px;
        width: fit-content;
    }

    .section-nav {
        list-style-type: none;

        li:first-child > strong {
            color: black;
            visibility: collapse;
        }

        li:first-child > ul > li > a {
            visibility: visible;
        }

        li {
            list-style-type: none;
            margin-left: 0;
        }

        li > a {
            color: black;
        }
    }
}

.documentation.md > p:first-child {
    margin-bottom: -15px;
}

.uf-help-footer-logo {
    max-width: 125px;
    height: auto;
    margin-left: auto;
    margin-right: auto;
}


// Unfurl Help Landing Page Cards

.uf-cards {
    display: flex;
    column-gap: 15px;
    margin-bottom: 15px;
    padding-top: 10px;
    padding-bottom: 10px;

    @media(max-width: 850px) {
        justify-content: start;
    }

    @media(max-width: 670px) {
        column-count: 2;
    }

    @media(max-width: 415px) {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        columns: none;
    }

    .card-text {
        height: auto;
        color: black;
    }

    a:link { text-decoration: none; }
    a:visited { text-decoration: none; }
    a:hover { text-decoration: none; }
    a:active { text-decoration: none; }

    .main {
        display: flex;
        flex-direction: column;
        align-items: center;
        border: 1px solid lightgray;
        border-radius: 10px;
        background-color: $uf_lightgrey;
        height: 10rem;
        width: 230px;
        padding: 18% 1.2rem 1.2rem;

        @media(max-width: 415px) {
            margin-bottom: 15px;
        }

        &:hover {
            background-color: $uf_bg_light;
            box-shadow: 0 0 15px $uf_primary_teal;
        }

        .card-text {
            font-size: 1rem;

            p {
                margin-bottom: 5px;
            }
        }

        .unfurl-logo {
            display: flex;
            justify-content: right;
            margin-top: 10px;
            margin-right: 10px;
            margin-bottom: 5px;
            width: 100%;

            img{
                height: 35px;
            }
        }
    }
}

.hide {
    display: hide;
}

// dashboard quantity-cards

[class*="qcard"] .card {
    background-color: #f4f4f4;
}
.qcard3 .card {
   background-color: #e2fbeb;
}

.qcard4 .card {
    background-color: #fff4f4;
 }

// hacky changes for project sidebar dashboard button
// it may be better just to use aside.nav-sidebar
aside.nav-sidebar li.context-header a {
  margin: 1rem 0 !important;
  & span.sidebar-context-title {
    white-space: nowrap;
  }
}

// hacky changes for project sidebar dashboard button
aside.nav-sidebar.sidebar-collapsed-desktop li.context-header a {
  justify-content: center;

  & img.gl-avatar {
    margin-right: 0;
  }
}

/* 15.11  stuff */
table.gl-table tr :is(td, th) {
  color: $gl-text-color;
}

div.top-bar-container {
  min-height: 0;
}

.gl-breadcrumbs {
  padding-top: 1rem;
  padding-bottom: 1rem;
  border-width: 0;
  box-shadow: inset 0 -1px 0 0 #525252;
}

.uf-help-sidebar :is(strong, .sidebar-context-title) {
  width: unset !important;
  height: unset !important;
  clip: unset !important;
}
/* 15.11 */
