// OneCommons Colors
$oc_bg_blue: #edfcfa !default;
$oc_primary_blue: #3cb8ef !default;
$uf_dark_blue: #07215B;
$uf_light_blue: #e3f7ff;

$dt_bg_green: #F9FFDA !default;
$dt_primary_green: #AED900 !default;
$dt_btn-outline_green : #8BAD00 !default;
$btn-dt_green: #AED900 !default;
$dt_lightgrey: #EEEEEE  !default;

$uf_bg_light: #EDFCFA !default;
$uf_primary_teal: #00D2D9 !default;
$uf_btn-outline_teal : #02E5ED !default;
$btn-uf_teal: #00D2D9 !default;
$uf_lightgrey: #EEEEEE !default;
$uf_darkgrey: #4A5053;
$uf_box_shadow_grey: rgba(110, 110, 110, 0.521);


$button-navbar-color: #000000 !default;

// dark mode vars

// text
$darkmode-bright:  rgba(#FFFFFF, .87);
$darkmode-white:  rgba(#FFFFFF, .6);
$darkmode-disabled:  rgba(#FFFFFF, .38);

// colors
$darkmode-black:  #121212;
$darkmode-blue:  #0099FF;
$darkmode-light: #EDFCFA;
$darkmode-dark: #2F3030;
$darkmode-darkgreen: #123233;
$darkmode-green: #134C45;
$darkmode-grey: #626464;
$darkmode-red: #4d0a00; // = red-950 (not dark override)


// Welcome Banner
$uf-welcome-banner-bg-lg: '/oc/assets/images/uf_welcome_banner_bg.svg';
$uf-welcome-banner-bg-md: '/oc/assets/images/uf_welcome_banner_bg_md.svg';
$uf-welcome-banner-bg-sm: '/oc/assets/images/uf_welcome_banner_bg_sm.svg';
$uf-welcome-banner-bg-app-bp-lg: '/oc/assets/images/uf_welcome_banner_bg_app_bp_lg.svg';
$uf-welcome-banner-bg-app-bp-md: '/oc/assets/images/uf_welcome_banner_bg_app_bp_md.svg';
$uf-welcome-banner-bg-app-bp-sm: '/oc/assets/images/uf_welcome_banner_bg_app_bp_sm.svg';
// dark mode
$uf-welcome-banner-bg-lg-dark: '/oc/assets/images/uf_welcome_banner_bg_dark.svg';
$uf-welcome-banner-bg-md-dark: '/oc/assets/images/uf_welcome_banner_bg_md_dark.svg';
$uf-welcome-banner-bg-sm-dark: '/oc/assets/images/uf_welcome_banner_bg_sm_dark.svg';
$uf-welcome-banner-bg-app-bp-lg-dark: '/oc/assets/images/uf_welcome_banner_bg_app_bp_lg_dark.svg';
$uf-welcome-banner-bg-app-bp-md-dark: '/oc/assets/images/uf_welcome_banner_bg_app_bp_md_dark.svg';
$uf-welcome-banner-bg-app-bp-sm-dark: '/oc/assets/images/uf_welcome_banner_bg_app_bp_sm_dark.svg';



// Project Tiles
$uf-project-tile-box-shadow: -3px 3px 5px 0px $uf_box_shadow_grey;
$uf-project-avatar-box-shadow: -5px 5px 5px 0px $uf_box_shadow_grey;


:root {
  --header-height: 40px;
}
