@import 'page_bundles/mixins_and_variables_and_functions';
@import './onecommons_variables';
input.gl-form-input {

  &:-webkit-autofill {

    &,
    &:hover,
    &:focus,
    &:active {
      -webkit-background-clip: text;
      -webkit-text-fill-color: #ffffff;
      transition: background-color 5000s ease-in-out 0s;
    }
  }

}

// just using .ui-dark for higher priority
.ui-dark.login-page .form-control {

  &:active,
  &:focus {
    background-color: $gray-50;
  }
}

body.gl-dark {
    // getting started
  .md {
    h3 {
      border-bottom: 1px solid $uf_darkgrey;
    }
  }
  .uf-cards {
    .main {
      background-color: $darkmode-black;
    }
    .card-text {
      color: $darkmode-bright;
    }
  }
  .documentation.md {
    div {
      border-color: $darkmode-disabled;
    }
    .section-nav li > a {
      color: $darkmode-white;
    }
  }

  // dashboard navs & badges
  .gl-tab-nav-item-active-indigo {
    box-shadow: inset 0 -4px 0 0 $uf_primary_teal !important;
  }
  .gl-badge.badge-muted {
    // I'm not sure what this was for -- Andrew
    // background-color: #F0F0F0 !important;
    // color: #000 !important;
  }
  .filter-container input {
    background-color: $darkmode-dark !important;
  }
  .badge.badge-pill:not(.gl-badge) {
    background-color: $darkmode-grey !important;
  }

// OC specific

  // tables
  .oc-table {

    border: none !important;
    background-color: $darkmode-black !important;

    .expanded-row {
      background-color: $darkmode-dark !important;
      border-top: 1px solid  $darkmode-grey !important;
    }
    .gl-table {

      border-radius: 4px;
      border: 1px solid $darkmode-dark;

      thead {
        position: relative;

        &::before {
          content: '';
          width: 100%;
          position: absolute;
          height: 100%;
          background-color: $darkmode-dark;
          border-radius: 4px 4px 0 0;
          z-index: 0;
        }
      }
      tr {
        border-color: transparent !important;

        &.b-table-empty-row center {
          margin-bottom: 1rem;
        }
        .deployment-controls .gl-icon {
          color: $darkmode-bright !important;
        }
      }
      th {
        border-width: 0px !important;
        color: $darkmode-bright !important;
        position: relative;
        z-index: 1;
        background-color: transparent !important;


      }
    }
  }
}
.navbar-sub-nav,
.navbar-nav {
  .nav-item .nav-link {
    color: $darkmode-white !important;

  }
  li {
    .top-nav-button {
      color: $darkmode-white !important;
    }
    .active.top-nav-button, .top-nav-button:hover {
      border-bottom-color: transparent !important;
      background-color: $uf_primary_teal !important;
      // color: $gray-950 !important;
      color: $darkmode-black !important;
      border-radius: 4px;
    }
  }
}
.top-nav-menu-item {
  color: $darkmode-white !important;
}
.top-nav-menu-item.active, .top-nav-menu-item:hover {
  background-color: $uf_primary_teal !important;
  color: $gray-10 !important;
}

.sidebar-top-level-items {
  & > li {
      a {
          color:  $darkmode-white !important;
      }
      &.active {

          &:nth-child(2) {
            background: transparent !important;
          }

          a {
              color:  $gray-600 !important;
          }
      }
  }
}
// fly out menu when sidebar collapsed
.sidebar-top-level-items > li.active > ul > li.active > a,
.sidebar-sub-level-items > li a {
          color: $darkmode-bright !important;
}

.nav-sidebar {
  ul:not(.fly-out-list) {
  > li {
      .nav-item-name {
        color: $darkmode-white !important;
      }
      & > a:hover {
        color:  $darkmode-bright !important;
        background-color:  $darkmode-grey !important;
        .nav-item-name {
          color:  $darkmode-bright !important;
        }
      }
      &.active {
        > a, a:hover {
          .nav-item-name {
            color: $uf_primary_teal !important;
          }
        }
        box-shadow: none !important;
        background: #3E4040 !important;
        position: relative;

        &:before {
          content: '';
          position: absolute;
          height: 100%;
          left:0;
          border: 2px solid $uf_primary_teal;
        }

        .nav-icon-container svg {
          fill: $uf_primary_teal !important;
        }

        &:not(.fly-out-top-item) {
          & > a {
            background-color: #3E4040 !important;
            // color:  $uf_primary_teal  !important;

            &:not(.has-sub-items) {
              background-color: #3E4040 !important;
            }
            &.has-sub-items{
                // color:  $uf_primary_teal !important;
            }
          }
        }
      }
    }
    &:not(.js-sidebar-collapsed) {
      li > a {
        color: $darkmode-white !important;
        &:hover {
          border-radius: 0 !important;
        }
      }
    }
  }
  ul.fly-out-list {
    > li {

      .fly-out-top-item-name {
        color: $darkmode-white !important;
        font-weight: normal !important;
      }

      &.active {
        > a, a:hover {

          background-color: transparent !important;

        }
      }
    }
  }
}

// sidebar fly out items
.nav-sidebar a:not(.has-sub-items) + .sidebar-sub-level-items .fly-out-top-item a,
.nav-sidebar a:not(.has-sub-items) + .sidebar-sub-level-items .fly-out-top-item a:hover,
.nav-sidebar a:not(.has-sub-items) + .sidebar-sub-level-items .fly-out-top-item.active a,
.nav-sidebar a:not(.has-sub-items) + .sidebar-sub-level-items .fly-out-top-item .fly-out-top-item-container {
    background-color: $darkmode-grey !important;
    &::before {
      border-right-color:  $darkmode-grey !important;
  }
}


.navbar-gitlab {
	.nav {
		& > li {
			&.dropdown {
				&.show {
					& > a, & > a:active, & > a:hover {

						color: #FFFFFF !important;
						background-color: #00D2D9 !important;

            svg {
              fill: #FFFFFF !important;
            }
					}
				}
			}
		}
	}
}


.project-oc-container {
  // color: $darkmode-black !important;
  .project-row {
    background: none !important;
    border: 1px solid $darkmode-grey !important;
  }
}

.uf-project-detail {
  background-color: $darkmode-black;

  .uf-description {
    color: $darkmode-white;
  }
}

// dashboard quantity-cards

[class*="qcard"] .card span{
  color: $darkmode-bright;
}
.qcard1 .card {
  background: linear-gradient(180deg, #00D2D9 0%, #2F3030 100%);
}
.qcard2 .card {
  background: linear-gradient(180deg, rgba(20, 0, 254, 0.3) 0%, #2F3030 100%);
}
.qcard3 .card {
  background: linear-gradient(180deg, #399B60 0%, rgba(57, 155, 96, 0.2) 100%);
}
.qcard4 .card {
  background: linear-gradient(180deg, #094F6B 0%, rgba(9, 79, 107, 0.2) 100%);
}

//banners
.uf-banner {
  background-image: url($uf-welcome-banner-bg-lg-dark);

  @media (max-width: 835px) {
    background-image: url($uf-welcome-banner-bg-md-dark);
  }

  @media (max-width: 700px) {
      background-image: url($uf-welcome-banner-bg-sm-dark);
  }
}
.uf-banner.app-blueprint {

  @media (max-width: 1700px) {
      background-image: url($uf-welcome-banner-bg-app-bp-lg-dark);
  }

  @media (max-width: 750px) {
      background-image: url($uf-welcome-banner-bg-app-bp-md-dark);
      padding-right: 15%;
  }

  @media (max-width: 450px) {
      background-image: url($uf-welcome-banner-bg-app-bp-sm-dark);
  }
}
.uf-banner-introduction {

  .uf-welcome-banner-button {
      color: $darkmode-black;
      font-weight: 600;
  }
}

// fix anchor icons for help page
.md h1 a.anchor::after,
.md h2 a.anchor::after,
.md h3 a.anchor::after,
.md h4 a.anchor::after,
.md h5 a.anchor::after,
.md h6 a.anchor::after {
  filter: brightness(0.4) invert(1);
}


// #OcAppDeployments (mostly styled in unfurl-gui project)
#OcAppDeployments {
  .gl-card {

    background-color: $darkmode-black;

    & > .gl-card-header {
      background-color: $darkmode-dark;
    }
  }
  .gl-card h4, .gl-card h5,
  .oc_table_row,
  .oc-table-section .title,
  .detail-heading {
    color: $darkmode-bright !important;
  }
  .li-inner {
    color: $darkmode-blue !important;
  }
  // turn icons white (commented out to test hue-rotate + invert)
  /*
  .custom-icon > img {
    filter: brightness(0) invert(1);
  }
  */
}

// oc fix to remove space at bottom of table
.oc-table {
  border-bottom: none !important;
}
[class*="table-responsive-"] {
  margin-bottom: 0 !important;
}
table, .table-body, .control-cell.left {
  border-width: 0px !important;
}
// dropdown checkmark fix #696
.dropdown-menu-selectable { // see framework/dropdowns.scss
  li {
    a,
    button,
    .dropdown-item:not(.open-with-link) {
      &.is-active {
        /* stylelint-disable-next-line function-url-quotes */
        background: url(asset_path('checkmark_darkmode.png')) no-repeat 14px center;
      }
    }
  }
}
