- add_page_specific_style 'page_bundles/login'
!!! 5
%html.devise-layout-html{ class: system_message_class }
  = render "layouts/head", { startup_filename: 'signin' }
  %body.ui-dark.login-page.application.navless{ class: "#{client_class_list}", data: { page: body_data_page, qa_selector: 'login_page' } }
    = header_message
    = render "layouts/init_client_detection_flags"
    .page-wrap
      = render "layouts/header/empty"
      .login-page-broadcast
        = render "layouts/broadcast"
      .container.navless-container
        .content
          = render "layouts/flash"
          .row.mt-3
            .col-sm-12
              %h1.mb-3.font-weight-normal
                = current_appearance&.title.presence
          .row.mb-3
            .col-md-6.order-12.order-sm-1.brand-holder
              - unless recently_confirmed_com?
                -# OC change - onecommons logo invisible in login page:
                -# = brand_image
                - if current_appearance&.description?
                  = brand_text
                - else
                  -# OC change:
                  %div.oc-brand-holder
                    .sign_in_text
                      = current_appearance&.title.presence || _('Welcome to')
                    %h2.unfurl-logo
                      = render(partial: 'shared/logo_white', formats: :svg)
                    %h2
                      = _(' The maker space for a ')
                    %h2
                      = _(' better Internet.')

              - if Gitlab::CurrentSettings.sign_in_text.present?
                = markdown_field(Gitlab::CurrentSettings.current_application_settings, :sign_in_text)

              = render_if_exists 'layouts/devise_help_text'

            .col-md-6.order-1.new-session-forms-container{ class: recently_confirmed_com? ? 'order-sm-first' : 'order-sm-12' }
              = yield

      = render 'devise/shared/footer', footer_message: footer_message
