- header_title _("Explore"), explore_root_path

- unless current_user
  -# OC change:
  - header_title _("Explore Unfurl Cloud"), explore_root_path

- @left_sidebar = true
- nav "explore"


= render template: "layouts/application"
