<%= text_header_message %>

<%= yield -%>

-- <%# signature marker %>
<%  if @target_url -%>
<%    if @reply_by_email -%>
<%=     "Reply to this email directly or view it on Unfurl Cloud: #{@target_url}" -%>
<%    else -%>
<%=     "View it on Unfurl Cloud: #{@target_url}" -%>
<%    end -%>
<%  end -%>

<%= notification_reason_text(reason: @reason) %>
<%= render_if_exists 'layouts/mailer/additional_text' %>

<%= text_footer_message -%>
