<%= text_header_message %>

<%= yield -%>

-- <%# signature marker %>
<%= _("Unfurl Cloud makes it incredibly easy to deploy and run software in your own cloud accounts in just minutes.") %>
<%= render_if_exists 'layouts/mailer/additional_text' %>

<%= text_footer_message %>
