= content_for :footer do
  %tr.footer
    %td.gitlab-info
      %p.gitlab-info-text
        = html_escape(_("Unfurl Cloud makes it incredibly easy to deploy and run software in your own cloud accounts in just minutes."))

= render 'layouts/mailer'
