@import './theme_helper';
@import 'onecommons_variables';

body {
  &.ui-indigo {
    @include gitlab-theme(black,
      $uf_primary_teal,
      $uf_primary_teal,
      $uf_bg_light,
      $uf_lightgrey );

    .sidebar-top-level-items>li.active {
      background: $uf_bg_light;
    }

    .sidebar-top-level-items>li.active a {
      color: $uf_primary_teal;
    }

    .gl-tab-nav-item-active-indigo {
      box-shadow: inset 0 -2px 0 0 $uf_primary_teal;
    }
  }
}
